@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@{
    
    var opr = Newtouch.Common.Operator.OperatorProvider.GetCurrent();
    //医保所属地
    var medicalInsurance = SysConfigReader.String("Outpatient_MedicalInsurance");
}

<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#xz" data-toggle="tab">下载类目录</a></li>
    <li><a href="#cx" data-toggle="tab">查询类目录</a></li>
    <li><a href="#zdcx" data-toggle="tab">字典表查询</a></li>
    <li><a href="#yzry" data-toggle="tab">医执人员信息查询</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="xz">
        <form>
            <div class="panel panel-default">
                <table class="form">
                    <tr>
                        <th class="formTitle">目录：</th>
                        <td class="formValue" style="width:220px;">
                            <select id="XZNR" name="XZNR" class="form-control">
                                <option value="">============请选择===========</option>
                                <option value="1301">【1301】西药中成药目录下载</option>
                                <option value="1302">【1302】中药饮片目录下载</option>
                                <option value="1303">【1303】医疗机构制剂目录下载</option>
                                <option value="1305">【1305】医疗服务项目目录下载</option>
                                <option value="1306">【1306】医用耗材目录下载</option>
                                <option value="1307">【1307】疾病与诊断目录下载</option>
                                <option value="1308">【1308】手术操作目录下载</option>
                                <option value="1309">【1309】门诊慢特病种目录下载</option>
                                <option value="1310">【1310】按病种付费病种目录下载</option>
                                <option value="1311">【1311】日间手术治疗病种目录下载</option>
                                <option value="1313">【1313】肿瘤形态学目录下载</option>
                                <option value="1314">【1314】中医疾病目录下载</option>
                                <option value="1315">【1315】中医证候目录下载</option>
                                <option value="1320">【1320】中药配方颗粒目录下载</option>
                                <option value="1321">【1321】医疗服务项目（新）目录下载</option>

                            </select>
                        </td>
                        <td class="formTitle">版本号：</td>
                        <td class="formValue">
                            <input type="text" id="BBH" class="form-control" value="0000" />
                        </td>

                        @*<td class="formTitle" colspan="2">
                                <input type="button" id="XiaZai" class="btn btn-primary btn-md" value="目录文件下载" style="width:85px" />
                                <input type="button" id="XZDownloadIndex" class="btn btn-primary btn-md" value="目录文件导入(数据)" style="width:95px" />
                            </td>*@
                        <td class="formTitle">
                            <input type="button" id="XiaZai" class="btn btn-primary btn-md" value="目录文件下载" style="width:85px" />

                        </td>
                        <td class="formValue"><input type="button" id="XZDownloadIndex" class="btn btn-primary btn-md" value="数据导入" style="width:80px" /></td>
                        <td class="formTitle" style="text-align:right;">目录名称(名称)：</td>
                        <td class="formValue">
                            <input type="text" id="mlmc" class="form-control" value="" style="width:105px" />
                        </td>
                        <td class="formTitle">
                            <input type="button" id="btn_cx" class="btn btn-primary btn-md" style="float:left" value="查询" />
                        </td>
                    </tr>
                    <tr>

                        <td class="formTitle"> 目录文件路径:</td>
                        <td class="formValue">
                            <input type="text" id="filesUrl" class="form-control" value="" />
                        </td>
                        <td class="formTitle"> 文件名:</td>
                        <td class="formValue">
                            <input type="text" id="filename" class="form-control" value="" />
                        </td>
                        <td class="formTitle"> 编号: </td>
                        <td class="formValue">
                            <input type="text" id="jybh" class="form-control" value="" />
                        </td>

                        <td class="formTitle"></td>
                        <td class="formValue"></td>

                    </tr>
                    <tr>
                        <td class="formTitle" style="text-align:left; color:red" colspan="4">
                            <span>
                                备注:(目录文件下载)将目录下载至本地 路径可查看上方文本框,首次下载版本号传“0000” 【1305】传'F001_0000_A' &nbsp;&nbsp;(目录文件导入)将数据导入到数据列表中 操作下载后请等待5-10分钟再操作导入
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="gridPanel" id="gridPanel1">
                <table id="gridList"></table>
                <div id="gridPager"></div>
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="cx">
        <form>
            <div class="panel panel-default">
                <table class="form">
                    <tr>
                        <th class="formTitle">*目录：</th>
                        <td class="formValue">
                            <select id="btmlcx" name="btmlcx" class="form-control">
                                <option value="">============请选择===========</option>
                                <option value="1304">【1304】民族药品目录查询</option>
                                <option value="1312">【1312】医保目录信息查询</option>
                                <option value="1316">【1316】医疗目录与医保目录匹配信息查询</option>
                                <option value="1317">【1317】医药机构目录匹配信息查询</option>
                                <option value="1318">【1318】医保目录限价信息查询</option>
                                <option value="1319">【1319】医保目录先自付比例信息查询</option>

                            </select>
                        </td>
                        <td class="formTitle">*当前页数:</td>
                        <td class="formValue">
                            <input type="text" id="pagenum" class="form-control" style="height:26px;width:90px;display:inline" value="" />
                            <input type="button" id="btn_mlcx_next" class="btn btn-primary btn-md" value="下一页" />
                        </td>
                        <td class="formTitle">*本页数据量:</td>
                        <td class="formTitle">
                            <input type="text" id="pagesize" class="form-control" style="height:16px" value="" />
                        </td>
                        <td class="formTitle">*更新时间:</td>
                        <td class="formValue">
                            <input id="gxsj" type="text" class="form-control input-wdatepicker" style="width:120px; float:left;margin-left:1%;" value="@DateTime.Now.AddDays(-180).ToString("yyyy-MM-dd")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">药品名称:</td>
                        <td class="formValue">
                            <input type="text" id="drugName" class="form-control" value="" />
                        </td>
                        <td class="formTitle">
                            <input type="button" id="btn_mlcx" class="btn btn-primary btn-md" value="查询" />
                        </td>
                        <td class="formValue"></td>
                        <td class="formTitle"></td>
                        <td class="formValue"></td>
                    </tr>
                </table>
            </div>
            <div class="gridPanel" id="gridPanel2" style="width:100%">
                <table id="gridList2"></table>
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="zdcx">
        <form>
            <div class="panel panel-default">
                <table class="form">
                    <tr>
                        <td class="formTitle">字典类型:</td>
                        <td class="formValue">
                            <input type="text" id="zdtype" class="form-control" value="" />
                        </td>
                        <td class="formTitle" style="padding-right:5px;">父字典键值:</td>
                        <td class="formValue">
                            <input type="text" id="zdparentValue" class="form-control" value="" />
                        </td>
                        <td class="formTitle" style="padding-right:5px;">行政区划:</td>
                        <td class="formValue">
                            <input type="text" id="zdadmdvs" class="form-control" value="" />
                        </td>
                        <td class="formTitle" style="padding-right:5px;">查询日期:</td>
                        <td class="formValue">
                            <input id="zddate" type="text" class="form-control input-wdatepicker" style="width:120px; float:left;margin-left:1%;" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                        </td>
                        @*<td class="formTitle" style="padding-right:5px;">有效标志:</td>
                            <td class="formValue">
                                <input type="text" id="zdvaliFlag" class="form-control" value="" />
                            </td>*@
                        <td class="formTitle" style="padding-right:5px;">
                            <input type="button" id="btn_zdcx" class="btn btn-primary btn-md" value="查询" style="width:60px;" />
                        </td>
                    </tr>
                </table>
                <div class="gridPanel" id="gridPanel3" style="width:100%">
                    <table id="gridList3"></table>
                </div>
            </div>
        </form>
    </div>

    <div class="tab-pane fade" id="yzry">
        <form>
            @*<div class="panel panel-default">*@
            <table class="form" style="width:350px;">
                <tr>
                    <td class="formTitle">执业人员类型:</td>
                    <td class="formValue">
                        <select id="prac_psn_type" name="prac_psn_type" class="form-control">
                            <option value="">======请选择=====</option>
                            <option value="1">医师</option>
                            <option value="2">护士</option>
                            <option value="3">药师</option>
                            <option value="4">医技人员</option>
                        </select>
                    </td>
                    <td class="formTitle" style="padding-right:5px;">
                        <input type="button" id="btn_yzry" class="btn btn-primary btn-md" value="查询" style="width:60px;" />
                    </td>
                </tr>
            </table>
            <div class="gridPanel" id="gridPanel4" style="width:100%">
                <table id="gridList4"></table>
            </div>
            @*</div>*@
        </form>
    </div>

</div>

<script type="text/javascript" src="@SiteUrl.GetStaticResourceScriptUrl("~/Content/js/PatientManage/HospiterRes/Catalogl.js",false)"></script>
<script type="text/javascript">

        var operatorId = '@(opr.rygh)';
        var operatorName = '@(opr.UserName)';
        //var operatorId ="kfadmin" ;
        //var operatorName = '管理员';

        $(function () {
            $("#pagenum").val(1);
            $("#pagesize").val(100);
        });

        $('#XZNR').change(function () {
            newtouch_event_f4();

            //var XZNR = $('#XZNR').val();
            $('#gridList').remove();
            $("#gridPager").remove();
            $("#gbox_gridList").remove();
            $("#gridPanel1").append('<table id="gridList"></table><div id="gridPager"></div>');
            $('#gridList').jqGrid("clearGridData");
            GetVer();
            gridList();
        })

        function GetVer() {
            $.ajax({
                url: "/PatientManage/HospiterRes/GetVer",
                dataType: "json",
                async: true,
                data: { tbname: $('#XZNR').val() },
                type: "post",
                success: function (data) {
                    $("#BBH").val(data);
                }
            })
        }
        function gridList() {
            var $gridList = $("#gridList");
            var XZNR = $('#XZNR').val();
            $gridList.dataGrid({
                url: "/PatientManage/HospiterRes/CatalogueData",
                height: $(window).height() - 160,
                postData: { tbname: XZNR, key: $('#mlmc').val() },
                colModel: mlbh(XZNR),
                pager: "#gridPager",
                sortname: 'VER',
                rowNum: '15',
                viewrecords: true
            });

            $("#btn_cx").click(function () {
                $gridList.jqGrid('setGridParam', {
                    postData: { tbname: XZNR, key: $('#mlmc').val() },
                }).trigger('reloadGrid');
            });
        }

        $('#XiaZai').click(function () {
            setTimeout(function () {
                $.loading(true, '下载目录文件中...');
                setTimeout(function () { XiaZai(); }, 50);
            }, 50);
        })

        $('#XZDownloadIndex').click(function () {
            setTimeout(function () {
                $.loading(true, '数据导入中...');
                setTimeout(function () { XZDownloadIndex(); }, 50);
            }, 50);
        })


        function XiaZai() {
            //post_9102("202110121294247366921975884.txt.zip","fsi/plc/5252323e95464b29b0167b8457cad4","1301","0000","1");

            var XZNR = $('#XZNR').val();
            var bbh = $('#BBH').val();
            $.ajax({
                url: "http://127.0.0.1:33333/api/YiBao/DownloadIndex",
                //url: "/PatientManage/HospiterRes/abc",
                dataType: "json",
                async: false,
                data: { ver: bbh, tradiNumber: XZNR, type: "0" },
                type: "post",
                success: function (data) {
                    //console.info(eval(data).output);
                    var Returndata = eval('(' + data + ')');
                    if (Returndata != 'undefined') {
                        if (Returndata.infcode == 0 || Returndata.infcode == "0") {
                            var result = Returndata.output;
                            var filename = result.filename;
                            var file_qury_no = result.file_qury_no;
                            //var fixmedins_code = "plc";
                            // console.info(filename, file_qury_no, fixmedins_code);
                            //var filename = "202110121294247366921975884.txt.zip";
                            //var file_qury_no = "fsi/plc/5252323e95464b29b0167b8457cad4";
                            //var fixmedins_code = "plc";
                            var types = 1;

                            post_9102(filename, file_qury_no, XZNR, bbh, types);

                        }
                        else {
                            $.modalAlert(Returndata.err_msg, "error");
                            $.loading(false);
                        }
                    }
                }

            })


        }

        function post_9102(filename, file_qury_no, XZNR, bbh, types) {

            $.ajax({
                //url: "/PatientManage/HospiterRes/XZDownloadIndex",
                url: "http://127.0.0.1:33333/api/YiBao/DownloadIndex",
                dataType: "json",
                async: false,
                data: { filename: filename, file_qury_no: file_qury_no, tradiNumber: XZNR, type: types, ver: bbh },
                type: "post",
                success: function (data) {
                    if (data != 'error') {
                        $("#filesUrl").val(data);
                        $("#filename").val(filename);
                        $("#jybh").val(XZNR);
                        $.loading(false);
                        $.modalAlert("目录正在后台下载中，请等待5-10分钟再操作导入！", 'warning');

                        //XZDownloadIndex(data, XZNR, filename); filesUrl filename jybh
                    }
                },
                Error: function (data) {
                    $.loading(false);
                    $.modalAlert(data, "error");
                }
            })
        }
        //files, XZNR, filename
        function XZDownloadIndex() {
            $.ajax({
                //url: "/PatientManage/HospiterRes/XZDownloadIndex",
                url: "http://127.0.0.1:33333/api/YiBao/InsertData9102",
                dataType: "json",
                async: false,
                data: { files: $("#filesUrl").val(), tradiNumber: $("#jybh").val(), filename: $("#filename").val(), columnNum: columnNum($("#jybh").val()) },
                //data: { files: "D:\\YBDownload\\1307\\202108121825124890601661764.txt.zip", tradiNumber: "1307", filename: "202108121825124890601661764.txt.zip" },
                type: "post",
                success: function (data) {
                    if (data == 'Success') {
                        $.loading(false);
                        $.modalAlert('下载成功', 'success');
                        pageInit(XZNR);
                    }
                    else {
                        $.modalAlert("目录写入数据库失败:" + data, 'warning');
                    }
                },
                error: function (request, error, ex) {
                    $.loading(false);
                    $.modalAlert("目录存入数据库失败：[" + ex + "]", 'warning');
                }

            })
        }
        //目录查询类
        $('#btmlcx').change(function () {
            $('#gridList2').remove();
            $("#gbox_gridList2").remove();
            $("#gridPanel2").append('<table id="gridList2"></table>');
            $('#gridList2').jqGrid("clearGridData");
            gridList2();
        })
        function CatalogQuery() {
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetCatalogData",
                dataType: "json",
                data: dyxsData,
                async: false,
                success: function (data) {
                    var TbMzReg = eval('(' + data + ')');
                    if (TbMzReg) {
                        if (TbMzReg.infcode === 0 && !!TbMzReg.output.trtinfo) {
                            gridListData(TbMzReg.output.trtinfo, type);
                        }
                        else {
                            gridListData("", type);
                            $.modalAlert(TbMzReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        }
        function gridList2() {
            var $gridList2 = $("#gridList2");
            var btnMlbh = $("#btmlcx").val();
            //var mydata = [{ "insu_admdvs": "130500", "hilist_pric_uplmt_amt": "11000.0", "poolarea_no": "130500", "opt_time": "2021-07-01 09:38:52", "hilist_code": "C0202020010100504254-32H04", "opter_id": "1602836620770002506", "crter_name": null, "rid": "131100202103171600573443159129", "crte_optins_no": null, "begndate": "2000-01-01 00:00:00", "tabname": "YIYONGCAILIAO", "enddate": "2021-06-30 00:00:00", "hilist_lmtpric_type": "904", "crte_time": "2021-03-17 16:00:57", "opter_name": "邢台市", "optins_no": "S13050010088", "vali_flag": "1", "crter_id": null, "overlmt_dspo_way": "1", "updt_time": "2021-07-01 09:39:18" }, { "insu_admdvs": "130500", "hilist_pric_uplmt_amt": 648.0, "poolarea_no": "130500", "opt_time": "2021-07-01 09:39:45", "hilist_code": "C0202020010100504254-32H04", "opter_id": "1602836620770002506", "crter_name": "邢台市", "rid": "130000202107010940073400348301", "crte_optins_no": "S13050010088", "begndate": "2021-07-01 00:00:00", "tabname": "YIYONGCAILIAO", "enddate": null, "hilist_lmtpric_type": "904", "crte_time": "2021-07-01 09:40:07", "opter_name": "邢台市", "optins_no": "S13050010088", "vali_flag": "1", "crter_id": "1602836620770002506", "overlmt_dspo_way": "1", "updt_time": "2021-07-01 09:40:07" }];

            $gridList2.newtouchLocalDataGrid({
                height: $(window).height() - 160,
                autowidth: false,
                unwritten: false,
                // width: $("#formPat2").width() - 10,
                //caption: captionCon,
                colModel: mlbh(btnMlbh),
            }, DirectoryQuery());

        }

    $("#btn_mlcx").click(function () {
            $('#gridList2').remove();
            $("#gbox_gridList2").remove();
            $("#gridPanel2").append('<table id="gridList2"></table>');
            $('#gridList2').jqGrid("clearGridData");
            gridList2();
    });

    $("#btn_mlcx_next").click(function () {
            $('#gridList2').remove();
            $("#gbox_gridList2").remove();
            $("#gridPanel2").append('<table id="gridList2"></table>');
            $('#gridList2').jqGrid("clearGridData");
            gridList2();
        });

        function newtouch_event_f4() {
            $("#filesUrl").val("");
            $("#filename").val("");
            $("#jybh").val("");
        }
        //目录编号对应列数
        function columnNum(key) {
            var column = {
                '1301': '92', '1302': '29', '1303': '78', '1305': '16', '1306': '71',
                '1307': '24', '1308': '24', '1309': '16', '1310': '15', '1311': '15', '1313': '11', '1314': '14', '1315': '14', '1320': '44', '1321': '34'
            };
            return column[key];
        }
        //目录查询返回值
        function DirectoryQuery() {
            var ResultData;
            var drug_prodname = $("#drugName").val();
            if (drug_prodname == "" || drug_prodname == undefined) {
                drug_prodname = "";
            }
            var updt_time = $('#gxsj').val();
            var page_num = $('#pagenum').val();
            var page_size = $('#pagesize').val();
            var tradiNumber = $("#btmlcx").val();
            $.loading(true, '数据加载中...');
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetCatalogData",
                dataType: "json",
                data: { updt_time: updt_time, page_num: page_num, page_size: page_size, tradiNumber: tradiNumber, drug_prodname: drug_prodname, vali_flag:"1", operatorId: operatorId, operatorName: operatorName},
                //data: { updt_time: "2021-06-26", page_num: "1", page_size: "100", tradiNumber: "1304", drug_prodname: "", vali_flag: "1", operatorId: operatorId, operatorName: operatorName},
                async: false,
                success: function (data) {
                    //console.info(data);
                    ResultData = eval('(' + data + ')');
                    ResultData = ResultData.output.data;
                },
                error: function () {
                    $.loading(false);
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
            $.loading(false);
            return ResultData;
        }

        //字典表查询
        $("#btn_zdcx").click(function () {
            var type = $('#zdtype').val();
            if (!type) {
                $.modalAlert("字典类型不能为空！", 'warning');
                return false;
            }
            var parentValue = $('#zdparentValue').val();
            //if (!parentValue) {
            //    $.modalAlert("父字典键值不能为空！", 'warning');
            //    return false;
            //}
            var admdvs = $('#zdadmdvs').val();
            if (!admdvs) {
                $.modalAlert("行政区划不能为空！", 'warning');
                return false;
            }
            var date = $('#zddate').val();
            if (!date) {
                $.modalAlert("查询日期不能为空！", 'warning');
                return false;
            }
            $('#gridList3').remove();
            $("#gbox_gridList3").remove();
            $("#gridPanel3").append('<table id="gridList3"></table>');
            $('#gridList3').jqGrid("clearGridData");
            gridList3();

        });

        function gridList3() {
            var $gridList3 = $("#gridList3");
            //var mydata = [{ "insu_admdvs": "130500", "hilist_pric_uplmt_amt": "11000.0", "poolarea_no": "130500", "opt_time": "2021-07-01 09:38:52", "hilist_code": "C0202020010100504254-32H04", "opter_id": "1602836620770002506", "crter_name": null, "rid": "131100202103171600573443159129", "crte_optins_no": null, "begndate": "2000-01-01 00:00:00", "tabname": "YIYONGCAILIAO", "enddate": "2021-06-30 00:00:00", "hilist_lmtpric_type": "904", "crte_time": "2021-03-17 16:00:57", "opter_name": "邢台市", "optins_no": "S13050010088", "vali_flag": "1", "crter_id": null, "overlmt_dspo_way": "1", "updt_time": "2021-07-01 09:39:18" }, { "insu_admdvs": "130500", "hilist_pric_uplmt_amt": 648.0, "poolarea_no": "130500", "opt_time": "2021-07-01 09:39:45", "hilist_code": "C0202020010100504254-32H04", "opter_id": "1602836620770002506", "crter_name": "邢台市", "rid": "130000202107010940073400348301", "crte_optins_no": "S13050010088", "begndate": "2021-07-01 00:00:00", "tabname": "YIYONGCAILIAO", "enddate": null, "hilist_lmtpric_type": "904", "crte_time": "2021-07-01 09:40:07", "opter_name": "邢台市", "optins_no": "S13050010088", "vali_flag": "1", "crter_id": "1602836620770002506", "overlmt_dspo_way": "1", "updt_time": "2021-07-01 09:40:07" }];

            $gridList3.newtouchLocalDataGrid({
                height: $(window).height() - 160,
                autowidth: false,
                unwritten: false,
                // width: $("#formPat2").width() - 10,
                //caption: captionCon,
                colModel: mlbh("1901"),
            }, DictionaryTable());

        }


        //字典表查询返回值
        function DictionaryTable() {
            var type = $('#zdtype').val();
            var parentValue = $('#zdparentValue').val();
            var admdvs = $('#zdadmdvs').val();
            var date = $('#zddate').val();
            //var valiFlag = $('#zdvaliFlag').val();
            var ResultData;
            $.loading(true, '数据加载中...');
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/DictionaryTable",
                dataType: "json",
                data: { type: type, parentValue: parentValue, admdvs: admdvs, date: date, tradiNumber: "1901", vali_Flag: "1", operatorId: operatorId, operatorName: operatorName },
                //data: { updt_time: "2021-06-26", page_num: "1", page_size: "100", tradiNumber: "1304", drug_prodname: "", vali_flag: "1", operatorId: operatorId, operatorName: operatorName},
                async: false,
                success: function (data) {
                    //console.info(data);
                    ResultData = eval('(' + data + ')');
                    ResultData = ResultData.output.list;
                },
                error: function () {
                    $.loading(false);
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
            $.loading(false);
            return ResultData;
        }


        $('#prac_psn_type').change(function () {
            newtouch_event_f4();

            $('#gridList4').remove();
            $("#gridPager4").remove();
            $("#gbox_gridList4").remove();
            $("#gridPanel4").append('<table id="gridList4"></table><div id="gridPager4"></div>');
            $('#gridList4').jqGrid("clearGridData");
            MedicalExecutive();
        })


        //医执人员信息查询
        $("#btn_yzry").click(function () {
            $('#gridList4').remove();
            $("#gbox_gridList4").remove();
            $("#gridPanel4").append('<table id="gridList4"></table>');
            $('#gridList4').jqGrid("clearGridData");
            MedicalExecutive();
        });
        function MedicalExecutive() {
            var $gridList4 = $("#gridList4");
            $gridList4.newtouchLocalDataGrid({
                height: $(window).height() - 160,
                autowidth: false,
                unwritten: false,
                // width: $("#formPat2").width() - 10,
                //caption: captionCon,
                colModel: [
                    { label: '人员证件类型', name: 'psn_cert_type', width: 100, align: 'left' },
                    { label: '证件号码', name: 'certno', width: 100, align: 'left' },
                    { label: '执业人员自编号', name: 'prac_psn_no', width: 100, align: 'left' },
                    { label: '执业人员代码', name: 'prac_psn_code', width: 100, align: 'left' },
                    { label: '执业人员姓名', name: 'prac_psn_name', width: 100, align: 'left' },
                    { label: '执业人员分类', name: 'prac_psn_type', width: 60, align: 'left' },
                    { label: '执业人员资格证书编码', name: 'prac_psn_cert', width: 60, align: 'left' },
                    { label: '执业证书编号', name: 'prac_cert_no', width: 60, align: 'left' },
                    { label: '医保医师标志', name: 'hi_dr_flag', width: 60, align: 'left' },
                    { label: '开始时间', name: 'begntime', width: 100, align: 'left' },
                    { label: '结束时间', name: 'endtime', width: 100, align: 'left' },
                    { label: '变更原因', name: 'chg_rea', width: 100, align: 'left' }
                ]
            }, MedicalExecutiveData());

        }
        function MedicalExecutiveData() {
            debugger
            var prac_psn_type = $('#prac_psn_type').val();
            var ResultData;
            $.loading(true, '数据加载中,请稍后...');
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/MedicalExecutive",
                dataType: "json",
                data: { prac_psn_type: prac_psn_type, operatorId: operatorId, operatorName: operatorName },
                async: false,
                success: function (data) {
                    //console.info(data);
                    ResultData = eval('(' + data + ')');
                    ResultData = ResultData.output.feedetail;
                },
                error: function () {
                    $.loading(false);
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
            $.loading(false);
            return ResultData;
        }


</script>


