@using Newtouch.Common.Operator
@using Newtouch.Infrastructure
@{
    ViewBag.Title = "医保病人信息";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@{
    //是否和新农合交易
    var openXnhSett = SysConfigReader.Bool("Inpatient_Sett_OpenXnhSett");
    //是否和医保交易
    var openYbSett = SysConfigReader.Bool("Outpatient_ChargeFee_OpenYbSett");
    //医保患者必须一次结掉
    bool? ybSettOnce = (openYbSett ?? false) && (SysConfigReader.Bool("Outpatient_ChargeFee_yb_SettOnce") ?? false);
    var opr = OperatorProvider.GetCurrent();
    //医保所属地
    var medicalInsurance = SysConfigReader.String("Outpatient_MedicalInsurance");
}
<style type="text/css">
    .form .formTitleTh {
        position: relative;
        left: 0px;
        text-align: right;
        white-space: nowrap;
        font-weight: normal;
        width: 120px;
        padding-right: 0px;
    }

    .form .formTitleAccount {
        position: relative;
        left: 0px;
        text-align: right;
        white-space: nowrap;
        font-weight: normal;
        width: 200px;
        padding-right: 0px;
    }

    .form .formValueYb {
        position: relative;
        width: auto;
        padding: 5px;
        text-align: left;
    }
</style>

<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#jzxxcx" data-toggle="tab">就诊信息查询</a>
    </li>
    <li>
        <a href="#yljgxxcx" data-toggle="tab">医疗机构信息查询</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="jzxxcx">
        <div class="panel panel-default" style="margin-bottom: 4px;">
            <div class="panel-heading navb-bg">
                筛选条件
            </div>

            <div style="padding-right:20px;">
                <table class="form">
                    <tr>
                        <th class="formTitle">类型：</th>
                        <td class="formValue" style="width:180px">
                            @Html.DropDownList("sel_rptype", EnumYbQuery.rydyxs.ToDescSelectList(), new { @class = "form-control form-an" })
                        </td>
                        <th class="formTitle">开始日期：</th>
                        <td class="formValue">
                            <input id="kssj" type="text" class="form-control input-wdatepicker form-an"
                                   onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" value="@(DateTime.Now.ToString("yyyy-MM-01"))"/>
                        </td>
                        <th class="formTitle">结束日期：</th>
                        <td class="formValue">
                            <input id="jssj" type="text" class="form-control input-wdatepicker form-an"
                                   onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" value="@(DateTime.Now.ToString("yyyy-MM-dd"))"/>
                        </td>
                        <td class="formTitle" style="width:50px">
                            <input type="button" class="btn btn-default btn-md btn-default-color" id="btkhsr" value="查询" onclick="GetYbInfo()"/>
                        </td>
                        <td class="formValue">
                            @Html.Partial("YibaoRedCardCommon")
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">医疗类别：</th>
                        <td class="formValue" style="width: 180px">
                            @Html.DropDownList("sel_yllb", Enumyllb.ptmz.ToDescSelectList(), new { @class = "form-control form-an" })

                        </td>
                        <th class="formTitle">结算ID：</th>
                        <td class="formValue">
                            <input type="text" id="settId" name="settId" class="form-control" style="width:150px"/>
                        </td>
                        <th class="formTitle">就诊ID：</th>
                        <td class="formValue">
                            <input type="text" id="jzId" name="jzId" class="form-control" style="width:150px"/>
                        </td>
                        <td class="formValue">
                            <input type="button" class="btn btn-default btn-md btn-default-color" id="btkhsr" value="签退" onclick="SiginOut()"/>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom: 4px;">
            <div class="panel-heading navb-bg">
                基本信息
            </div>
            <div style="padding-right:0px; text-align:center">
                <table class="form">
                    <tr>
                        <th class="formTitleTh">人员编号：</th>
                        <td class="formValueYb" style="width: 120px;">
                            <label id="rybh"></label>
                        </td>
                        <th class="formTitleTh">证件号码：</th>
                        <td class="formValueYb" style="width: 120px;">
                            <label id="zjhm"></label>
                        </td>
                        <td class="formTitleTh">姓名：</td>
                        <td class="formValueYb">
                            <label id="xm"></label>
                        </td>
                        <td class="formTitleTh">性别：</td>
                        <td class="formValueYb">
                            <label id="xb"></label>
                        </td>
                        @*<th class="formTitleTh">民族：</th>
                            <td class="formValueYb">
                                <label id="mz"></label>
                            </td>*@

                    </tr>
                    <tr>
                        <th class="formTitleTh">出生日期：</th>
                        <td class="formValueYb">
                            <label id="csny"></label>
                        </td>
                        <th class="formTitleTh">年龄：</th>
                        <td class="formValueYb">
                            <label id="nl"></label>
                        </td>

                    </tr>

                </table>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom: 4px;">
            <div class="panel-heading navb-bg">
                信息列表
            </div>
            <div style="padding-right:20px;">
                <form id="formPat2">
                    <div class="gridPanel" style="margin-top:10px;border-radius:5px;">
                        @*<table id="gridList"></table>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
    @* 医疗结构信息查询 tap *@
    <div class="tab-pane fade" id="yljgxxcx">
        <div class="panel panel-default" style="margin-bottom: 4px;">
            <div class="panel-heading navb-bg">
                筛选条件
            </div>

            <div style="padding-right:20px;">
                <table class="form">
                    <tr>
                        <th class="formTitle">类型：</th>
                        <td class="formValue" style="width:180px">
                            @Html.DropDownList("sel_jgcxtype", EnumYbJGQuery.jgxx.ToDescSelectList(), new { @class = "form-control form-an" })
                        </td>
                        <th class="formTitle 1201-show">医药机构名称：</th>
                        <td class="formValue 1201-show" style="width: 180px">
                            <input type="text" id="fixmedins_name" name="fixmedins_name" class="form-control" style="width:150px" />
                        </td>
                        <th class="formTitle  1201-show">医药机构编号：</th>
                        <td class="formValue  1201-show">
                            <input type="text" id="fixmedins_code" name="fixmedins_code" class="form-control" style="width:150px" />
                        </td>
                        <th class="formTitle time-show">开始日期：</th>
                        <td class="formValue  time-show">
                            <input id="jg_kssj" type="text" class="form-control input-wdatepicker form-an" style="width:150px"
                                   onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" value="@(DateTime.Now.ToString("yyyy-MM-01"))" />
                        </td>
                        <th class="formTitle  time-show">结束日期：</th>
                        <td class="formValue  time-show">
                            <input id="jg_jssj" type="text" class="form-control input-wdatepicker form-an" style="width:150px"
                                   onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" />
                        </td>
                        <td class="formTitle 3607-show">*当前页数:</td>
                        <td class="formValue 3607-show  style="width:150px"">
                            <input type="text" id="page_num" class="form-control" style="height:26px;width:90px;display:inline" value="" />
                            <input type="button" id="btn_mlcx_next" class="btn btn-primary btn-md" value="下一页" />
                        </td>
                        <td class="formTitle 3607-show">*本页数据量:</td>
                        <td class="formTitle 3607-show">
                            <input type="text" id="page_size" class="form-control" style="height:16px" value="" />
                        </td>
                        <td class="formTitle" style="width:50px">
                            <input type="button" class="btn btn-default btn-md btn-default-color" id="jg_btkhsr" value="查询" onclick="GetYbJGInfo()" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle 35-show">医药机构目录编码：</th>
                        <td class="formValue 35-show" style="width: 180px">
                            <input type="text" id="medins_list_codg" name="medins_list_codg" class="form-control" style="width:150px" />
                        </td>
                        <th class="formTitle 35-show">定点医药机构批次流水号：</th>
                        <td class="formValue 35-show">
                            <input type="text" id="fixmedins_bchno" name="fixmedins_bchno" class="form-control" style="width:150px" />
                        </td>
                        <th class="formTitle 35-show">医疗目录编码：</th>
                        <td class="formValue 35-show">
                            <input type="text" id="med_list_codg" name="med_list_codg" class="form-control" style="width:150px" />
                        </td>
                        <th class="formTitle 35-show">就诊ID：</th>
                        <td class="formValue 35-show">
                            <input type="text" id="mdtrt_id" name="mdtrt_id" class="form-control" style="width:150px" />
                        </td>
                        <td class="formTitle 3607-show">*结算年月:</td>
                        <td class="formValue 3607-show">
                            <input id="setl_ym" type="text" class="form-control input-wdatepicker" style="width:120px; float:left;margin-left:1%;" value="@DateTime.Now.ToString("yyyyMM")" onfocus="WdatePicker({ dateFmt: 'yyyyMM' })" />
                        </td>
                        <th class="formTitle 3607-show">结算ID：</th>
                        <td class="formValue 3607-show">
                            <input type="text" id="setl_id" name="setl_id" class="form-control" style="width:150px" />
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom: 4px;">
            <div style="padding-right:20px;">
                <form id="jg_formPat">
                    <div class="jg_gridPanel" style="margin-top:10px;border-radius:5px;">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    var openYbSett = '@openYbSett' === 'True'; //开关配置：医保患者是否使用医保交易流程
    var ybSettOnce = '@ybSettOnce' === 'True'; //开关配置：医保患者是否一次结
    var medicalInsurance = '@medicalInsurance';//医保所属地配置:区分医院所属医保区域
        var cqPatInfo = {};//患者读卡信息

    $('#jzId').newtouchBatchFloatingSelector({
        width: 700,
        height: 200,
        caption: "选择就诊",
        clickautotrigger: true,
        url: "/PatientManage/HospiterRes/Getjzjsxx",
        ajaxparameters: function ($thisinput) {
            var jzid = $thisinput.val().trim();
            return "keyword=" + jzid + "&grbh=" + cqPatInfo.grbh + "&type=1";
        },
        itemdbclickhandler: function ($thistr, $thisinput) {
            $("#jzId").val($thistr.attr("data-jzid"));
        },
        colModel: [
            { label: '门诊住院号', name: 'zymzh', width: 120, align: 'left' },
            { label: '类型', name: 'type', width: 50, align: 'center' },
            { label: '就诊ID', name: 'jzid', width: 150, align: 'center' },
            { label: '就诊时间', name: 'jzsj', width: 200, align: 'center' }
        ]
    });
    $('#settId').newtouchBatchFloatingSelector({
        width: 700,
        height: 200,
        caption: "选择就诊",
        clickautotrigger: true,
        url: "/PatientManage/HospiterRes/Getjzjsxx",
        ajaxparameters: function ($thisinput) {
            var jsid = $thisinput.val().trim();
            return "keyword=" + jsid + "&grbh=" + cqPatInfo.grbh + "&type=2";
        },
        itemdbclickhandler: function ($thistr, $thisinput) {
            $("#settId").val($thistr.attr("data-jylsh"));
        },
        colModel: [
            { label: '门诊住院号', name: 'zymzh', width: 120, align: 'left' },
            { label: '类型', name: 'type', width: 50, align: 'center' },
            { label: '结算ID', name: 'jylsh', width: 150, align: 'center' },
            { label: '就诊ID', name: 'jzid', width: 150, align: 'center' },
            { label: '结算时间', name: 'jssj', width: 200, align: 'center' }
        ]
    });

    function SiginOut()
    {
        var siginout = { operatorId: '@(opr.rygh)', operatorName: '@(opr.UserName)', sign_no:"" };

        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:33333/api/YiBao/DoSigin9002",
            dataType: "json",
            data: siginout,
            async: false,
            success: function (data) {
                var qtReg = eval('(' + data + ')');
                if (qtReg) {
                    if (qtReg.infcode == "0" && !!qtReg.output.signoutoutb.sign_time) {
                        $.modalAlert("签退成功", 'success');
                    }
                }
            },
            error: function () {
                $.modalAlert("服务不可访问", 'warning');
            }
        });
    }

    function GetYbInfo()
    {
        var type = $('#sel_rptype').val();
        if (type=="1")
        {
            var dyxsData = { begntime: $('#kssj').val(),psn_no: cqPatInfo.grbh, insutype:cqPatInfo.xzlx,med_type: $('#sel_yllb').val(), operatorId: '@(opr.rygh)', operatorName: '@(opr.UserName)', insuplc_admdvs: cqPatInfo.xzqh };

            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetPersonnelTreatment_2001",
                dataType: "json",
                data: dyxsData,
                async: false,
                success: function (data) {
                    var TbMzReg = eval('(' + data + ')');
                    if (TbMzReg) {
                        if (TbMzReg.infcode == "0" && !!TbMzReg.output.trtinfo) {
                            gridListData(TbMzReg.output.trtinfo,type);
                        }
                        else {
                            gridListData("", type);
                            $.modalAlert(TbMzReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });

        }
        else if(type=="2")
        {
            var rcData = { begntime: $('#kssj').val(), endtime: $('#jssj').val(), med_type:'21', mdtrt_id: $('#jzId').val(), psn_no: cqPatInfo.grbh, operatorId: '@(opr.rygh)', operatorName: '@(opr.UserName)', insuplc_admdvs: cqPatInfo.xzqh };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetRegistration_5201",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0" && !!refReg.output.mdtrtinfo) {
                            gridListData(refReg.output.mdtrtinfo, type);
                        }
                        else {
                            gridListData("", type);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        }
        else if (type == "3") {
            var rcData = { setl_id: $('#settId').val(), mdtrt_id: $('#jzId').val(), psn_no: cqPatInfo.grbh, operatorId: '@(opr.rygh)', operatorName: '@(opr.UserName)', insuplc_admdvs: cqPatInfo.xzqh };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetDiagnosis_5202",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0" && !!refReg.output.diseinfo) {
                            gridListData(refReg.output.diseinfo, type);
                        }
                        else {
                            gridListData("", type);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        }
        else if (type == "4") {
            var rcData = { setl_id: $('#settId').val(), mdtrt_id: $('#jzId').val(), psn_no: cqPatInfo.grbh, operatorId: '@(opr.rygh)', operatorName: '@(opr.UserName)', insuplc_admdvs: cqPatInfo.xzqh };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetHospitaSettlement_5203",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    debugger;
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0" && !!refReg.output.setlinfo) {
                            gridListData(refReg.output.setlinfo, type);
                        }
                        else {
                            gridListData("", type);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        }
        else if (type == "5") {
            var rcData = { setl_id: $('#settId').val(), mdtrt_id: $('#jzId').val(), psn_no: cqPatInfo.grbh, operatorId: '@(opr.rygh)', operatorName: '@(opr.UserName)', insuplc_admdvs: cqPatInfo.xzqh };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetHospitaSettlement_5204",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0" && !!refReg.output) {
                            gridListData(refReg.output, type);
                        }
                        else {
                            gridListData("", type);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        }
        else if (type == "6") {
            var rcData = { begntime: $('#kssj').val(), endtime: $('#jssj').val(), psn_no: cqPatInfo.grbh, operatorId: '@(opr.rygh)', operatorName: '@(opr.UserName)', insuplc_admdvs: cqPatInfo.xzqh };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetSpecialDisease_5205",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0" && !!refReg.output.feedetail) {
                            gridListData(refReg.output.feedetail, type);
                        }
                        else {
                            gridListData("", type);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        }
        else if (type == "7") {
            var rcData = { psn_no: cqPatInfo.grbh, operatorId: '@(opr.rygh)', operatorName: '@(opr.UserName)', insuplc_admdvs: cqPatInfo.xzqh };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetPeopleTotalInfo_5206",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0" && !!refReg.output.cuminfo) {
                            gridListData(refReg.output.cuminfo, type);
                        }
                        else {
                            gridListData("", type);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        }
        else if (type == "8") {
            var tsbData = { psn_no: cqPatInfo.grbh, operatorId: '@(opr.rygh)', operatorName: '@(opr.UserName)', insuplc_admdvs: cqPatInfo.xzqh };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/SlowDisease_5301",
                dataType: "json",
                data: tsbData,
                async: false,
                success: function (data) {
                    var TbMzReg = eval('(' + data + ')');
                    if (TbMzReg) {
                        if (TbMzReg.infcode == "0" && !!TbMzReg.output.feedetail) {
                            gridListData(TbMzReg.output.feedetail, type);
                        }
                        else {
                            gridListData("", type);
                            $.modalAlert(TbMzReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });

        }
        else if (type == "9") {
            var rcData = { biz_appy_type:"01", psn_no: cqPatInfo.grbh, operatorId: '@(opr.rygh)', operatorName: '@(opr.UserName)', insuplc_admdvs: cqPatInfo.xzqh };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetPersonnel_5302",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0" && !!refReg.output.psnfixmedin) {
                            gridListData(refReg.output.psnfixmedin, type);
                        }
                        else {
                            gridListData("", type);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        }
        else if (type == "10") {
            var rcData = { begntime: $('#kssj').val(), endtime: $('#jssj').val(), psn_no: cqPatInfo.grbh, operatorId: '@(opr.rygh)', operatorName: '@(opr.UserName)', insuplc_admdvs: cqPatInfo.xzqh };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetInHospital_5303",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0" && !!refReg.output.data) {
                            gridListData(refReg.output.data, type);
                        }
                        else {
                            gridListData("", type);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        }
        else if (type == "11") {
            var rcData = { begntime: $('#kssj').val(), psn_no: cqPatInfo.grbh, operatorId: '@(opr.rygh)', operatorName: '@(opr.UserName)', insuplc_admdvs: cqPatInfo.xzqh };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetTurnHospital_5304",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0" && !!refReg.output.refmedin) {
                            gridListData(refReg.output.refmedin, type);
                        }
                        else {
                            gridListData("", type);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        }

    }

    //待遇享受列表
    function gridListData(mydata, type) {
        var colModel;

        var captionCon = "";
        switch (type) {
            case '1':
                captionCon = "待遇享受列表";
                colModel = [
        { label: '人员编号', name: 'psn_no', width: 105,align: 'center' },
        {
            label: '待遇检查类型', name: "trt_chk_type", width: 105, align: 'center', formatter: function (val) {
                return $.enum.getDescByValue("Enumdyjclx", val);
            }
        },
         {
             label: '基金支付类型编码', name: 'fund_pay_type', width: 105, align: 'center'
         },
        { label: '基金支付类型', name: 'fund_pay_type', width: 105, align: 'center', formatter: function (val) {
            return $.enum.getDescByValue("Enumjjzflx", val);
        }
        },

        {
            label: '基金款项待遇享受标志', name: 'trt_enjymnt_flag', width: 105, align: 'center', formatter: function (val) {
                return $.enum.getDescByValue("Enumdyxsbz", val);
            }
        },
        { label: '开始日期', name: 'begndate', width: 105, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
        { label: '结束日期', name: 'enddate', width: 125, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
        { label: '待遇检查结果', name: 'trt_chk_rslt', width: 105, align: 'center' },
                ];
                break;
            case "2":
                captionCon = "就诊信息";
                colModel = [
       { label: '就诊ID', name: 'mdtrt_id', width: 55,  align: 'center' },
       { label: '开始时间', name: 'begntime', width: 105, formatter: "number", align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
       { label: '结束时间', name: 'endtime', width: 105, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
       { label: '住院/门诊号', name: 'ipt_otp_no', width: 105, align: 'center' },
       { label: '主治医生编码', name: 'atddr_no', width: 105, align: 'center' },
       { label: '主诊医师姓名', name: 'chfpdr_name', width: 105, align: 'center'},
       { label: '科室编码', name: 'adm_dept_codg', width: 85, align: 'center' },
       { label: '科室名称', name: 'adm_dept_name', width: 85, align: 'center' },
       { label: '病种编码', name: 'dise_codg', width: 85, align: 'center' },
        { label: '病种名称', name: 'dise_name', width: 85, align: 'center' },
                ];
                break;
            case "3":
                captionCon = "诊断信息";
                colModel = [
      { label: '就诊ID', name: 'mdtrt_id', width: 55, align: 'center' },
      {
          label: '诊断类别', name: 'diag_type', width: 105, formatter: function (val) {
              return $.enum.getDescByValue("Enumzdlx", val);
          }
      },
      {
          label: '主诊断标志', name: 'maindiag_flag', width: 105, align: 'center', formatter: function (val) {
              return $.enum.getDescByValue("Enumdyxsbz", val);
          }
      },
      { label: '诊断代码', name: 'diag_code', width: 60, align: 'center' },
      { label: '诊断名称', name: 'diag_name', width: 105, align: 'center' },
      { label: '诊断科室', name: 'diag_dept', width: 105, align: 'center' },
      { label: '诊断医生编码', name: 'dise_dor_no', width: 85, align: 'center' },
      { label: '诊断医生姓名', name: 'dise_dor_name', width: 105, align: 'center' },
      { label: '诊断时间', name: 'diag_time', width: 105, align: 'center',formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
                ];
                break;
            case "4":
                captionCon = "结算信息";
                colModel = [
     { label: '结算ID', name: 'setl_id', width: 85, align: 'center' },
     { label: '就诊 ID', name: 'mdtrt_id', width: 85 },
     { label: '开始日期', name: 'begndate', width: 105, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
     { label: '结束日期', name: 'enddate', width: 105, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
     { label: '结算时间', name: 'setl_time', width: 105, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
     { label: '医疗费总额', name: 'medfee_sumamt', width: 85, align: 'center' },
     { label: '统筹基金', name: 'hifp_pay', width: 85, align: 'center' },
     { label: '公务补助', name: 'cvlserv_pay', width: 85, align: 'center' },
     { label: '企业补助', name: 'hifes_pay', width: 85, align: 'center' },
     { label: '居民大病', name: 'hifmi_pay', width: 85, align: 'center' },
     { label: '职工大额', name: 'hifob_pay', width: 85, align: 'center' },
     { label: '医疗救助', name: 'maf_pay', width: 85, align: 'center' },
     { label: '个人支付', name: 'psn_pay', width: 85, align: 'center' },
     { label: '个人账户', name: 'acct_pay', width: 85, align: 'center' }
                ];
                break;
            case "5":
                captionCon = "费用明细";
                colModel = [
     { label: '结算ID', name: 'setl_id', width: 65, align: 'center' },
     { label: '就诊ID', name: 'mdtrt_id', width: 65 },
     { label: '费用流水号', name: 'feedetl_sn', width: 65, align: 'center' },
     { label: '数量', name: 'cnt', width: 55, align: 'center'},
     { label: '单价', name: 'pric', width: 55, align: 'center' },
     { label: '总额', name: 'det_item_fee_sumamt', width: 60, align: 'center' },
     { label: '全自费金额', name: 'fulamt_ownpay_amt', width: 60, align: 'center' },
     { label: '超限价金额', name: 'overlmt_amt', width: 60, align: 'center' },
     { label: '先行自付金额', name: 'preselfpay_amt', width: 60, align: 'center' },
     { label: '符合政策范围', name: 'inscp_scp_amt', width: 60, align: 'center' },
     { label: '医保目录编码', name: 'hilist_code', width: 80, align: 'center' },
     { label: '医保目录名称', name: 'hilist_name', width: 100, align: 'center' },
     { label: '医疗目录编码', name: 'med_list_codg', width: 100, align: 'center' },
     { label: '开单科室编码', name: 'bilg_dept_codg', width: 70, align: 'center' },
     { label: '开单科室名称', name: 'bilg_dept_name', width: 100, align: 'center' }
                ];
                break;
            case "6":
                captionCon = "人员慢特病用药记录";
                colModel = [
     { label: '费用流水号', name: 'feedetl_sn', width: 105, align: 'center' },
     { label: '数量', name: 'cnt', width: 105, align: 'center' },
     { label: '单价', name: 'pric', width: 105, align: 'center' },
     { label: '费用发生时间', name: 'fee_ocur_time', width: 125, align: 'center' },
      { label: '医保目录编码', name: 'hilist_code', width: 105, align: 'center' },
     { label: '医保目录名称', name: 'hilist_name', width: 105, align: 'center' },
     { label: '医疗目录编码', name: 'med_list_codg', width: 105, align: 'center' },
     { label: '医药机构目录编码', name: 'medins_list_codg', width: 105, align: 'center' },
     { label: '医药机构目录名称', name: 'medins_list_name', width: 105, align: 'center' }

                ];
                break;
            case "7":
                captionCon = "人员累计信息";
                colModel = [
     {
         label: '险种类型', name: 'insutype', width: 105, align: 'center', formatter: function (val) {
             return $.enum.getDescByValue("Enumxzlx", val);
         }
     },
     { label: '年度', name: 'year', width: 105, align: 'center' },
     { label: '累计年月', name: 'cum_ym', width: 105, align: 'center' },
     { label: '累计类别代码', name: 'cum_type_code', width: 125, align: 'center' },
      { label: '累计值', name: 'cum', width: 105, align: 'center' }

                ];
                break;
            case "8":
                captionCon = "人员特殊病备案查询";
                colModel = [
     { label: '门慢门特病种目录代码', name: 'opsp_dise_code', width: 105, align: 'center' },
     { label: '门慢门特病种名称', name: 'opsp_dise_name', width: 405, align: 'center' },
     { label: '开始日期', name: 'begndate', width: 105, align: 'center' },
     { label: '结束日期', name: 'enddate', width: 105, align: 'center' }

                ];
                break;
            case "9":
                captionCon = "人员定点信息查询";
                colModel = [
     {
         label: '险种类型', name: 'insutype', width: 105, align: 'center', formatter: function (val) {
             return $.enum.getDescByValue("Enumxzlx", val);
         }
     },
     { label: '定点排序号', name: 'fix_srt_no', width: 105, align: 'center' },
     { label: '定点医药机构编号', name: 'fixmedins_code', width: 105, align: 'center' },
     { label: '定点医药机构名称', name: 'fixmedins_name', width: 125, align: 'center' },
     { label: '开始日期', name: 'begndate', width: 105, align: 'center' },
     { label: '结束日期', name: 'enddate', width: 125, align: 'center' }
                ];
                break;
            case "10":
                captionCon = "在院信息查询";
                colModel = [
     { label: '就诊ID', name: 'mdtrt_id', width: 105, align: 'center' },
     {
         label: '险种类型', name: 'insutype', width: 105, align: 'center', formatter: function (val) {
             return $.enum.getDescByValue("Enumxzlx", val);
         }
     },
     { label: '开始日期', name: 'begndate', width: 105, align: 'center' },
     {
         label: '医疗类别', name: 'med_type', width: 125, align: 'center', formatter: function (val) {
             return $.enum.getDescByValue("Enumyllb", val);
         }
     },
     { label: '住院/门诊号', name: 'ipt_otp_no', width: 105, align: 'center' },
     { label: '异地标志', name: 'out_flag', width: 125, align: 'center' }
                ];
                break;
            case "11":
                captionCon = "转院信息查询";
                colModel = [
     {
         label: '险种类型', name: 'insutype', width: 105, align: 'center', formatter: function (val) {
             return $.enum.getDescByValue("Enumxzlx", val);
         }
     },
     {
         label: '申报来源', name: 'dcla_souc', width: 105, align: 'center', formatter: function (val) {
             return $.enum.getDescByValue("Enumsbly", val);
         }
     },
     { label: '诊断代码', name: 'diag_code', width: 105, align: 'center' },
     { label: '诊断名称', name: 'diag_name', width: 125, align: 'center' },
     { label: '转往定点医药机构编号', name: 'reflin_medins_no', width: 105, align: 'center' },
     { label: '转往医院名称', name: 'reflin_medins_name', width: 125, align: 'center' },
     {
         label: '异地标志', name: 'out_flag', width: 105, align: 'center', formatter: function (val) {
             return $.enum.getDescByValue("Enumdyxsbz", val);
         }
     },
     { label: '转院日期', name: 'refl_date', width: 125, align: 'center' },
     { label: '开始时间', name: 'begndate', width: 105, align: 'center' },
     { label: '结束时间', name: 'enddate', width: 125, align: 'center' },
     {
         label: '医院同意转院标志', name: 'hosp_agre_refl_flag', width: 125, align: 'center', formatter: function (val) {
             return $.enum.getDescByValue("Enumdyxsbz", val);
         }
     }
                ];
                break;
        }
        $("#gbox_gridList").remove();
        $(".gridPanel").append('<table id="gridList"></table>');
        $('#gridList').jqGrid("clearGridData");
        var $gridList = $("#gridList");

        $gridList.newtouchLocalDataGrid({
            height: $(window).height() - 330,
            autowidth: false,
            unwritten: false,
            width: $("#formPat2").width() - 10,
            caption: captionCon,
            colModel: colModel,
        }, mydata);
    }


    function ReadCardCall(readCardObj) {
        $("#rybh").html(cqPatInfo.grbh);
        $("#zjhm").html(cqPatInfo.sfzh);
        $("#xm").html(cqPatInfo.xm);
        $("#xb").html(readCardObj.cardInfo1.gend == "1" ? "男" : "女");
        //$("#mz").html(cardInfo1.naty);
        $("#csny").html(readCardObj.cardInfo1.brdy);
        $("#nl").html(readCardObj.cardInfo1.age + "岁");
        $.loading(false);
    }

    function GetYbJGInfo() {
        $.loading(true);
        var type = $('#sel_jgcxtype').val();
        if (type === "1201") {
            if (!$('#fixmedins_name').val() && !$('#fixmedins_code').val()) {
                $.loading(false);
                $.modalAlert("医药机构名称和医药机构编号必须填写一个", 'error');
                return;
            }
            var rcData = { hisId: "0", operatorId: "@opr.rygh", operatorName: "@opr.UserName", orgId: "@opr.OrganizeId", fixmedins_type: "1", fixmedins_name: $('#fixmedins_name').val(), fixmedins_code: $('#fixmedins_code').val() };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetfixmedinsInfo1201",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0" && !!refReg.output.medinsinfo) {
                            jgGridListData(refReg.output.medinsinfo, type);
                        }
                        else {
                            jgGridListData("", type);
                            $.loading(false);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        } else if (type === "3508") {
            if (!$('#medins_list_codg').val() && !$('#fixmedins_bchno').val()) {
                $.loading(false);
                $.modalAlert("医药机构目录编码和定点医药机构批次流水号必须填写一个", 'error');
                return;
            }
            if (!$('#jg_kssj').val()) {
                $.loading(false);
                $.modalAlert("请填写开始时间", 'error');
                return;
            }
            if (!$('#jg_jssj').val()) {
                $.loading(false);
                $.modalAlert("请填写结算时间", 'error');
                return;
            }
            var rcData = {
                hisId: "0", operatorId: "@opr.rygh", operatorName: "@opr.UserName", orgId: "@opr.OrganizeId", fixmedins_type: "1",
                medins_list_codg: $('#medins_list_codg').val(), fixmedins_bchno: $('#fixmedins_bchno').val(),
                begndate: $('#jg_kssj').val(), enddate: $('#jg_jssj').val()
            };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetProductInventoryInfo_3508",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0") {
                            jgGridListData(refReg.output, type);
                        }
                        else {
                            jgGridListData("", type);
                            $.loading(false);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        } else if (type === "3509") {
            if (!$('#medins_list_codg').val() && !$('#fixmedins_bchno').val()) {
                $.loading(false);
                $.modalAlert("医药机构目录编码和定点医药机构批次流水号必须填写一个", 'error');
                return;
            }
            if (!$('#jg_kssj').val()) {
                $.loading(false);
                $.modalAlert("请填写开始时间", 'error');
                return;
            }
            if (!$('#jg_jssj').val()) {
                $.loading(false);
                $.modalAlert("请填写结算时间", 'error');
                return;
            }
            var rcData = {
                hisId: "0", operatorId: "@opr.rygh", operatorName: "@opr.UserName", orgId: "@opr.OrganizeId", fixmedins_type: "1",
                medins_list_codg: $('#medins_list_codg').val(), fixmedins_bchno: $('#fixmedins_bchno').val(),
                begndate: $('#jg_kssj').val(), enddate: $('#jg_jssj').val()
            };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetProductInventoryChangeRecord_3509",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0") {
                            jgGridListData(refReg.output, type);
                        }
                        else {
                            jgGridListData("", type);
                            $.loading(false);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        }else if (type === "3510") {
            if (!$('#medins_list_codg').val() && !$('#fixmedins_bchno').val()) {
                $.loading(false);
                $.modalAlert("医药机构目录编码和定点医药机构批次流水号必须填写一个", 'error');
                return;
            }
            if (!$('#jg_kssj').val()) {
                $.loading(false);
                $.modalAlert("请填写开始时间", 'error');
                return;
            }
            if (!$('#jg_jssj').val()) {
                $.loading(false);
                $.modalAlert("请填写结算时间", 'error');
                return;
            }
            var rcData = {
                hisId: "0", operatorId: "@opr.rygh", operatorName: "@opr.UserName", orgId: "@opr.OrganizeId", fixmedins_type: "1",
                medins_list_codg: $('#medins_list_codg').val(), fixmedins_bchno: $('#fixmedins_bchno').val(),
                begndate: $('#jg_kssj').val(), enddate: $('#jg_jssj').val()
            };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetProductSourcingInfo_3510",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0") {
                            jgGridListData(refReg.output, type);
                        }
                        else {
                            jgGridListData("", type);
                            $.loading(false);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        }else if (type === "3511") {
            if (!$('#medins_list_codg').val() && !$('#fixmedins_bchno').val()) {
                $.loading(false);
                $.modalAlert("医药机构目录编码和定点医药机构批次流水号必须填写一个", 'error');
                return;
            }
            if (!$('#jg_kssj').val()) {
                $.loading(false);
                $.modalAlert("请填写开始时间", 'error');
                return;
            }
            if (!$('#jg_jssj').val()) {
                $.loading(false);
                $.modalAlert("请填写结算时间", 'error');
                return;
            }
            var rcData = {
                hisId: "0", operatorId: "@opr.rygh", operatorName: "@opr.UserName", orgId: "@opr.OrganizeId", fixmedins_type: "1",
                medins_list_codg: $('#medins_list_codg').val(), fixmedins_bchno: $('#fixmedins_bchno').val(),
                begndate: $('#jg_kssj').val(), enddate: $('#jg_jssj').val()
            };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetProductSalesInfo_3511",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0") {
                            jgGridListData(refReg.output, type);
                        }
                        else {
                            jgGridListData("", type);
                            $.loading(false);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        } else if (type === "3512") {
            if (!$('#medins_list_codg').val() && !$('#fixmedins_bchno').val() && !$('#med_list_codg').val()) {
                $.loading(false);
                $.modalAlert("医药机构目录编码和定点医药机构批次流水号和医疗目录编码必须填写一个", 'error');
                return;
            }
            if (!$('#jg_kssj').val()) {
                $.loading(false);
                $.modalAlert("请填写开始时间", 'error');
                return;
            }
            if (!$('#jg_jssj').val()) {
                $.loading(false);
                $.modalAlert("请填写结算时间", 'error');
                return;
            }
            var rcData = {
                hisId: "0", operatorId: "@opr.rygh", operatorName: "@opr.UserName", orgId: "@opr.OrganizeId", fixmedins_type: "1",
                medins_list_codg: $('#medins_list_codg').val(), fixmedins_bchno: $('#fixmedins_bchno').val(), med_list_codg: $('#med_list_codg').val(),
                begndate: $('#jg_kssj').val(), enddate: $('#jg_jssj').val()
            };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetProductTraceabilityInfo_3512",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0") {
                            jgGridListData(refReg.output, type);
                        }
                        else {
                            jgGridListData("", type);
                            $.loading(false);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        } else if (type === "3513") {
            if (!$('#medins_list_codg').val() && !$('#fixmedins_bchno').val() && !$('#med_list_codg').val() && !$('#mdtrt_id').val()) {
                $.loading(false);
                $.modalAlert("医药机构目录编码和定点医药机构批次流水号和医疗目录编码和结算id必须填写一个", 'error');
                return;
            }
            if (!$('#jg_kssj').val()) {
                $.loading(false);
                $.modalAlert("请填写开始时间", 'error');
                return;
            }
            if (!$('#jg_jssj').val()) {
                $.loading(false);
                $.modalAlert("请填写结算时间", 'error');
                return;
            }
            var rcData = {
                hisId: "0", operatorId: "@opr.rygh", operatorName: "@opr.UserName", orgId: "@opr.OrganizeId", fixmedins_type: "1",
                medins_list_codg: $('#medins_list_codg').val(), fixmedins_bchno: $('#fixmedins_bchno').val(), med_list_codg: $('#med_list_codg').val(),
                begndate: $('#jg_kssj').val(), enddate: $('#jg_jssj').val(), mdtrt_id: $('#mdtrt_id').val()
            };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetProductSaleTraceabilityInfo_3513",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0") {
                            jgGridListData(refReg.output, type);
                        }
                        else {
                            jgGridListData("", type);
                            $.loading(false);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        } else if (type === "3607") {
            if (!$('#setl_ym').val()) {
                $.loading(false);
                $.modalAlert("请填写结算年月", 'error');
                return;
            }
            if (!$('#page_num').val()) {
                $.loading(false);
                $.modalAlert("请填写分页页码", 'error');
                return;
            }
            if (!$('#page_size').val()) {
                $.loading(false);
                $.modalAlert("请填写分页数量", 'error');
                return;
            }
            var rcData = {
                hisId: "0", operatorId: "@opr.rygh", operatorName: "@opr.UserName", orgId: "@opr.OrganizeId",
                setl_ym: $('#setl_ym').val(), page_num: $('#page_num').val(), page_size: $('#page_size').val(),
                setl_id: $('#setl_id').val()
            };
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:33333/api/YiBao/GetSettlementQualityControlResults_3607",
                dataType: "json",
                data: rcData,
                async: false,
                success: function (data) {
                    var refReg = eval('(' + data + ')');
                    if (refReg) {
                        if (refReg.infcode == "0") {
                            jgGridListData(refReg.output.data, type);
                        }
                        else {
                            jgGridListData("", type);
                            $.loading(false);
                            $.modalAlert(refReg.err_msg, 'error');
                        }
                    }
                },
                error: function () {
                    $.modalAlert("服务不可访问", 'warning');
                }
            });
        }
    }

    $("#btn_mlcx_next").click(function () {
        $("#page_num").val($("#page_num").val() + 1);
        GetYbJGInfo();
    });

    function jgGridListData(mydata, type) {
        var colModel;
        var captionCon = "";
        switch (type) {
            case "1201":
                captionCon = "医药机构信息";
                colModel = [
                    { label: '定点医药机构编号', name: 'fixmedins_code', width: 105, align: 'center' },
                    { label: '定点医药机构名称', name: 'fixmedins_name', width: 160, align: 'center' },
                    { label: '统一社会信用代码', name: 'uscc', width: 200, align: 'center' },
                    { label: '定点医疗服务机构类型', name: 'fixmedins_type', width: 120, align: 'center' },
                    { label: '医院等级', name: 'hosp_lv', width: 100, align: 'center' }
                ];
                break;
            case "3508":
                captionCon = "定点医药机构商品库存信息";
                colModel = [
                    { label: '有效期止', name: 'expyEnd', width: 80, align: 'center' },
                    { label: '医疗目录编码', name: 'medListCodg', width: 80, align: 'center' },
                    { label: '统筹区编号', name: 'poolareaNo', width: 80, align: 'center' },
                    { label: '库存数量', name: 'invCnt', width: 50, align: 'center' },
                    { label: '医药机构目录编码', name: 'medinsListCodg', width: 80, align: 'center' },
                    { label: '备注', name: 'memo', width: 50, align: 'center' },
                    { label: '数据更新时间', name: 'updtTime', width: 80, align: 'center' },
                    { label : "生产日期", name : "manuDate", width : 80, align : "center" },
                    { label : "经办人姓名", name : "opterName", width : 50, align : "center" },
                    { label : "数据唯一记录号", name : "rid", width : 40, align : "center" },
                    { label : "数据创建时间", name : "crteTime", width : 80, align : "center" },
                    { label : "库存日期", name : "invdate", width : 80, align : "center" },
                    { label : "有效标志", name : "valiFlag", width : 3, align : "center" },
                    { label : "定点医药机构编号", name : "fixmedinsCode", width : 30, align : "center" },
                    { label : "处方药标志", name : "rxFlag", width : 3, align : "center" },
                    { label : "目录特项标志", name : "listSpItemFlag", width : 3, align : "center" },
                    { label : "定点医药机构批次流水号", name : "fixmedinsBchno", width : 30, align : "center" },
                    { label : "经办时间", name : "optTime", width : 80, align : "center" },
                    { label : "经办人 ID", name : "opterId", width : 20, align : "center" },
                    { label : "生产批号", name : "manuLotnum", width : 30, align : "center" },
                    { label : "医药机构目录名称", name : "medinsListName", width : 100, align : "center" },
                    { label : "创建人姓名", name : "crterName", width : 50, align : "center" },
                    { label : "定点医药机构商品库存流水号", name : "medinsProdInvNo", width : 30, align : "center" },
                    { label : "创建人 ID", name : "crterId", width : 20, align : "center" },
                    { label : "经办机构编号", name : "optinsNo", width : 20, align : "center" },
                    { label : "拆零标志", name : "trdnFlag", width : 3, align : "center" }
                ];
                break;
            case "3509":
                captionCon = "定点医药机构商品库存变更记录";
                colModel = [
                    { label : "库存变更时间", name : "invChgTime", width : 80, align : "center" },
                    { label : "医疗目录编码", name : "medListCodg", width : 50, align : "center" },
                    { label : "统筹区编号", name : "poolareaNo", width : 6, align : "center" },
                    { label : "库存变更经办人姓名", name : "invChgOpterName", width : 50, align : "center" },
                    { label : "创建机构编号", name : "crteOptinsNo", width : 20, align : "center" },
                    { label : "医药机构目录编码", name : "medinsListCodg", width : 150, align : "center" },
                    { label : "备注", name : "memo", width : 50, align : "center" },
                    { label : "数据更新时间", name : "updtTime", width : 80, align : "center" },
                    { label : "经办人姓名", name : "opterName", width : 50, align : "center" },
                    { label : "数据唯一记录号", name : "rid", width : 40, align : "center" },
                    { label : "数据创建时间", name : "crteTime", width : 50, align : "center" },
                    { label : "有效标志", name : "valiFlag", width : 3, align : "center" },
                    { label : "定点医药机构编号", name : "fixmedinsCode", width : 30, align : "center" },
                    { label : "库存变更类型", name : "invChgType", width : 6, align : "center" },
                    { label : "处方药标志", name : "rxFlag", width : 3, align : "center" },
                    { label : "定点医药机构商品库存变更流水号", name : "medinsProdInvChgNo", width : 30, align : "center" },
                    { label : "目录特项标志", name : "listSpItemFlag", width : 3, align : "center" },
                    { label : "定点医药机构批次流水号", name : "fixmedinsBchno", width : 30, align : "center" },
                    { label : "经办时间", name : "optTime", width : 80, align : "center" },
                    { label : "经办人 ID", name : "opterId", width : 20, align : "center" },
                    { label : "医药机构目录名称", name : "medinsListName", width : 100, align : "center" },
                    { label : "数量", name : "cnt", width : 50, align : "center" },
                    { label : "单价", name : "pric", width : 50, align : "center" },
                    { label : "创建人姓名", name : "crterName", width : 50, align : "center" },
                    { label : "创建人 ID", name : "crterId", width : 20, align : "center" },
                    { label : "经办机构编号", name : "optinsNo", width : 20, align : "center" },
                    { label : "拆零标志", name : "trdnFlag", width : 3, align : "center" }
                ];
                break;
            case "3510":
                captionCon = "定点医药机构商品采购信息";
                colModel = [
                    { label : "有效期止", name : "expyEnd", width : 80, align : "center" },
                    { label : "医疗目录编码", name : "medListCodg", width : 50, align : "center" },
                    { label : "统筹区编号", name : "poolareaNo", width : 6, align : "center" },
                    { label : "创建机构编号", name : "crteOptinsNo", width : 20, align : "center" },
                    { label : "医药机构目录编码", name : "medinsListCodg", width : 150, align : "center" },
                    { label : "备注", name : "memo", width : 50, align : "center" },
                    { label : "商品退货标志", name : "prodRetnFlag", width : 6, align : "center" },
                    { label : "数据更新时间", name : "updtTime", width : 80, align : "center" },
                    { label : "生产日期", name : "manuDate", width : 80, align : "center" },
                    { label : "经办人姓名", name : "opterName", width : 50, align : "center" },
                    { label : "数据唯一记录号", name : "rid", width : 40, align : "center" },
                    { label : "数据创建时间", name : "crteTime", width : 80, align : "center" },
                    { label : "生产企业名称", name : "prodentpName", width : 80, align : "center" },
                    { label : "有效标志", name : "valiFlag", width : 3, align : "center" },
                    { label : "批准文号", name : "aprvno", width : 100, align : "center" },
                    { label : "定点医药机构编号", name : "fixmedinsCode", width : 30, align : "center" },
                    { label : "定点医药机构商品采购流水号", name : "medinsProdPurcNo", width : 30, align : "center" },
                    { label : "处方药标志", name : "rxFlag", width : 3, align : "center" },
                    { label : "目录特项标志", name : "listSpItemFlag", width : 3, align : "center" },
                    { label : "采购发票号", name : "purcInvoNo", width : 50, align : "center" },
                    { label : "定点医药机构批次流水号", name : "fixmedinsBchno", width : 30, align : "center" },
                    { label : "经办时间", name : "optTime", width : 100, align : "center" },
                    { label : "经办人 ID", name : "opterId", width : 20, align : "center" },
                    { label : "采购/退货入库时间", name : "purcRetnStoinTime", width : 100, align : "center" },
                    { label : "生产批号", name : "manuLotnum", width : 30, align : "center" },
                    { label : "医药机构目录名称", name : "medinsListName", width : 100, align : "center" },
                    { label : "供货商名称", name : "splerName", width : 200, align : "center" },
                    { label : "商品赠送标志", name : "prodGeayFlag", width : 3, align : "center" },
                    { label : "采购/退货经办人姓名", name : "purcRetnOpterName", width : 50, align : "center" },
                    { label : "采购发票编码", name : "purcInvoCodg", width : 50, align : "center" },
                    { label : "创建人姓名", name : "crterName", width : 50, align : "center" },
                    { label : "创建人 ID", name : "crterId", width : 20, align : "center" },
                    { label : "经办机构编号", name : "optinsNo", width : 20, align : "center" },
                    { label : "供应商许可证号", name : "splerPmtno", width : 50, align : "center" },
                    { label : "最终成交单价", name : "finlTrnsPric", width : 100, align : "center" },
                    { label : "采购/退货数量", name : "purcRetnCnt", width : 100, align : "center" },
                    { label : "随货单号", name : "dyntNo", width : 50, align : "center" }

                ];
                break;
            case "3511":
                captionCon = "定点医药机构商品销售信息";
                colModel = [
                    { label : "有效期止", name : "expyEnd", width : 100, align : "center" },
                    { label : "药师证件类型", name : "pharCertType", width : 3, align : "center" },
                    { label : "销售/退货经办人姓名", name : "selRetnOpterName", width : 50, align : "center" },
                    { label : "医疗目录编码", name : "medListCodg", width : 50, align : "center" },
                    { label : "统筹区编号", name : "poolareaNo", width : 6, align : "center" },
                    { label : "结算 ID", name : "setlId", width : 30, align : "center" },
                    { label : "创建机构编号", name : "crteOptinsNo", width : 20, align : "center" },
                    { label : "医药机构目录编码", name : "medinsListCodg", width : 150, align : "center" },
                    { label : "备注", name : "memo", width : 50, align : "center" },
                    { label : "数据更新时间", name : "updtTime", width : 100, align : "center" },
                    { label : "医保费用结算类型", name : "hiFeesetlType", width : 6, align : "center" },
                    { label : "生产日期", name : "manuDate", width : 100, align : "center" },
                    { label : "经办人姓名", name : "opterName", width : 50, align : "center" },
                    { label : "人员编号", name : "psnNo", width : 30, align : "center" },
                    { label : "数据唯一记录号", name : "rid", width : 40, align : "center" },
                    { label : "数据创建时间", name : "crteTime", width : 100, align : "center" },
                    { label : "药师证件号码", name : "pharCertno", width : 50, align : "center" },
                    { label : "有效标志", name : "valiFlag", width : 3, align : "center" },
                    { label : "证件号码", name : "certno", width : 80, align : "center" },
                    { label : "定点医药机构编号", name : "fixmedinsCode", width : 30, align : "center" },
                    { label : "处方药标志", name : "rxFlag", width : 3, align : "center" },
                    { label : "药师执业资格证号", name : "pharPracCertNo", width : 50, align : "center" },
                    { label : "目录特项标志", name : "listSpItemFlag", width : 3, align : "center" },
                    { label : "定点医药机构批次流水号", name : "fixmedinsBchno", width : 30, align : "center" },
                    { label : "经办时间", name : "optTime", width : 80, align : "center" },
                    { label : "人员姓名", name : "psnName", width : 50, align : "center" },
                    { label : "电子监管编码", name : "elecSupnCodg", width : 20, align : "center" },
                    { label : "开单医师姓名", name : "bilgDrName", width : 50, align : "center" },
                    { label : "经办人 ID", name : "opterId", width : 20, align : "center" },
                    { label : "生产批号", name : "manuLotnum", width : 30, align : "center" },
                    { label : "医药机构目录名称", name : "medinsListName", width : 100, align : "center" },
                    { label : "人员证件类型", name : "psnCertType", width : 6, align : "center" },
                    { label : "销售/退货时间", name : "selRetnTime", width : 100, align : "center" },
                    { label : "销售/退货数量", name : "selRetnCnt", width : 100, align : "center" },
                    { label : "创建人姓名", name : "crterName", width : 50, align : "center" },
                    { label : "药师姓名", name : "pharName", width : 50, align : "center" },
                    { label : "开单医师证件类型", name : "prscDrCertType", width : 3, align : "center" },
                    { label : "创建人 ID", name : "crterId", width : 20, align : "center" },
                    { label : "开单医师证件号码", name : "prscDrCertno", width : 50, align : "center" },
                    { label : "经办机构编号", name : "optinsNo", width : 20, align : "center" },
                    { label : "拆零标志", name : "trdnFlag", width : 3, align : "center" },
                    { label : "最终成交单价", name : "finlTrnsPric", width : 50, align : "center" },
                    { label : "定点医药机构商品销售流水号", name : "medinsProdSelNo", width : 30, align : "center" }
                ];
                break;
            case "3512":
                captionCon = "定点医药机构入库商品追溯信息";
                colModel = [
                    { label : "定点医药机构编号", name : "fixmedinsCode", width : 100, align : "center" },
                    { label : "医药机构目录编码", name : "medinsListCodg", width : 150, align : "center" },
                    { label : "定点医药机构批次流水号", name : "fixmedinsBchno", width : 30, align : "center" },
                    { label : "医药机构目录编码", name : "medinsListCodg", width : 150, align : "center" },
                    { label : "医疗目录编码", name : "medListCodg", width : 50, align : "center" },
                    { label : "医药机构目录名称", name : "medinsListName", width : 150, align : "center" },
                    { label : "药品追溯码", name : "drugTracCodg", width : 100, align : "center" },
                    { label : "有效标志", name : "valiFlag", width : 50, align : "center" },
                    { label : "经办人 ID", name : "opterId", width : 20, align : "center" },
                    { label : "创建人姓名", name : "crterName", width : 100, align : "center" },
                    { label : "创建人 ID", name : "crterId", width : 100, align : "center" },
                    { label : "经办机构编号", name : "optinsNo", width : 100, align : "center" }

                ];
                break;
            case "3513":
                captionCon = "定点医药机构商品销售追溯信息";
                colModel = [
                    { label : "定点医药机构编号", name : "fixmedinsCode", width : 100, align : "center" },
                    { label : "医疗目录编码", name : "medListCodg", width : 72, align : "center" },
                    { label : "医药机构目录编码", name : "medinsListCodg", width : 100, align : "center" },
                    { label : "医药机构目录名称", name : "medinsListName", width : 100, align : "center" },
                    { label : "定点医药机构批次流水号", name : "fixmedinsBchno", width : 100, align : "center" },
                    { label : "就诊 ID", name : "mdtrtId", width : 100, align : "center" },
                    { label : "就诊结算类型", name : "mdtrtSetlType", width : 50, align : "center" },
                    { label : "记账流水号", name : "bkkpSn", width : 80, align : "center" },
                    { label : "药品追溯码", name : "drugTracCodg", width : 80, align : "center" },
                    { label : "人员编号", name : "psnNo", width : 80, align : "center" },
                    { label : "人员证件类型", name : "psnCertType", width : 72, align : "center" },
                    { label : "证件号码", name : "certno", width : 80, align : "center" },
                    { label : "人员姓名", name : "psnName", width : 80, align : "center" },
                    { label : "备注", name : "memo", width : 50, align : "center" },
                    { label : "拆零标志", name : "trdnFlag", width : 36, align : "center" },
                    { label : "数据更新时间", name : "updtTime", width : 80, align : "center" },
                    { label : "经办人姓名", name : "opterName", width : 100, align : "center" },
                    { label : "数据唯一记录号", name : "rid", width : 100, align : "center" },
                    { label : "数据创建时间", name : "crteTime", width : 80, align : "center" },
                    { label : "经办时间", name : "optTime", width : 80, align : "center" },
                    { label : "经办人 ID", name : "opterId", width : 80, align : "center" },
                    { label : "创建人姓名", name : "crterName", width : 80, align : "center" },
                    { label : "创建人 ID", name : "crterId", width : 80, align : "center" },
                    { label : "经办机构编号", name : "optinsNo", width : 80, align : "center" }

                ];
                break;
            case "3607":
                captionCon = "结算清单质控结果";
                colModel = [
                    { label: "定点医药机构编号", name: "fixmedins_code", width: 100, align: "center" },
                    { label: "定点医药机构名称", name: "fixmedins_name", width: 120, align: "center" },
                    { label: "结算年月", name: "setl_ym", width: 100, align: "center" },
                    { label: "结算 ID", name: "setl_id", width: 100, align: "center" },
                    { label: "人员编号", name: "psn_no", width: 100, align: "center" },
                    { label: "人员姓名", name: "psn_name", width: 100, align: "center" },
                    { label: "人员证件类型", name: "psn_cert_type", width: 80, align: "center" },
                    { label: "证件号码", name: "cert_no", width: 100, align: "center" },
                    { label: "质控结果", name: "qltctrl_rslt", width: 50, align: "center" },
                    { label: "错误等级", name: "err_lv", width: 50, align: "center" },
                    { label: "回退标志", name: "retn_flag", width: 50, align: "center" },
                    { label: "质控版本号", name: "qltctrl_ver", width: 80, align: "center" },
                    { label: "分组状态", name: "grp_stas", width: 50, align: "center" },
                    { label: "质控结算清单结果详情信息", name: "detl_list", width: 200, align: "center" }
                ];
                break;
        }
        $("#gbox_gridList").remove();
        $(".jg_gridPanel").append('<table id="jg_gridList"></table>');
        $('#jg_gridList').jqGrid("clearGridData");
        var $gridList = $("#jg_gridList");

        $gridList.newtouchLocalDataGrid({
            height: $(window).height() - 330,
            autowidth: false,
            unwritten: false,
            width: $("#jg_formPat").width() - 10,
            caption: captionCon,
            colModel: colModel,
        }, mydata);
        $.loading(false);
    }

    //判断医疗机构信息展示什么搜索条件
    function showTH() {
        var type = $('#sel_jgcxtype').val();
        if (type === '1201') {
            $('.1201-show').show(); // 显示医药机构信息
            $('.time-show').hide();
            $('.35-show').hide();
            $('.3607-show').hide();
        } else if (type === '3607') {
            $('.3607-show').show();
            $('.1201-show').hide();
            $('.time-show').hide();
            $('.35-show').hide();
            $("#page_num").val(1);
            $("#page_size").val(100);
        } else {
            $('.1201-show').hide(); // 隐藏医药机构信息
            $('.time-show').show();
            $('.35-show').show();
            $('.3607-show').hide();
        }
    }
    //页面加载时执行
    showTH();

    $('#sel_jgcxtype').change(function () {
        showTH();
    });
</script>