
@using Newtouch.Infrastructure;
@using Newtouch.HIS.Web.Core.Extensions;
@{
    ViewBag.Title = "电子处方管理";
    Layout = "~/Views/Shared/_Index.cshtml";
    var opr = Newtouch.Common.Operator.OperatorProvider.GetCurrent();
}


<!DOCTYPE html>
<style>
    .showbotton {
        display: none;
        position: fixed;
        bottom: 5px;
        right: 0;
        z-index: 9999;
        background-color: #ccc;
        width: 50px;
        height: 44px;
        filter: alpha(Opacity=90);
        -moz-opacity: 0.9;
        opacity: 0.9;
        cursor: pointer;
        border-radius: 100px 0 0 100px;
    }

    #TabGrid {
        width: 100%;
        position: fixed;
        bottom: 10px;
        right: 0;
        z-index: 8888;
        background-color: #253443;
        filter: alpha(Opacity=92);
        -moz-opacity: 0.92;
        opacity: 0.92;
        box-shadow: 0px 2px 10px #909090;
    }

        #TabGrid > * {
            filter: alpha(Opacity=92);
            -moz-opacity: 0.92;
            opacity: 0.92;
        }

</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <form>
        <div class="panel panel-default">
            <table class="form">
                <tr>

                    <th class="formTitle">订单时间：</th>
                    <td class="formValue" colspan="3">
                        <input id="kssj" type="text" class="form-control input-wdatepicker" style="width:42%; float:left;" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd 00:00:00")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
                        <span style="margin-left:1%;float:left">—</span>
                        <input id="jssj" type="text" class="form-control input-wdatepicker" style="width:43%; float:left;margin-left:1%;" value="@DateTime.Now.ToString("yyyy-MM-dd 23:59:59")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
                    </td>
                    <th class="formTitle">关键字：</th>
                    <td class="formValue" colspan="3">
                        <input id="xm" type="text" class="form-control" placeholder="门诊号/姓名" style="width:20%; float:left;" />
                    </td>
                    <td class="formValue title">
                        <input type="button" id="btn_search" class="btn btn-primary" style="width:36%;margin-left: 10%;" value="查询" />
                    </td>

                </tr>

            </table>
        </div>
        <div class="gridPanel">
            <table id="gridList"></table>
            <div id="gridPager"></div>
        </div>
        @*<div id="TabGrid">
            <ul class="nav nav-tabs navb-bg" role="tablist" id="myTab">
                <li role="presentation" class="active">
                    <a href="#dv_djmx" id="linkSearch" role="tab" data-toggle="tab">单据明细</a>
                </li>
                <li style="float:right">
                    <span class="hiding glyphicon glyphicon-chevron-right btn-lg"></span>
                </li>
            </ul>
            <div id="dv_djmx" style="">
                <table id="gridDJMXInfo"></table>
            </div>
        </div>
        <div class="showbotton">
            <span class="glyphicon glyphicon-chevron-left btn-lg"></span>
        </div>*@
        <div class="panel panel-default">
            <input type="button" id="btn_back" class="btn btn-info" style="width:7%;display:inline-block;float:right;margin-left:20px;margin-top:30px;" value="处方撤销" />
            <input type="button" id="btn_search_cf" class="btn btn-info" style="width:7%;display:inline-block;float:right;margin-left:20px;margin-top:30px;" value="处方查询" />
            <input type="button" id="btn_search_exam" class="btn btn-info" style="width:7%;display:inline-block;float:right;margin-left:20px;margin-top:30px;" value="审核查询" />
            <input type="button" id="btn_search_medicine" class="btn btn-info" style="width:7%;display:inline-block;float:right;margin-left:20px;margin-top:30px;" value="取药查询" />

        </div>
    </form>
</body>
</html>


<script>

    var reportServerHOST = '@(ViewBag.ReportServerHOST)';
    var orgId = '@(ViewBag.OrgId)';
    $(function () {
        initControl();
        gridList();
    })


    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/DoctorManage/ElectronicPrescription/GetGridJson",
            height: $(window).height() - 200,
            postData: { kssj: $("#kssj").val(), jssj: $("#jssj").val(), xm: $("#xm").val() },
            colModel: [

                { label: 'cfId', name: 'cfId', hidden: true ,key:true},
                { label: '处方号', name: 'cfh', width: 120, align: 'left' },
                { label: '门诊号', name: 'mzh', width: 120, align: 'left' },
                { label: '姓名', name: 'xm', width: 120, align: 'left' },
                {
                    label: '证件类型', name: 'zjlx', width: 120, align: 'left', formatter: function (cellvalue) {
                        if (cellvalue == 1) return '居民身份证（户口簿）';
                        if (cellvalue == 2) return '中国人民解放军军官证';
                        if (cellvalue == 3) return '中国人民武装警察警官证';
                        if (cellvalue == 4) return '香港特区护照/港澳居民来往内地通行证';
                        if (cellvalue == 5) return '澳门特区护照/港澳居民来往内地通行证';
                        if (cellvalue == 6) return '台湾居民来往大陆通行证';
                        if (cellvalue == 7) return '外国人永久居留证';
                        if (cellvalue == 8) return '外国人护照';
                        if (cellvalue == 9) return '残疾人证';
                        if (cellvalue == 10) return '军烈属证明';
                        if (cellvalue == 11) return '外国人就业证';
                        if (cellvalue == 12) return '外国专家证';
                        if (cellvalue == 13) return '外国人常驻记者证';
                        if (cellvalue == 14) return '台港澳人员就业证';
                        if (cellvalue == 15) return '回国（来华）定居专家证';
                        if (cellvalue == 16) return '中国护照';
                        if (cellvalue == 17) return '港澳台居民居住证';
                        if (cellvalue == 90) return '社会保障卡';
                        if (cellvalue == 99) return '其他身份证件';
                        if (cellvalue == 990201) return '医学出生证明';
                        if (cellvalue == 990102) return '扶贫人口编码';
                        else return '';
                    }
                },
                { label: '证件号', name: 'zjh', width: 120, align: 'left' },
                {
                    label: '审核状态', name: 'shzt', width: 80, align: 'left', formatter: function (cellvalue) {
                        if (cellvalue == '无效') return '未审核';
                        else if (cellvalue == '有效') return '已审核';
                        else return cellvalue;
                    }
                },
                { label: '药师审核意见', name: 'ysshyj', width: 80, align: 'left' },
                { label: '取药状态', name: 'qyzt', width: 80, align: 'left' },
                { label: '处方状态', name: 'cfzt', width: 80, align: 'left' },
                { label: '挂号科室', name: 'ghks', width: 120, align: 'left' },
                { label: '开单科室', name: 'kdks', width: 120, align: 'left' },
                { label: '挂号日期', name: 'ghsj', width: 120, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '处方开立日期', name: 'cfklrq', width: 120, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
            ],

            multiselect: false,
            pager: "#gridPager",
            sortname: 'cfh',
            viewrecords: true,
            //ondblClickRow: function (rowid, iRow, iCol, e) {
            //    btn_selectrow(rowid);
            //}
            loadComplete: function () {
                var ids = $("#gridList").jqGrid('getRowData_AllLine');
                for (var i = 0; i < ids.length; i++) {
                    //var rowData = $("#gridList").jqGrid('getRowData', ids[i]);
                    if (!(ids[i].ysshyj == null || ids[i].ysshyj == "" || ids[i].ysshyj == undefined)) {
                        $('#gridList tr[id="' + ids[i].cfId + '"]').css("color", "red")
                    }
                }
            }
        });
        $("#btn_search").click(function () {
            //$('#gridDJMXInfo').jqGrid("clearGridData");
            $gridList.jqGrid('setGridParam', {
                postData: { kssj: $("#kssj").val(), jssj: $("#jssj").val(), xm:  $("#xm").val() },
            }).trigger('reloadGrid');
        });
    }
    

    //回车事件
    $('#txt_keyword').keydownEnterEvent(function () {
        $('#btn_search').trigger('click');
    })
    

    function initControl() {

    }

    //撤销
    $('#btn_back').click(function () {
        var rowData = $("#gridList").jqGridRowValue();
        if (rowData == null) {
            $.modalAlert("请选择需要撤销的处方", 'warning');
            return;
        }
        if (rowData.shzt != "有效" && rowData.shzt != "已审核" ) {
            $.modalAlert("请选择已上传电子处方", 'warning');
            return;
        }
        if (rowData.qyzt != "未使用" ) {
            $.modalAlert("请选择未取药电子处方", 'warning');
            return;
        }
        $.modalOpen({
            id: "backForm",
            title: "电子处方撤销",
            url: "/DoctorManage/ElectronicPrescription/backForm?hisId=" + rowData.mzh + "&cfh=" + rowData.cfh+"&cxys="+ '@(opr.rygh)',
            width: "20%",
            height: "20%",
            callBack: function (iframeId) {
                $.currentWindow(iframeId).SubmitForm(function () {
                    $.modalClose("backForm");
                    $("#gridList").resetSelection();
                    $("#gridList").trigger("reloadGrid");
                });
            }
        });
    });

    //处方查询
    $('#btn_search_cf').click(function () {

        var rowData = $("#gridList").jqGridRowValue();
        if (rowData == null) {
            $.modalAlert("请选择需要查询的处方", 'warning');
            return;
        }
        $.modalOpen({
            id: "cfForm",
            title: "电子处方查询",
            url: "/DoctorManage/ElectronicPrescription/cfForm?hisId=" + rowData.mzh + "&cfh=" + rowData.cfh,
            width: "90%",
            height: "90%",
            btn: ['', '关闭'],
            btnclass: ['', 'btn btn-danger'],
        });
    });

    //审核查询
    $('#btn_search_exam').click(function () {
        var rowData = $("#gridList").jqGridRowValue();
        if (rowData.length=="0") {
            $.modalAlert("请选择需要查询的处方", 'warning');
            return;
        }
        if (rowData.shzt == "已撤回" ) {
            $.modalAlert("已撤回的处方不可查询", 'warning');
            return;
        }
        $.modalOpen({
            id: "examForm",
            title: "电子处方审核结果",
            url: "/DoctorManage/ElectronicPrescription/examForm?hisId=" + rowData.mzh + "&cfh=" + rowData.cfh,
            width: "35%",
            height: "32%",
            btn: ['', '关闭'],
            btnclass: ['', 'btn btn-danger'],
        });
    });

    //取药查询
    $('#btn_search_medicine').click(function () {
        var rowData = $("#gridList").jqGridRowValue();
        if (rowData.length=="0") {
            $.modalAlert("请选择需要查询的处方", 'warning');
            return;
        }
        if (rowData.shzt == "已撤回") {
            $.modalAlert("已撤回的处方不可查询", 'warning');
            return;
        }
        $.modalOpen({
            id: "medicineForm",
            title: "电子处方取药结果",
            url: "/DoctorManage/ElectronicPrescription/medicineForm?hisId=" + rowData.mzh + "&cfh=" + rowData.cfh,
            width: "60%",
            height: "45%",
            btn: ['', '关闭'],
            btnclass: ['', 'btn btn-danger'],
        });
    });

    
    
</script>
