
@{
    ViewBag.Title = "输液信息";
    Layout = "~/Views/Shared/_mobileIndex.cshtml";
}
<style>
    .dv-content {
        background-color: #a49e9e;
        padding: 0.1rem;
    }

    .dv-patientInfo {
        margin-bottom: 0.1rem;
        background-color: #fff;
        padding: 0.25rem 0.4rem;
        border: 0.01rem solid #ccc;
    }

    ul {
        list-style: none;
        padding: 0.05rem;
        margin: 0;
    }

    li {
        background-color: #fff;
        margin-top: 0.1rem;
        padding: 0.25rem 0.4rem;
        font-size: 0.35rem;
        border-radius: 0.1rem;
    }
</style>
<div class="dv-content">
    <div class="dv-patientInfo">
        <h1 style="font-weight:600;font-size:0.6rem;">
            <span>@ViewBag.patInfo.patientName</span>
            <span style="margin-left:0.1rem;">@ViewBag.patInfo.kh</span>
        </h1>
        <div style="font-size:0.35rem;color:#808080; margin-top:0.1rem;">
            <span>座号/床号：</span>
            <span style="color:#ff6a00;font-size:0.4rem;">@ViewBag.patInfo.seatNum</span>
        </div>
        <div style="font-size:0.35rem;color:#808080; margin-top:0.1rem;">
            <div>
                <span>开始时间：</span>
                <span>@(ViewBag.patInfo.sykssj == null ? "" : ((DateTime)ViewBag.patInfo.sykssj).ToString("yyyy-MM-dd HH:mm:ss"))</span>
            </div>
            <div>
                <span>结束时间：</span>
                <span>@(ViewBag.patInfo.syjssj == null ? "" : ((DateTime)ViewBag.patInfo.syjssj).ToString("yyyy-MM-dd HH:mm:ss"))</span>
            </div>
        </div>
    </div>
    <ul>
        @foreach (var item in ViewBag.drugs)
        {
            if (item != null)
            {
                <li>
                    <div style="width:100%;display:inline-block;">
                        <div style="float:left;vertical-align:middle;color:#ff0000; font-size:0.45rem; line-height:1.5rem;">
                            组：<span>@item.groupNo</span>
                        </div>
                        <div style="float:right;">
                            <div style="font-size:0.4rem;text-align:right;color:#000000;">@item.ypmc</div>
                            <div>
                                收费时间：<span>@item.sfsj.ToString("yyyy-MM-dd HH:mm:ss")</span>
                            </div>
                            <div>
                                处方号：<span>@item.cfh</span>
                            </div>
                        </div>
                    </div>
                    <div style="width:100%;display:inline-block;">
                        <div>
                            规格:<span style="margin-right:0.1rem;">@item.ypgg</span>
                            数量:<span style="margin-right:0.1rem;">@item.slStr</span>
                            用量:<span style="margin-right:0.1rem;">@item.ylStr</span>
                            剂量:<span>@item.jlStr</span>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>