@using Newtouch.Infrastructure;
@{
    ViewBag.Title = "SettlementListResultFrom";
    Layout = "~/Views/Shared/_Index.cshtml";
    var brzybzType = ((int)EnumZYBZ.Djz).ToString();
    var opr = Newtouch.Common.Operator.OperatorProvider.GetCurrent();
}
<form>
    <div class="panel panel-default">
        <div class="panel-heading navb-bg">
            筛选条件
        </div>
        <table class="form">
            <tr>
                <th class="formTitle">查询日期：</th>
                <td class="formValue" colspan="2">
                    <input id="kssj" type="text" class="form-control input-wdatepicker" style="width:42%; float:left;" value="@DateTime.Now.AddMonths(-2).ToString("yyyy-MM-dd")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                    <span style="margin-left:1%;float:left">—</span>
                    <input id="jssj" type="text" class="form-control input-wdatepicker" style="width:43%; float:left;margin-left:1%;" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                </td>
                <td class="formValue title">
                    <input type="button" id="btn_search" class="btn btn-primary" style="width:36%;margin-left: 10%;" value="查询" />
                </td>
            </tr>
        </table>
    </div>
    
    <div class="gridPanel" style="margin-top:1%">
        <table id="gridList"></table>
        <div id="gridPager"></div>
    </div>
</form>
<script>
    var colModel;
    var kssj = $.request('kssj');
    var jssj = $.request('jssj');
    var $gridList = $("#gridList");
    $(function () {
        $("#kssj").val(kssj);
        $("#jssj").val(jssj);
        $("#btn_search").click(function () {
            bindGridList();
        });
        gridListData();
        bindGridList();
    });
    function bindGridList() {
        $('#gridList').jqGrid("clearGridData");
        colModel=[
            {
                label: '未提交数量', name: 'not_submit_cnt', align: 'center', width: 100, key: true
            },
            { label: '已提交数量', name: 'submitted_cnt', align: 'center', width: 100 },
            { label: '审核通过数量', name: 'pass_cnt', align: 'center', width: 100 },
            { label: '审核不通过数量', name: 'not_pass_cnt', align: 'center', width: 100 },
            { label: '医院上传数量', name: 'hospital_submit_cnt', align: 'center', width: 100 },
            { label: '应上传数量', name: 'need_upload_cnt', align: 'left', width: 100 },


        ]
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:33333/api/YiBao/QueryQltctrlProblem_4105",
            data: { begntime: $("#kssj").val(), endtime: $("#jssj").val(), operatorId: '@(opr.rygh)', orgId: '@(opr.OrganizeId)', operatorName: '@(opr.UserName)' },
            dataType: "json",
            async: false,
            success: function (data) {
                var tfReturn = eval('(' + data + ')');
                if (tfReturn) {
                    if (tfReturn.infcode == 0 || tfReturn.infcode == "0") {
                        $gridList.newtouchLocalDataGrid({
                            autowidth: false,
                            unwritten: false,
                            caption: "结算清单数量查询",
                            colModel: colModel,
                        }, tfReturn.output);                    }
                    else {
                        $.modalAlert("结算清单数量查询失败：" + tfReturn.err_msg, 'error');
                        return;
                    }
                }
            }, error: function () {
                $.loading(false);
                $.modalAlert("服务异常：", 'error');
                return;
            }
        });

    }
    function gridListData() {
        var $gridList = $("#gridList");
        var captionCon = "上传数量";
        $gridList.dataGrid({
            height: $(window).height() - 80,
            caption: captionCon,
            multiselect: false,
            unwritten: false,
            colModel: [
                {
                    label: '未提交数量', name: 'not_submit_cnt', align: 'center', width: 100, key: true
                },
                { label: '已提交数量', name: 'submitted_cnt', align: 'center', width: 100 },
                { label: '审核通过数量', name: 'pass_cnt', align: 'center', width: 100 },
                { label: '审核不通过数量', name: 'not_pass_cnt', align: 'center', width: 100 },
                { label: '医院上传数量', name: 'hospital_submit_cnt', align: 'center', width: 100 },
                { label: '应上传数量', name: 'need_upload_cnt', align: 'left', width: 100 },
              

            ],
            pager: "#gridPager",
            viewrecords: true
        });
    }
</script>