@{
    ViewBag.Title = "TemperatureChartIndex";
    Layout = "~/Views/Shared/_Index.cshtml";
    var EnableLinkToOR = SysConfigReader.String("EnableLinkToOR");
}
<style type="text/css">
    .tabTwdSearch .form .formValue {
        padding: 1px 5px;
    }

    .dv-left {
        width: 200px;
        float: left;
    }

    .dv-left-tree {
        overflow-y: auto;
        border-radius: 4px;
        background: white;
    }

    .dv-left-title {
        padding: 6px 10px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-color: #ddd;
        background-color: white;
    }

    .dv-right {
        float: left;
        margin-left: 5px;
    }

    .dv-right-order {
        width: 100%;
    }

    .dv-grid {
        width: 100%;
    }
</style>
<script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/wdtree/tree.js")"></script>
<link href="@SiteUrl.GetStaticResourceScriptUrl("~/js/wdtree/tree.css")" rel="stylesheet" />
<div class="dv-body">
    <div class="dv-left">
        <div class="dv-left-title">患者列表</div>
        <div class="dv-left-tree" id="PatTreeList"></div>
    </div>
    <div class="dv-right">
        <div class="dv-right-order">
            <form name="form1" class="tabTwdSearch">
                <div class="panel panel-default" style="margin-bottom:2px;">
                    <div style="width:1000px;padding: 2px 0;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">日期：</th>
                                <td class="formValue" colspan="2">
                                    <input id="kssj" type="text" class="form-control input-wdatepicker" style="width:42%; float:left;" value="@DateTime.Now.ToString(" yyyy-MM-01")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                                    <span style="margin-left:1%;float:left">—</span>
                                    <input id="jssj" type="text" class="form-control input-wdatepicker" style="width:43%; float:left;margin-left:1%;" value="@DateTime.Now.ToString(" yyyy-MM-dd")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                                </td>
                                <th class="formTitle">住院号：</th>
                                <td class="formValue">
                                    <input id="zyh" type="text" class="form-control" />
                                </td>
                                <td class="formValue">
                                    <input type="button" id="btn_zyh" class="btn btn-default" value="住院号" />
                                </td>
                                <td class="formValue" colspan="3">
                                    &nbsp;&nbsp;
                                    <input type="button" id="btn_search" class="btn btn-primary" value=" 查 询 " />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="button" id="btn_add" class="btn btn-primary" value=" 新 录 入 " />
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="button" id="btn_print" class="btn btn-primary" value="打印预览" />
                                </td>
                            </tr>
                        </table>
                        @if (EnableLinkToOR == "ON")
                        {
                            <div class="panel panel-default">
                                @Html.Partial("_TemperatureChartForCQ")
                            </div>
                        }
                        else
                        {
                            <div class="panel panel-default">
                                @Html.Partial("_TemperatureChartForCQ")
                            </div>
                        }
                    </div>
                </div>
            </form>
           
        </div>
     </div>
</div>
<script>
    $(".dv-body").height($(window).height());
    $(".dv-body").width($(window).width());
    var rightWidth = $(".Newtouch_iframe", parent.document).width() - $(".dv-left").width() - 35;
    $(".dv-right").width(rightWidth);
    //$(".dv-left").width(240);
    $(".dv-left-tree").height($(window).height() - 70);
    var zyh = "";
    var zyzt = "zy";// 在院状态：全部""；在院"zy"；出院"cy"。
    $(function () {
        var zyhtimes = $.request("zyh");
        var yshsbz = $.request("yshsbz");
        if (yshsbz) {
            if (yshsbz == "1") {
                //$('#btn_print').hide();
            }
        }
        var currentobj = JSON.parse(sessionStorage.getItem('currentpatobj'));//护士患者一览
        initControl();
        getPatTreeList();
        draw([], 0);
        if (zyhtimes) {
            $('#zyh').val(zyhtimes);
            zyhtime(zyhtimes);
            //sessionStorage.removeItem("currentpatobj");
            $('#btn_search').trigger('click');
        }
    });

    function initControl() {
        $('#btn_zyh').click(function () {
            $.modalOpen({
                id: "patSearch",
                title: "住院患者查询",
                url: "/PatientList/InPatSearchView?allowunselected=true&zybz=1,2,3,7&t=" + Math.random() + "&zyh=" + '',
                width: "700px",
                height: "600px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick(function (patData) {
                        if (patData && patData.zyh) {
                            $('#zyh').val(patData.zyh);
                            $('#kssj').val(patData.ryrq.substring(0, 10));
                        }
                        else {
                            $('#zyh').val('');
                        }
                    });
                }
            });
        });

        $('#btn_search').click(function () {
            var zyh = $('#zyh').val();
            //zyhtime(zyh)
            var kssj = $('#kssj').val();
            var jssj = $('#jssj').val();
            search(kssj, jssj, zyh);
        });

        $('#zyh').keyupEnterEvent(function () {
            $('#btn_search').trigger('click');
        });



        $('#btn_print').click(function () {
            var kssj = $('#kssj').val();
            var jssj = $('#jssj').val();
            var zyh = $('#zyh').val();
            if (!(kssj && jssj && zyh)) {
                $.modalAlert('请完善筛选条件', 'error');
                return;
            }
            if (!(tempData && tempData.length)) {
                $.modalAlert('请先筛选出结果', 'warning');
                return;
            }
            var printHasNext = true;
            window.open('/NurseManage/InpatientVitalSigns/FullScreenTemperatureChartIndex?kssj=' + kssj + "&jssj=" + jssj + "&zyh=" + zyh);
        });
    }
    function zyhtime(zyh) {
        $.ajax({
            url: "/NurseManage/InpatientVitalSigns/Getzyhrq",
            data: { zyh: zyh },
            async: false,
            success: function (data) {
                $('#kssj').val(new Date(data).format("yyyy-MM-dd"));
            }
        });
    }
    //查询住院病人
    function getPatTreeList() {
        $("#PatTreeList").treeview({
            height: $(window).height() - 175,
            slimscroll: false,
            showcheck: false,//是否显示复选框
            url: "/NurseManage/InpatientVitalSigns/GetPatWardTree?zyzt=" + zyzt + "&keyword=",
            onnodeclick: function (item) {//单选查询
                if (item.Ex1 == "c") {
                    zyh = item.value;
                    $('#zyh').val(item.value);
                    zyhtime(zyh);
                    $('#btn_search').trigger('click');
                }
            }
        });
    }
    $("#btn_add").click(function () {
        top.top.$.Newtouchtab.addTabWithOutMenu({ name: "体温单", enName: "", url: "/NurseManage/InpatientVitalSigns/QueryIndex" });
    });
</script>