@using Newtouch.Infrastructure;
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="rows">
    <div class="panel panel-default">
        <table class="form">
            <tr>
                <th class="formTitle">开始日期：</th>
                <td class="formValue">
                    <input id="kssj" type="text" class="form-control input-wdatepicker form-an"
                           onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" value="@(DateTime.Now.ToString("yyyy-MM-01"))" />
                </td>
                <th class="formTitle">结束日期：</th>
                <td class="formValue">
                    <input id="jssj" type="text" class="form-control input-wdatepicker form-an"
                           onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" />
                </td>
                <th class="formTitle">科室：</th>
                <td class="formValue">
                    <select id="depa" class="form-control">
                        <option value="">全部</option>
                    </select>
                </td>
                <th class="formTitle">医保属性：</th>
                <td class="formValue">
                    <div class="row">
                        <div class="col-md-9">
                            @Html.DropDownList("sel_cblb", EnumCblb.zg.ToDescSelectList(), new { @class = "form-control form-an" })
                        </div>
                        <div class="col-md-3" style="text-align:right;">
                            <input type="button" id="btn_search" onclick="submit();" class="btn btn-primary btn-md" value="查询" style="width:55px" />
                        </div>
                    </div>


                </td>
                <td class="formValue"></td>
            </tr>
        </table>
    </div>
</div>

<div class="ui-layout" id="layout" style="height:100%;width:100%;">
    <iframe class="ui-layout-center" style="width:100%;" id="iframerightiframerightiframerightttt" name="iframerightiframerightiframerightttt"
            scrolling="auto" allowtransparency="true" frameborder="0"></iframe>
</div>
<script type="text/javascript">
    var reportServerHOST = '@(ViewBag.ReportServerHOST)';
    var orgId = '@(ViewBag.OrgId)';
    var isHospAdministrator = '@(ViewBag.IsHospAdministrator)';
    var curUserCode = '@(ViewBag.CurUserCode)';

    var uri = 'ReportServer/Pages/ReportViewer.aspx?%2fHIS.Report.1%2fChongqing%e5%8c%bb%e4%bf%9d%e7%bb%93%e7%ae%97%e8%b4%b9%e7%94%a8%e7%bb%9f%e8%ae%a1%e7%97%85%e4%ba%ba%e6%98%8e%e7%bb%86&rs:Command=Render';

    function submit() {

        if ($('#kssj').val().length == 0) {
            $.modalAlert("缺少开始时间", "error");
            return;
        }
        if ($('#jssj').val().length == 0) {
            $.modalAlert("缺少结束时间", "error");
            return;
        }
        if ($('#kssj').val() > $('#jssj').val()) {
            $.modalAlert("开始时间不能大于结束时间", "error");
            return;
        }
        var checkkssj = $('#kssj').val().substring('5', '7');
        var checkjssj = $('#jssj').val().substring('5', '7');
        //if (checkkssj != checkjssj)
        //{
        //    $.modalAlert("查询间隔不能相差一个月", "error");
        //    return;
        //}

        var url = getUrl();

        url += "&kssj=" + $('#kssj').val();
        url += "&jssj=" + $.getDate({ date: $('#jssj').val() }) + ' 23:59:59';
        url += "&ks=" + $('#depa').val();

        if ($('#sel_cblb').val() != "0") {
            url += "&ybsx=" + $('#sel_cblb').val();
        }
        else {
            url += "&ybsx=" + '';
        }
  
  
        setTimeout("$.loading(true, '正在请求报表页面...');", 10);

        $("#iframerightiframerightiframerightttt").attr('src', url);


    }
    $("#iframerightiframerightiframerightttt").load(function () {
        $.loading(false);
    });

    $(function () {
        var h = $(window).height() - 55
        $('#layout iframe').css('height', h);

        init();
        setTimeout(function () { submit(); }, 100);
    });

    function getUrl() {
        if (uri.StartWith('/')) {
            uri = uri.substr(1);
        }
        var srcUrl = uri;
        srcUrl = reportServerHOST + srcUrl;

        //获取自定义样式
        if (true) {
            if (srcUrl.indexOf('&rc:') == -1) {
                srcUrl += "&rc:Stylesheet=MyStyleSheet";
            }
        }
        if (true) {
            if (srcUrl.indexOf('&rs:') == -1) {
                srcUrl += "&rs:";
            }
            else {
                srcUrl += "&";
            }
            srcUrl += "orgId=";
            srcUrl += orgId;
        }
        return srcUrl;
    }

</script>
<script type="text/javascript">
    function init() {
        //治疗师绑定下拉框
        $("#depa").bindSelect({
            id: "Code",
            text: "Name",
            url: "/OutpatientManage/OutpatientRegSchedule/GetSysDepartmentList",
            dropdownAutoWidth: true
        });

        $('#depa').change(function () {
            submit();
        });
    }
</script>


