<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/H5/css/ydui.css")" rel="stylesheet" />
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/H5/css/demo.css")" rel="stylesheet" />
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/H5/js/jquery-1.10.2.min.js")"></script>
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/H5/js/ydui.flexible.js")"></script>
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/H5/js/ydui.js")"></script>
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>