@{
    ViewBag.Title = "门诊记账";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .toolbar {
        width: 45% !important;
        margin: 8px 30px 12px;
    }

    .btn-group {
        float: right;
        font-size: 12px;
        font-weight: 200;
    }
</style>
<div class="rows" style="float:left;width:24%;margin-left:1%;">
    <div class="panel panel-default">
        <div class="panel-heading navb-bg" style="height:23px;">
            患者信息<strong id="sycs" style='text-decoration:none;'></strong>
            <div class="btn-group" data-toggle="buttons" id="status">
                <label class="btn btn-default active" style="z-index:100">
                    <input type="radio" value="1" name="qrzt" checked="checked" />未确认
                </label>
                <label class="btn btn-default" style="z-index:100">
                    <input type="radio" value="2" name="qrzt" />已确认
                </label>
            </div>
        </div>
        <div style="height:35px; display:none;" id="searchDiv">
            <table class="form" style="margin-left:10px">
                <tr>
                    <td class="formValue">
                        <input id="kssj" type="text" class="form-control input-wdatepicker" style="width:35%; float:left;" value="@DateTime.Now.ToString(" yyyy-MM-dd")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                        <span style="margin-left:5px;float:left;">—</span>
                        <input id="jssj" type="text" class="form-control input-wdatepicker" style="width: 35%; float: left; margin-left: 5px;" value="@DateTime.Now.ToString(" yyyy-MM-dd")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                        <button id="btn_search" type="button" class="btn  btn-default" style="margin-left:10px;"><i class="fa fa-search"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="gridPanel" style="margin-top:-12px;width:273px;">
        <table id="gridList"></table>
    </div>
</div>
<div class="rows" style="float:left;width:74%;margin-left:1%;">
    <form class="rows" style="margin-bottom: 1%;" id="formPat1">
        <div class="panel panel-default">
            <div class="panel-heading navb-bg">
                基本信息<strong id="sycs" style='text-decoration:none;'></strong>
            </div>
            <div style="padding: 2px;padding-right:20px;" id="divPatInfo">
                <table class="form">
                    <tr>
                        <th class="formTitle"><label id="lbl_type">门诊/住院号：</label></th>
                        <td class="formValue">
                            @*<input type="text" class="form-control" id="mzh" name="mzh" />*@
                            <label id="mzh"></label>
                            <label id="czlx" hidden="hidden"></label>@*操作类型 新增0/修改1/删除2*@
                            <label id="clzt" hidden="hidden"></label> @*手工添加0/未确认1/已确认2*@
                            <label id="jfbId" hidden="hidden"></label>
                            <input type="hidden" class="btn btn-default btn-md btn-default-color" style="width: 25px;" id="btnsyy" value="查询" onclick="GetPatSerarchView($('#mzh').val());" />
                            <input type="hidden" id="brxz" />
                        </td>
                        <th class="formTitle">姓名：</th>
                        <td class="formValue">
                            <label id="xm" style="width: 150%"></label>
                        </td>
                        <th class="formTitle">性别：</th>
                        <td class="formValue">
                            <label id="xb"></label>
                        </td>
                        <th class="formTitle">年龄：</th>
                        <td class="formValue">
                            <label id="nlshow"></label>
                        </td>
                    </tr>
                    <tbody class="dispTbody" style="display:none;">
                        <tr>
                            <td class="formTitle">证件号：</td>
                            <td class="formValue">
                                <label id="zjh"></label>
                            </td>
                            <td class="formTitle">手机号：</td>
                            <td class="formValue seWidth">
                                <label id="phone"></label>
                            </td>
                            <th class="formTitle">出生日期：</th>
                            <td class="formValue seWidth">
                                <label id="csny"></label>
                            </td>
                            <th class="formTitle" hidden>介绍人：</th>
                            <td class="formValue">
                                <label id="jsr" hidden></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="fa_icontoggle"><i class="fa fa-angle-double-down icontoggle" style="color:rgb(0, 160, 233);cursor:pointer;"></i></div>
            </div>
        </div>
    </form>
    <div class="rows" style="margin-bottom: 1%;">
        <div class="panel panel-default" style="margin-bottom:0;">
            <div class="panel-heading navb-bg" id="divPanelJzxm">
                记账项目
            </div>
            <div id="divSLMX" style="padding: 2px;padding-right:20px;">
                <table class="form">
                    <tr>
                        <th class="formTitle"><span class="required">*</span>收费项目：</th>
                        <td class="formValue">
                            <input id="sfxmmc" type="text" class="form-control form-an" />
                            <input id="sfxmCode" type="text" style="display:none;" class="form-control" />
                            <!-- 医嘱类型 1药品 2收费项目 -->
                            <input id="yzlx" type="text" style="display:none;" class="form-control" />
                            <input id="sfdlCode" type="text" style="display:none;" class="form-control" />
                            <input id="sfdlmc" type="text" style="display:none;" class="form-control" />
                        </td>
                        <th class="formTitle"><span class="required" style="display:inline">*</span>单位时长(分)：</th>
                        <td class="formValue">
                            <input id="duration" type="text" class="form-control form-an" value="" />
                        </td>
                        <th class="formTitle">单位：<label id="dw"></label></th>
                        <td class="formValue"></td>
                    </tr>
                    <tr>
                        <th class="formTitle">单价(元)：</th>
                        <td class="formValue" id="input1"></td>
                        <th class="formTitle"><span class="required">*</span>数量：</th>
                        <td class="formValue">
                            <input id="sl" type="text" class="form-control form-an" />
                        </td>
                        <th class="formTitle"></th>
                        <td class="formValue">
                            <div class="ckbox">
                                <input id="ttbz" name="ttbz" type="checkbox"><label for="ttbz">团体治疗</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle"><span class="required">*</span>康复类别：</th>
                        <td class="formValue formDdlSelectorTd">
                            <select id="kflb" name="kflb" class="form-control">
                                <option value="">==请选择==</option>
                            </select>
                        </td>
                        <td class="formTitle"><span class="required">*</span>治疗日期：</td>
                        <td class="formValue">
                            <input id="jzsj" type="text" class="form-control input-wdatepicker form-an formClearIgnore"
                                   onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" />
                            <span style="color: red; display: none">￥</span><a id="zje" style="display: none">0.00</a>
                            <input type="hidden" id="IsBlh" value="@ViewBag.IsBlh" />
                        </td>
                        <th class="formTitle"><span class="required">*</span>治疗师：</th>
                        <td class="formValue">
                            <input id="zlsList" type="text" class="form-control form-an" />
                        </td>
                        @*
                            <th class="formTitle">备注：</th>
                            <td class="formValue">
                                <input id="bz" type="text" class="form-control form-an form-an-end" />
                            </td>*@
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <strong style="text-decoration:none;float:left;padding-left:10px;">
        页面总金额：<span style='color:red;' id="ymzje"></span>元，未保存金额：<span style='color:red;' id="wqrje"></span>元
    </strong>
    @Html.Partial("_MiddleButtonsView", new Newtouch.HIS.Web.Core.Models.BottomButtonViewModel()
{
    ShowKeyList = new int[] { 2, 3, 6, 9 },
    F2Text = "添加",
    F3Text = "修改",
    F6Text = "删除",
    F9Text = "取消修改",
    F9Hidden = true
})
    <div>
        <table id="gridMX"></table>
    </div>
    @Html.Partial("_BottomButtonsView", new Newtouch.HIS.Web.Core.Models.BottomButtonViewModel()
{
    ShowKeyList = new[] { 4, 7, 8, 10 },
    F7Text = "模板",
    F8Text = "提交",
    F10Text = "查看报表"
})
    <table style="width: 55%;position: relative;bottom:37px">
        <tr>
            <td>
                <label style="height:7px;width:25px;background-color:#f2dede; border:1px solid #ddd"></label>
            </td>
            <td>表示未确认记账</td>
            <td>
                <label style="height:7px;width:25px;background-color:#d9edf7; border:1px solid #ddd"></label>
            </td>
            <td>表示历史记账</td>
            @*
                <td>
                    <label style="height:7px;width:25px;background-color:#6ff3ad; border:1px solid #ddd"></label>
                </td>
                <td>表示历史同步记账</td>*@
            <td>
                <label style="height:7px;width:25px;background-color:#6ff3ad; border:1px solid #ddd"></label>
            </td>
            <td>表示修改历史记账</td>
            <td>
                <label style="height:7px;width:25px;background-color:white;  border:1px solid #ddd"></label>
            </td>
            <td>表示新记账</td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var patientType;
    var clzt;
    var Del_xmlist = [];//已删除的list
    var editingNewid = null;    //正在修改的行
    var ksrq = "";
    var jsrq = "";
    var ymzje = "0.00";//收费项目list总金额
    var wqrje = "0.00";//收费项目未保存的总金额
    $('#wqrje').html(wqrje);
    $("#btn_search").click(function () {
        if ($('#kssj').val() && $('#jssj').val() && ($('#kssj').val() > $('#jssj').val())) {
            $.modalAlert("开始日期不能大于结束日期", 'warning');
            return;
        }
        ksrq = $("#kssj").val();
        jsrq = $("#jssj").val();
        if ($('#status input:radio:checked').val() == "2" && ksrq == "" && jsrq == "") {
            $.modalAlert("开始日期和结束日期不能同时为空", 'warning');
            return;
        }
        $("#gridList").jqGrid('setGridParam', {
            postData: { type: $('#status input:radio:checked').val() || "2", kssj: ksrq, jssj: jsrq },
        }).trigger('reloadGrid');
    });
    gridList();

    $("input[name='qrzt']").off().on("change", function () {
        var $dstnDiv = $("#searchDiv");
        if ($(this).val() == "2") {
            $("#kssj").val($.getDate());
            $("#jssj").val($.getDate());
            ksrq = $("#kssj").val();
            jsrq = $("#jssj").val();
            $dstnDiv.show();

        } else {
            $("#kssj").val('');
            $("#jssj").val('');
            $dstnDiv.hide();
            //$("#gridPanel").css("margin-top", "-15px");
        }
        addpatientmzh();
        $("#gridList").jqGrid('setGridParam', {
            postData: { type: $(this).val() || "1", kssj: $("#kssj").val(), jssj: $("#jssj").val() },
        }).trigger('reloadGrid');
    });
    //加载康复类别
    $("#kflb").bindSelect({
        url: "/Com/GetSelectItemsDetailListByItemCode?code=RehabTreatmentMethod",
    });

    var Editing_ysList = [];
    //默认为当前
    var default_Editing_ysList = [{ id: '@(ViewBag.CurYsStaffId)', gh: '@(ViewBag.CurYs)', Name: '@(ViewBag.CurYsmc)', ks: '@(ViewBag.CurKs)', ksmc: '@(ViewBag.CurKsmc)' }]; //编辑域中的治疗师
    $("#input1").html('@(ViewBag.sfxm_dj)' === 'ON' ? " <input id='dj' type='text' class='form-control form-an' />" : " <label id='dj'></label>");
    $('#btn_bottombutton_f3').attr('disabled', 'disabled');
    $('#btn_bottombutton_f6').attr('disabled', 'disabled');
    $("#jzsj").val($.getDate());


    patInfoObj = {}, //个人信息Object对象

    setDefaultYsList();

    var respblh;
    //根据病历号获取病人基本信息
    function searchPatInfo(admsnum, type) {
        $.loading(true, "正在请求数据...");
        if ($('#status input:radio:checked').val() == "2") {//已确认
            if (type == '住院') {
                $("#lbl_type").html("住院号：");
                patientType = "住院";
            } else if (type == '门诊') {
                $("#lbl_type").html("门诊号：");
                patientType = "门诊";
            } else {
                return;
            }
            $.ajax({
                type: "POST",
                url: "/OutpatientManage/OutpatientAccounting/GetpatientInfoInOptima",
                data: { admsnum: admsnum, type: type, kssj: ksrq, jssj: jsrq },
                dataType: "json",
                cache: true,
                async: true,
                success: function (ajaxresp) {
                    if (ajaxresp.state === 'success') {
                        funcDoPageClear(); //清除
                        respblh = ajaxresp.data.OutpatAccInfoDto.mzh;
                        setPatInfoModel(ajaxresp.data.OutpatAccInfoDto); //个人基本信息赋值

                        clzt = "2";//$("#gridList").jqGridRowValue().wqrzt > 0 ? "1" : "2";
                        if (ajaxresp.data.OptimAccInfoDto && ajaxresp.data.OptimAccInfoDto.length > 0) {
                            newxmList = ajaxresp.data.OptimAccInfoDto;   //作为新项添加 //”数组最前端“
                            fillDataToGrid();
                        }
                    } else if (ajaxresp.state === 'error') {
                        newtouch_event_f4();
                        FreeCardReg();
                        $.loading(false);
                    }
                },
                complete: function () {
                    $.loading(false);
                }
            });
        } else if ($('#status input:radio:checked').val() == "1") {//未确认
            clzt = "1";
            setTimeout('loadSyncedTreatmentRecord("' + admsnum + '","' + type + '");', 50);
        }

    }

    function funcDoPageClear() {
        //$("#gridMX").newtouchLocalDataGrid(null, oldxmList);
        $("#sycs").html('');
        clzt = "";
        $("#jzsj").val($.getDate());
    }

    //新增患者
    function FreeCardReg() {
        $.modalOpen({
            id: "Form",
            title: "免卡登记",
            url: "/PatientManage/HospiterRes/PatientBasic",
            width: "1000px",
            height: "824px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function fillInfo(rep) {
        setPatInfoModel(rep);
    }

    //初始化病人信息
    function setPatInfoModel(patModel) {
        $('#formPat1').formSerialize(patModel);
        $("#xb").html($.getGender(patModel.xb));
        $("#csny").html((patModel.csny && patModel.csny.length >= 10 ? patModel.csny.substring(0, 10) : ""));
        $("#zjh").html(patModel.zjh);
        $("#jsr").html(patModel.jsr);
        $("#xm").html(patModel.xm);
        $("#nlshow").html(getAgeFromBirthTime({ begin: patModel.csny }).text);
        $("#phone").html(patModel.phone);
        if (patModel.sycs) {
            $('#sycs').html("&nbsp&nbsp&nbsp&nbsp医保剩余<span style='color:red'>" + patModel.sycs + "</span>次");
        }
        $("brxz").val(patModel.brxz);
        $("#mzh").html(patModel.mzh);
        //加载病人信息
        patInfoObj.xm = patModel.xm; //姓名
        patInfoObj.xb = patModel.xb; //性别
        patInfoObj.csny = patModel.csny;
        patInfoObj.patid = patModel.patid; //病人内码
        patInfoObj.blh = patModel.blh; //病历号
        patInfoObj.zjh = patModel.zjh; //证件号
        patInfoObj.jsr = patModel.jsr; //介绍人
        patInfoObj.brxz = patModel.brxz;//病人性质
        patInfoObj.mzh = patModel.mzh;//门诊号
        var type = patModel.zjlx;
        switch (type) {
            case "1":
                type = "身份证";
                break;
            case "2":
                type = "护照";
                break;
            case "3":
                type = "军官证";
                break;
            default:
                type = "其他";
                break;
        }
        $("#zjlx").html(type);
        patInfoObj.zjlx = patModel.zjlx; //证件类型
    }

    //声明 项目明细 grid
    $("#gridMX").newtouchLocalDataGrid({
        height: $(window).height() - 363,
        unwritten: false,
        colModel: [
            { label: "newid", name: "newid", width: 80, align: "left", hidden: true },
            { label: "收费项目", name: "sfxmCode", width: 80, align: "left", hidden: true },
            { label: "医嘱类型", name: "yzlx", width: 150, align: "left", hidden: true },
            { label: "收费项目", name: "sfxmmc", width: 150, align: "left" },
            { label: "类别", name: "sfdlCode", align: "left", hidden: true },
            { label: "团队治疗", name: "ttbz", align: "left", hidden: true },
            { label: "类别", name: "sfdlmc", width: 100, align: "left" },
            { label: "单位", name: "dw", width: 70, align: "left" },
            { label: "单位时长", name: "duration", width: 70, align: "left" },
            {
                label: "单价(元)", name: "dj", width: 70, align: "left",
                formatter: function (val) {
                    return val > 0 ? parseInt(val).toFixed(4) : "0.0000";
                }
            },
            { label: "数量", name: "sl", width: 100, align: "left" },
            {
                label: "治疗师", name: "ysList", width: 120, align: "left", formatter: function (cellvalue) {
                    return getYsNamesByList(cellvalue);
                }
            },
            { label: "总金额(元)", name: "zje", width: 70, align: "left" },
            { label: "备注", name: "bz", hidden: true, width: 100, align: "left" },
            {
                label: "记账日期", name: "jzsj", width: 100, align: "left", formatter: function (cellvalue) {
                    return cellvalue.length > 10 ? cellvalue.substring(0, 10) : cellvalue;
                }
            },
            { label: "康复类别", name: "kflb", width: 50, align: "left", hidden: true },
            { label: "clzt", name: "clzt", hidden: true },
             { label: "jfbId", name: "jfbId", hidden: true },
              { label: "czlx", name: "czlx", hidden: true }
        ],
        ondblClickRow: function (rowid) {
            gridEditRow(rowid);
        },
        onSelectRow: function (rowid) {
            var data = $("#gridMX").jqGrid('getRowData', rowid);
            $('#btn_bottombutton_f2').removeAttr('disabled');
            $('#btn_bottombutton_f3').removeAttr('disabled');
            $('#btn_bottombutton_f6').removeAttr('disabled');
        },
        gridComplete: function (data) {
            var ids = $("#gridMX").jqGrid('getDataIDs');
            for (var i = 0; i < ids.length; i++) {
                var rowData = $("#gridMX").jqGrid('getRowData', ids[i]);
                if (rowData) {
                    if (rowData.jfbId && rowData.jfbId != '') {//已确认
                        if (rowData.czlx == "1") {//修改
                            $('#gridMX tr[id="' + ids[i] + '"]').css("background-color", "#6ff3ad");
                        } else {
                            $('#gridMX tr[id="' + ids[i] + '"]').css("background-color", "#d9edf7");
                        }
                    } else {
                        if (rowData.clzt == "1") {//未确认
                            $('#gridMX tr[id="' + ids[i] + '"]').css("background-color", "#f2dede");
                        }
                    }

                }
            }
        }
    });

    //治疗师 本月 记账 上限 提醒
    function refreshZlsJzjeInfo() {
        var gh = null;
        var ks = null;
        if (Editing_ysList && Editing_ysList.length == 1) {
            gh = Editing_ysList[0].gh;
            ks = Editing_ysList[0].ks
        } else {
            $('#divPanelJzxm').html("记账项目");
        }
        if (gh) {
            $.najax({
                type: "GET",
                url: "/HospitalizationManage/BookkeepInHos/GetStaffjfjeInfo?gh=" + gh + "&ks=" + ks,
                loading: true,
                success: function (ajaxresp) {
                    if (ajaxresp.data.jfjesx) {
                        jfXm_jfjesx = ajaxresp.data.jfjesx;
                        jfXm_yjfzje = ajaxresp.data.yjfzje;
                        Tips();
                    }
                }
            });
        }
    }
    var jfXm_jfjesx;
    var jfXm_yjfzje;
    //填充
    function Tips() {
        var html = "记账项目";
        if (jfXm_jfjesx) {
            html += "<strong style='text-decoration:none;'>&nbsp;&nbsp;&nbsp;&nbsp;已计费总额（当月）：<span style='color:red;'>" + jfXm_yjfzje + "</span>元，上限（当月）：<span style='color:red;'>" + jfXm_jfjesx + "</span>元</strong>";
        }
        $('#divPanelJzxm').html(html);
    }


    //绑定 治疗师选择 树
    $('#zlsList').focus(function () {
        if ($(this).hasClass('form-an-cur') && Editing_ysList.length > 0) {
            return; //刚从上一个节点自动跳过来的
        }
        var initIdSelected = "";
        $.each(Editing_ysList, function () {
            initIdSelected += this.id + ",";
        })
        $.modalOpen({
            id: "StaffCorrelation",
            title: "选择治疗师",
            url: "/SystemManage/SysStaff/Selector?single=true&isContansChildOrg=false&callbackType=json&dutyCode=RehabDoctor&initIdSelected=" + initIdSelected,
            width: "650px",
            height: "570px",
            scrollbar: false,
            showleftlalbel: false,
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick(function (data) {
                    staffTreeCallback(data);
                });
            }
        });
    });

    //治疗师树 选择 回调
    function staffTreeCallback(treeSeleData) {
        var zlsNames = "";
        Editing_ysList = [];
        $.each(treeSeleData, function () {
            zlsNames += this.text + ",";
            Editing_ysList.push({ id: this.id, gh: this.value, Name: this.text, ks: this.Ex1, ksmc: this.Ex2 });
        })
        if (zlsNames.length > 0) {
            zlsNames = zlsNames.substring(0, zlsNames.length - 1);
        }
        //开关：开
        if ('@ViewBag.IsUpperLimitReminder' == 'ON') {
            refreshZlsJzjeInfo();
        }
        $('#zlsList').val(zlsNames);
    }

    //治疗项目选择浮层绑定
    $('#sfxmmc').newtouchBatchFloatingSelector({
        width: 650,
        height: 280,
        caption: "选择项目",
        clickautotrigger: true,
        url: '/SystemManage/BaseData/SelectSfxmYp',
        ajaxparameters: function ($thisinput) {
            return "keyword=" + $.trim($thisinput.val()) + "&mzzybz=1&containyp0ck=1&dllb=1,2,3";
        },
        itemdbclickhandler: function ($thistr, $thisinput) {
            if ($thisinput.attr('id') === 'sfxmmc') {
                $('#sfxmmc').val($thistr.attr('data-sfxmmc'));
                $('#sfxmCode').val($thistr.attr('data-sfxmCode'));
                $('#sfdlCode').val($thistr.attr('data-sfdlCode'));
                $('#sfdlmc').val($thistr.attr('data-sfdlmc'));
                $('#yzlx').val($thistr.attr('data-yzlx'));
                var dj = $thistr.attr('data-dj');
                if ('@(ViewBag.sfxm_dj)' === 'ON') {
                    $('#dj').val(dj)
                } else {
                    $('#dj').html(dj);
                }
                //$('#dj').html($thistr.attr('data-dj'));
                //$('#dw').val($thistr.attr('data-dw'));
                $('#dw').html($thistr.attr('data-dw'));
                if ($thistr.attr('data-duration') !== "null") {
                    $('#duration').val($thistr.attr('data-duration'));
                }
                $('#sl').val('1');
                reCalcZjeFromTxt();

            }
        },
        colModel: [
            { label: '代码', name: 'sfxmCode', widthratio: 10 },
            { label: '名称', name: 'sfxmmc', widthratio: 12 },
            { label: '拼音', name: 'py', widthratio: 10 },
            { label: '收费大类', name: 'sfdlCode', hidden: true },
            { label: '医嘱类型', name: 'yzlx', widthratio: 8, hidden: true },
            { label: '收费大类', name: 'sfdlmc', widthratio: 12 },
            { label: '单位', name: 'dw', widthratio: 6 },
             {
                 label: '单价', name: 'dj', widthratio: 8,
                 formatter: function (val) {
                     return val > 0 ? parseInt(val).toFixed(4) : "0.0000";
                 }
             },
            { label: '时长', name: 'duration', widthratio: 6 },
            { label: '备注', name: 'bz', widthratio: 36 }
        ]
    });

    var oldxmList = [];   //历史已提交项目List
    var newxmList = [];   //新项目List

    //计算项目总金额
    function reCalcZje(xm) {
        if (xm) {
            if (xm.tdxmList && xm.tdxmList.length > 0) {
                //有替代项目，用其计算总金额
                xm.zje = 0;
                $.each(xm.tdxmList, function () {
                    xm.zje += this.dj * this.sl;
                });
            }
            else {
                xm.zje = roundingBy4she6ru5chengshuang((parseFloat(xm.dj) * parseFloat(xm.sl)), 2);//xm.dj * xm.sl; //用治疗项目计费
                ymzje = (parseFloat(ymzje) + parseFloat(xm.zje)).toFixed(2);
            }
        }
    }

    //重新计算项目总金额
    function reCalcEachZje(xmArr) {
        ymzje = "0.00";
        $('#ymzje').html(ymzje);
        $.each(xmArr, function () {
            reCalcZje(this);
        });
    }

    //向gridMX grid里填充数据
    function fillDataToGrid() {
        $("#gridMX").resetSelection();
        $("#gridMX").clearGridData();
        reCalcEachZje(oldxmList);
        $("#gridMX").newtouchLocalDataGrid(null, oldxmList);
        reCalcEachZje(newxmList);
        $("#gridMX").newtouchLocalDataGrid(null, newxmList);
        $('#ymzje').html(ymzje);
    }

    fillDataToGrid();

    function setDefaultYsList() {
        if (default_Editing_ysList && default_Editing_ysList.length > 0 && default_Editing_ysList[0].id) {
            Editing_ysList = default_Editing_ysList;
            $('#zlsList').val(Editing_ysList[0].Name);

            refreshZlsJzjeInfo();
        }
    }

    var editingJzjhmxId = null;    //正在修改的行
    //获取编辑域的对象数据
    function getEditRowData() {
        var dj = '@(ViewBag.sfxm_dj)' === 'ON' ? $("#dj").val() : $("#dj").html();
        var data = {
            sfxmCode: $('#sfxmCode').val(),
            sfxmmc: $('#sfxmmc').val(),
            yzlx: $('#yzlx').val(),
            duration: $('#duration').val(),
            dj: dj,
            dw: $('#dw').html(),
            sl: $('#sl').val(),
            sfdlCode: $('#sfdlCode').val(),
            sfdlmc: $('#sfdlmc').val(),
            bz: $('#bz').val(),
            ttbz: $('#ttbz').is(':checked') ? "1" : "0",
            jzsj: $("#jzsj").val(),
            kflb: $('#kflb').val(),
            czlx: $('#czlx').val(),
            jfbId: $('#jfbId').val(),
            clzt: $('#clzt').val()
        };
        //治疗师
        data.ysList = Editing_ysList;

        return data;
    }

    var editingInvalid = null;//编辑中的行是否允许作废
    //请求 编辑 行
    function gridEditRow(rowid) {
        if (rowid) {
            var rowData = $("#gridMX").jqGrid('getRowData', rowid);
            if (rowData) {
                var rowDataArr = $.jsonWhere(newxmList, function (v) {
                    return v && v.newid === rowData.newid;
                });
                if (!rowDataArr || rowDataArr.length === 0) {
                    return; //为什么没找到
                }
                rowData = rowDataArr[0];  //通过rowData.newid从对象数组中取出该行数据
                if (true) { //&&可编辑
                    //序列化至编辑域中
                    //治疗师
                    Editing_ysList = rowData.ysList;
                    $('#zlsList').val(getYsNamesByList(rowData.ysList)); //治疗师
                    refreshZlsJzjeInfo();
                    $('#sfxmmc').val(rowData.sfxmmc);
                    $('#sfxmCode').val(rowData.sfxmCode);
                    $('#sfdlCode').val(rowData.sfdlCode);
                    $('#sfdlmc').val(rowData.sfdlmc);
                    $('#yzlx').val(rowData.yzlx);
                    $('#czlx').val(rowData.czlx);
                    $('#dw').html(rowData.dw);
                    $('#jfbId').val(rowData.jfbId);
                    if ('@(ViewBag.sfxm_dj)' === 'ON') {
                        $('#dj').val(rowData.dj)
                    } else {
                        $('#dj').html(rowData.dj);
                    }
                    $('#duration').val(rowData.duration);
                    $('#sl').val(rowData.sl);
                    $('#zje').html(rowData.zje);
                    $('#bz').val(rowData.bz);
                    $('#clzt').val(rowData.clzt);
                    $('#jzsj').val(rowData.jzsj.length > 10 ? rowData.jzsj.substring(0, 10) : rowData.jzsj);
                    rowData.ttbz === "1" ? $('#ttbz').prop("checked", true) : $('#ttbz').removeAttr('checked');
                    $('#kflb').val(rowData.kflb).trigger('change');
                    $('#btn_bottombutton_f6').attr('disabled', 'disabled');
                    $('#btn_bottombutton_f9').show();

                    $('#btn_bottombutton_f2').attr('disabled', 'disabled');
                    editingNewid = rowData.newid;    //正在修改的行
                }
            }
        }
    }

    //添加按钮
    function newtouch_event_f2() {
        var data = getEditRowData();
        if (!(checkEditingRowData(data))) {    //数据是否完善，检查必填项
            return;
        }

        //检查重复项

        data.newid = Math.random().toString() + new Date().getMilliseconds();   //newid()
        //data.clzt = '';
        editingNewid = null;    //?进入修改状态，然后点击添加？
        data.czlx = "0";//新增
        //newxmList.unshift(data);   //作为新项添加 //”数组最前端“
        newxmList.push(data);
        wqrje = roundingBy4she6ru5chengshuang(parseFloat(wqrje) + parseFloat(data.dj) * parseFloat(data.sl), 2);
        $('#wqrje').html(wqrje);
        //重新将xm数组呈现至grid
        fillDataToGrid();
        bottomButtonsReset();
        $('#sfxmmc').val('');
        $('#sfxmCode').val('');
        $('#sfdlCode').val('');
        $('#sfdlmc').val('');
        $('#dw').html('');
        if ('@(ViewBag.sfxm_dj)' === 'ON') {
            $('#dj').val('0.0000')
        } else {
            $('#dj').html('0.0000');
        }
        $('#yzlx').val('');
        $('#duration').val('');
        $('#sl').val('');
        $('#zje').html('0.00');
        $('#ttbz').removeAttr('checked');
        $('#jfbId').val('');
        $('#kflb').val('').trigger('change');
        $("#clzt").val('');
        editingNewid = null;    //正在修改的行
        $("#czlx").val('');
        $('#sfxmmc').trigger('focus');
    }


    //修改按钮
    function newtouch_event_f3() {
        if (editingNewid && editingJzjhmxId) {
            $.modalConfirm("程序异常，将自动刷新页面", function (flag) {
                location.href = location.href;
            });
            return; //程序错误
        }

        if (editingNewid || editingJzjhmxId) {
            //提交修改
            var data = getEditRowData();
            if (!(checkEditingRowData(data))) {    //数据是否完善，检查必填项
                return;
            }

            data.newid = editingNewid;
            data.jzjhmxId = editingJzjhmxId;
            if (!!data.jfbId) {//判断是否新增数据
                data.czlx = "1";//修改
            }
            //检查重复项

            //先在xm数组中找到之
            var matchedIndex;
            if (editingNewid) {
                matchedIndex = -1;
                var dj = "0.00";
                var sl = 0;
                for (var ii = 0; ii < newxmList.length; ii++) {
                    if (newxmList[ii].newid === data.newid) {
                        matchedIndex = ii;
                        dj = newxmList[ii].dj;
                        sl = newxmList[ii].sl;
                    }
                }
                if (matchedIndex === -1) {
                    return; //应该是异常
                }
                newxmList.remove(matchedIndex);   //移除该项

                if (!data.czlx == "1" || data.czlx == "0") {//新增数据和在线修改过未保存的数据，需要先扣除金额
                    //新增数据，暂未保存到数据库，需要先减去修改前总金额，再加上修改后总金额
                    wqrje = (parseFloat(wqrje) - (parseFloat(dj) * parseFloat(sl))).toFixed(2);//减去修改前的金额
                }
                //newxmList.unshift(data);   //作为新项添加    //”数组最前端“
                newxmList.push(data);
                wqrje = (parseFloat(wqrje) + parseFloat(data.dj) * parseFloat(data.sl)).toFixed(2);//加上修改后总金额
                $('#wqrje').html(wqrje);
            }
            else {  //editingJzjhmxId
                matchedIndex = -1;
                for (var ii = 0; ii < oldxmList.length; ii++) {
                    if (oldxmList[ii].jzjhmxId === data.jzjhmxId) {
                        matchedIndex = ii;
                    }
                }
                if (matchedIndex === -1) {
                    return; //应该是异常
                }
                oldxmList.remove(matchedIndex);   //移除该项
                //oldxmList.unshift(data);   //作为新项添加    //”数组最前端“
                oldxmList.push(data);
            }

            //重新将xm数组呈现至grid
            fillDataToGrid();
            $('#sfxmmc').val('');
            $('#sfxmCode').val('');
            $('#sfdlCode').val('');
            $('#sfdlmc').val('');
            $('#yzlx').val('');
            $('#dw').html('');
            $('#czlx').val('');
            $('#jfbId').val('');
            if ('@(ViewBag.sfxm_dj)' === 'ON') {
                $('#dj').val('0.00')
            } else {
                $('#dj').html('0.00');
            }
            $('#duration').val('');
            $('#ttbz').removeAttr('checked');
            $('#sl').val('');
            $('#zje').html('0.00');
            $('#kflb').val('').trigger('change');
            $('#clzt').val('');
            editingNewid = null;    //正在修改的行
            editingJzjhmxId = null;    //正在修改的行

            bottomButtonsReset();
            $('#sfxmmc').trigger('focus');
        }
        else {
            //获取grid当前选中的那一行
            var seleId = $('#gridMX').jqGrid('getGridParam', 'selrow');
            if (seleId) {
                //请求修改该行
                gridEditRow(seleId);
            }
        }
    }

    //F4清除
    function newtouch_event_f4() {
        $("#gridMX").clearGridData();

        $('#xm,#xb,#nlshow,#jsr,#zjlx,#zjh,#csny,#sycs,#dw').html('');
        $("#zje").html('0.00');
        $("#jzsj").val($.getDate());
        $("#lbl_type").html("门诊/住院号：");
        oldxmList = [];   //历史已提交项目List
        newxmList = [];   //新项目List
        var Editing_ysList = [];
        editingNewid = null;    //正在修改的行
        var Del_xmlist = [];//已删除的list
        patInfoObj = {};
        bottomButtonsReset();

        setDefaultYsList();
        wqrje = '0.00';
        ymzje = '0.00';
        $("#wqrje").html(wqrje);
        $("#ymzje").html(ymzje);
    };

    //F6从列表中删除
    function newtouch_event_f6() {
        //获取grid当前选中的那一行
        var rowid = $('#gridMX').jqGrid('getGridParam', 'selrow');
        if (rowid) {
            //请求删除该行
            if (rowid) {
                var rowData = $("#gridMX").jqGrid('getRowData', rowid);
                if (rowData) {
                    if (editingInvalid) {   //该行不能删除
                        var rowDataArr = $.jsonWhere(newxmList, function (v) {
                            if (v.newid === rowData.newid) {
                                return;
                            }
                        });
                    }
                    if (rowData.newid === editingNewid) {
                        $.modalAlert("该行正在处于编辑状态，不能删除", 'warning');
                        return; //该行正在处于编辑状态，不能删除
                    }
                    if (rowData.czlx == "1" || rowData.czlx == "0") {//如果是新增或者修改数据，减去总金额
                        wqrje = (parseFloat(wqrje) - roundingBy4she6ru5chengshuang((parseFloat(rowData.dj) * parseFloat(rowData.sl)), 2)).toFixed(2);//加上修改后总金额
                        $('#wqrje').html(wqrje);
                    }
                    //if (!!rowData.jfbId) {
                    rowData.czlx = "2";
                    Del_xmlist.unshift(rowData)
                    //}

                    var matchedIndex = -1;
                    for (var ii = 0; ii < newxmList.length; ii++) {
                        if (newxmList[ii].newid === rowData.newid) {
                            matchedIndex = ii;
                        }
                    }

                    if (matchedIndex === -1) {
                        return; //应该是异常
                    }

                    newxmList.remove(matchedIndex);   //移除该项

                    //重新将xm数组呈现至grid
                    fillDataToGrid();
                    bottomButtonsReset();
                    //对其他都不产生影响
                }
            }
        }
    }

    //模板
    function newtouch_event_f7() {
        GetTemplate();
    }

    //提交
    function newtouch_event_f8() {
        var paramData = [];
        patInfoObj.brxz = $("#brxz").val();
        if (Del_xmlist && Del_xmlist.length > 0) {
            newxmList.push.apply(newxmList, Del_xmlist);
        }
        paramData.xmList = newxmList;
        if (!patInfoObj.mzh) {
            $.modalAlert("缺少病人基本信息", 'warning');
            return;
        }

        if ((!paramData.xmList || paramData.xmList.length === 0) && (!Del_xmlist || Del_xmlist.length === 0)) {
            $.modalAlert("缺少记账计划项目", 'warning');
            return;
        }
        if (patInfoObj.mzh !== respblh) {
            $.modalAlert("错误：录入过程中，病人发生变换", 'warning');
            return;
        }
        $.submitForm({
            url: "/OutpatientManage/OutpatientAccounting/SaveOptimaAcountInfo",
            param: { patientType: patientType, clzt: clzt, bacDto: patInfoObj, xmList: newxmList },
            success: function (ajaxresp) {
                addpatientmzh();
                $("#gridList").trigger('reloadGrid');
                refreshZlsJzjeInfo();
            }
        });

    }

    //F9取消修改
    function newtouch_event_f9() {
        $('#sfxmmc').val('');
        $('#sfxmCode').val('');
        $('#yzlx').val('');
        $('#sfdlCode').val('');
        $('#sfdlmc').val('');
        $('#dw').html('');
        $('#czlx').val('');
        $('#jfbId').val('');
        if ('@(ViewBag.sfxm_dj)' === 'ON') {
            $('#dj').val('0.0000')
        } else {
            $('#dj').html('0.0000');
        }
        $('#duration').val('');
        $('#ttbz').removeAttr('checked');
        $('#kflb').val('').trigger('change');
        $('#sl').val('');
        $('#clzt').val('');
        //$('#bz').val('');

        editingNewid = null;    //正在修改的行
        editingJzjhmxId = null;    //正在修改的行

        $("#gridMX").resetSelection();

        bottomButtonsReset();

        $('#sfxmmc').trigger('focus');
    }

    //查看报表
    function newtouch_event_f10() {
        //window.open(rpHost + "ReportServer/Pages/ReportViewer.aspx?%2fHIS.Report.1%2F%E9%80%90%E5%8D%95%E6%94%B6%E5%85%A5%E6%8A%A5%E8%A1%A8&rs:Command=Render&orgId=" + paramOrganizeId + "&curUserCode=" + paramCurUserCode + "&isHospAdministrator=" + paramIsHospAdministrator + "", '', "height=500, width=1195,top=100, left=50, toolbar =no, menubar=no, scrollbars=yes, resizable=yes, location=no, status=no")
        window.open("/ReportManage/Report/OutpatientFeeStatistics", "height=500, width=1195,top=100, left=50, toolbar =no, menubar=no, scrollbars=yes, resizable=yes, location=no, status=no");
    }

    //解析医生数组，获取医生名称串
    function getYsNamesByList(ysList) {
        if (ysList) {
            //解析治疗师[{},{}]获取字符串
            var str = "";
            $.each(ysList, function () {
                str += this.Name + ',';
            });
            if (str.length > 0) {
                str = str.substring(0, str.length - 1);
            }
            return str;
        }
        return "";
    }

    //页面中元素，计算总金额
    function reCalcZjeFromTxt() {
        var resultZje = "0.00";
        var txtDj = $('#dj').html();
        var txtSl = $('#sl').val();
        if (txtDj && txtSl) {
            if (!isNaN(txtDj) && !isNaN(txtSl)) {
                resultZje = roundingBy4she6ru5chengshuang((parseFloat(txtDj) * parseFloat(txtSl)), 2);
            }
        }
        $('#zje').html(resultZje);
    }


    //检查正在编辑的数据（待提交）的完整性
    function checkEditingRowData(rowData) {
        if (!rowData.ysList || rowData.ysList.length === 0) {
            $.modalAlert("请选择治疗师", 'warning');
        }
        else if (!rowData.sfxmCode || !rowData.sfxmmc || !rowData.yzlx || !rowData.sfdlCode || !rowData.sfdlmc) {
            $.modalAlert("请选择收费项目", 'warning');
        }
        else if (rowData.dw === "") {
            $.modalAlert("缺少项目单位信息", 'warning');
        }
        else if (rowData.yzlx === '2' && (rowData.duration === "" || rowData.duration === "" || isNaN(rowData.duration))) {
            $.modalAlert("请填写项目单位时长", 'warning');
        }
        else if (rowData.dj === "" || isNaN(rowData.dj)) {
            $.modalAlert("缺少项目单价信息", 'warning');
        }
        else if (rowData.jzsj === "") {
            $.modalAlert("请填写记账日期", 'warning');
        }
        else if (rowData.sl === "" || isNaN(rowData.sl)) {
            $.modalAlert("请填写数量", 'warning');
        } else if (rowData.kflb == "") {
            $.modalAlert("请选择康复类别", 'warning');
        }
        else {
            return true;
        }
        return false;
    }

    $('#sl').keyup(function () {
        reCalcZjeFromTxt();
    });

    $('#zlsList').keyupEnterEvent(function () {
        if (editingNewid || editingJzjhmxId) {
            $('#btn_bottombutton_f3').trigger('click');
        } else {
            $('#btn_bottombutton_f2').trigger('click');
        }

    });

    //选择模板
    function GetTemplate() {
        var yslist = "";
        var zlslist = $("#zlsList").val();
        if (!zlslist) {
            $.modalAlert("请选择治疗师", 'warning');
            return;
        }
        if (!Editing_ysList || Editing_ysList.length === 0) {
            $.modalAlert("请选择治疗师", 'warning');
            return;
        }
        if (!$("#jzsj").val()) {
            $.modalAlert("请选择治疗日期", 'warning');
            return;
        }
        $.each(Editing_ysList, function (idx, val) {
            yslist += val.ks + ",";
        });
        yslist = yslist.substring(0, yslist.length - 1);
        if (yslist && zlslist) {
            $.modalOpen({
                id: "Form",
                title: "收费项目模板窗口",
                url: "/HospitalizationManage/BookkeepInHos/ChargeItemTemplate?keyValue=" + yslist,
                width: "700px",
                height: "530px",
                callBack: function (iframeId) {
                    var data = top.frames[iframeId].submitForm();
                    $.each(data, function (idx, val) {
                        val.newid = Math.random().toString() + new Date().getMilliseconds();   //newid()
                        val.zje = roundingBy4she6ru5chengshuang((parseFloat(val.dj) * parseFloat(val.sl)), 2); //val.sl * val.dj;
                        val["sfxmCode"] = val["sfxm"];
                        val["sfdlCode"] = val["dl"];
                        val["sfdlmc"] = val["dlmc"];
                        val.yzlx = 2;
                        val.ysList = Editing_ysList;
                        val.bz = $("#bz").val();
                        val.jzsj = $("#jzsj").val();
                        val.czlx = "0"
                        //val.clzt = clzt;
                        val.jfbId = "";
                        newxmList.unshift(val);   //作为新项添加 //”数组最前端“
                        wqrje = (parseFloat(wqrje) + parseFloat(val.zje)).toFixed(2);
                    });
                    $('#wqrje').html(wqrje);
                    editingNewid = null;    //?进入修改状态，然后点击添加？
                    //重新将xm数组呈现至grid
                    fillDataToGrid();
                    top.top.window.frames['Form'].$.modalClose();   //关闭之
                }
            });
        } else {
            $.modalAlert("请选择治疗师！", 'warning');
        }
    }

    function bottomButtonsReset() {
        $('#btn_bottombutton_f2').removeAttr('disabled');
        $('#btn_bottombutton_f3').attr('disabled', 'disabled');
        $('#btn_bottombutton_f6').attr('disabled', 'disabled');
        $('#btn_bottombutton_f9').hide();
    }

    //人员查询
    function GetPatSerarchView(mzh) {
        $.modalOpen({
            id: "patSearch",
            title: "患者查询",
            //url: "/OutpatientManage/OutpatientRefund/SysPatEntitiesReView?t=" + Math.random() + "&mzh=" + mzh,
            width: "700px",
            height: "600px",
            callBack: function (iframeId) {
                top.frames[iframeId].PatDbGrid(); //在弹出窗口事件
                //调用查询卡号和住院号
                //getPatInfoAjax(result);
            }
        });
    }

    //加载同步治疗记录
    function loadSyncedTreatmentRecord(admnsnum, type) {
        if (admnsnum && type) {
            var mzh = "";
            var zyh = "";
            if (type == '住院') {
                zyh = admnsnum;
                $("#lbl_type").html("住院号：");
                patientType = "住院";
            } else if (type == '门诊') {
                mzh = admnsnum;
                $("#lbl_type").html("门诊号：");
                patientType = "门诊";
            } else {
                return;
            }

            $.najax({
                type: "POST",
                url: '@Url.Action("GetUnConfirmedSyncedTreatmentRecord")',
                data: { mzh: mzh, zyh: zyh },
                loading: true,
                loadingtext: "正在请求同步治疗记录",
                success: function (ajaxresp) {
                    funcDoPageClear(); //清除

                    if (ajaxresp && ajaxresp.data && ajaxresp.data.SyncTreatmentServiceRecordVO.length > 0) {
                        respblh = ajaxresp.data.OutpatAccInfoDto.mzh;
                        setPatInfoModel(ajaxresp.data.OutpatAccInfoDto); //个人基本信息赋值
                        $.each(ajaxresp.data.SyncTreatmentServiceRecordVO, function () {
                            var newRowData = {
                                jzsj: this.CreatedDate,
                                sfxmCode: this.serviceCode,
                                sfxmmc: this.serviceDescription,
                                yzlx: "2",
                                duration: this.duration,
                                dj: this.dj,
                                dw: this.dw,
                                sl: this.sl,
                                sfdlCode: this.sfdlCode,
                                sfdlmc: this.sfdlmc,
                                bz: '',
                                czlx: 0,
                                clzt: this.clzt,
                                ttbz: "0",
                                kflb: this.kflb,
                                ysList: [{ id: this.StaffId, gh: this.therapistId, Name: this.StaffName, ks: this.ks, ksmc: this.ksmc }],
                                newid: this.Id,
                                jzsj: this.serviceDate
                            };
                            //newRowData.newid = Math.random().toString() + new Date().getMilliseconds();   //newid()
                            newxmList.push(newRowData);   //作为新项添加 //”数组最前端“
                        });
                        fillDataToGrid();

                        $.modalMsg("成功请求到 <b>" + ajaxresp.data.SyncTreatmentServiceRecordVO.length + '</b> 条未确认记录', 'ok', 1200);
                    }
                }
            });
        }
    }

    function gridList() {
        if ($('#status input:radio:checked').val() == "2" && $("#ksrq").val() == "" && $("#jsrq").val() == "") {
            $.modalAlert("开始日期和结束日期不能同时为空", 'warning');
            return;
        }
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: '@Url.Action("GetIssueGridJson")',
            //caption: "同步信息",
            postData: { type: $('#status input:radio:checked').val() || "1" },
            height: $(window).height() - 135,

            colModel: [
          { label: '病历号', name: 'patientId', width: 60, align: 'left' },
          { label: '姓名', name: 'patientName', width: 50, align: 'left' },
           //{ label: '', name: 'wqrzt', hidden: true },
           {
               label: '类型', name: 'patientType', width: 50, align: 'left', formatter: function (val) {
                   switch (val.toLowerCase()) {
                       case "inpatient":
                           return "住院"
                           break;
                       case "outpatient":
                           return "门诊"
                           break;
                       default:
                           return val;
                           break;
                   }
               }
           },
          { label: '门诊/住院号', name: 'admsNum', width: 120, align: 'left', key: true }
            ],
            viewrecords: true,
            ondblClickRow: function (rowid) {
                gridEditRegisterRow(rowid);
            },
            gridComplete: function (data) {
                //var ids = $("#gridList").jqGrid('getDataIDs');
                //for (var i = 0; i < ids.length; i++) {
                //    var rowData = $("#gridList").jqGrid('getRowData', ids[i]);
                //    if (rowData && rowData.wqrzt) {
                //        if (rowData.wqrzt < 1) {//已确认
                //            $('#gridList tr[id="' + ids[i] + '"]').css("background-color", "#d9edf7");
                //        } else {//未确认

                //            $('#gridList tr[id="' + ids[i] + '"]').css("background-color", "#f2dede");
                //        }
                //    }
                //}
            }
        });
    }
    //双击左边list
    function gridEditRegisterRow() {
        var keyValue = $("#gridList").jqGridRowValue().admsNum;
        var type = $("#gridList").jqGridRowValue().patientType;
        if (!!keyValue) {
            addpatientmzh();
            searchPatInfo(keyValue, type);
        }
    }


    //刷新病人基本信息和正在记录的记账，历史记账
    function addpatientmzh() {
        $("#gridMX").clearGridData();
        $('#xm,#xb,#nlshow,#jsr,#zjlx,#zjh,#csny,#sycs,#mzh').html('');

        $('#sfxmmc').val('');
        $('#sfxmCode').val('');
        $('#sfdlCode').val('');
        $('#sfdlmc').val('');
        $('#dw').html('');
        //$('#dj').html('');
        if ('@(ViewBag.sfxm_dj)' === 'ON') {
            $('#dj').val('0.0000')
        } else {
            $('#dj').html('0.0000');
        }
        $('#yzlx').val('');
        $('#duration').val('');
        $('#sl').val('');
        $('#zje').html('0.00');
        $('#ttbz').removeAttr('checked');
        $("#kflb").val("RTM_PT").trigger("change");
        $('#jfbId').val('');
        $("#czlx").val('');
        $("#clzt").val('');
        $("#zje").html('0.00');
        //$('#mzh').val('');
        $("#jzsj").val($.getDate());
        wqrje = '0.00';
        ymzje = '0.00';
        $("#wqrje").html(wqrje);
        $("#ymzje").html(ymzje);
        oldxmList = [];   //历史已提交项目List
        newxmList = [];   //新项目List
        var Editing_ysList = [];
        var Del_xmlist = [];//已删除的list
        clzt = null;
        editingNewid = null;    //正在修改的行
        patInfoObj = {};//个人信息Object对象
        bottomButtonsReset();
    }

</script>
