@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>平台介绍</title>
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/css/framework-font.css")" rel="stylesheet" />
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/css/framework-ui.css")" rel="stylesheet" />
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/jquery/jquery.choose.js")"></script>
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/css/framework-theme.css")" rel="stylesheet" />
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/js/bootstrap/bootstrap.min.css")" rel="stylesheet" />
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/css/framework-theme.css")" rel="stylesheet" />
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/css/framework-about.css")" rel="stylesheet" />
</head>
<body>
<div class="rows" style="margin-bottom: 1%; border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
    <div class="panel panel-default">
		<div class="panel-heading">
			医疗物资耗材系统平台介绍
		</div>
        <div class="panel-body">
			<p>医疗物资耗材系统是一套基于.NET MVC+EF6+Bootstrap开发出来的框架</p>
            <p>系统支持多租户，大大方便了集团医院的管理。</p>
            <p>支持SQLServer、MySQL、Oracle、SQLite、Access 等多数据库类型。模块化设计，层次结构清晰。</p>
            <p>操作权限控制精密细致，对所有管理链接都进行权限验证，可控制到导航菜单、功能按钮。</p>
            <p>数据权限（精细化数据权限控制，控制到行级，列表级，表单字段级，实现不同人看不同数据，不同人对同一个页面操作不同字段</p>
            <p>兼容目前最流行浏览器（IE8+、Chrome、Firefox、360浏览器）</p>
            <p>适用范围：医院、区域社区医疗机构、诊所以及集团医院。</p>
        </div>
    </div>
</div>
<div class="rows" style="margin-bottom: 1%; border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
    <div class="panel panel-default">
		<div class="panel-heading">
			医疗物资耗材系统技术介绍
		</div>
        <div class="panel-body" style="overflow: hidden;">
            <div style="float: left; width: 50%;">
                <p>1、前端技术</p>
                <p>JS框架：jquery-2.1.1、Bootstrap.js、JQuery UI</p>
                <p>CSS框架：Bootstrap v3.3.4（稳定是后台，UI方面根据需求自己升级改造吧）。</p>
                <p>客户端验证：jQuery Validation Plugin 1.9.0。</p>
                <p>在线编辑器：ckeditor、simditor</p>
                <p>上传文件：Uploadify v3.2.1</p>
                <p>动态页签：Jerichotab（自己改造）</p>
                <p>数据表格：jqGrid、Bootstrap Talbe</p>
                <p>对话框：layer-v2.3</p>
                <p>下拉选择框：jQuery Select2</p>
                <p>树结构控件：jQuery zTree、jQuery wdtree</p>
                <p>页面布局：jquery.layout.js 1.4.4</p>
                <p>图表插件：echarts、highcharts</p>
                <p>日期控件： My97DatePicker</p>
            </div>
            <div style="float: left; width: 50%;">
                <p>2、后端技术</p>
                <p>核心框架：.NET MVC5、WEB API</p>
                <p>持久层框架：EntityFramework 6.0</p>
                <p>定时计划任务：Quartz.Net组件</p>
                <p>安全支持：过滤器、Sql注入、请求伪造</p>
                <p>服务端验证：实体模型验证、自己封装Validator</p>
                <p>缓存框架：微软自带Cache、Redis</p>
                <p>日志管理：Log4net、登录日志、操作日志</p>
                <p>工具类：NPOI、Newtonsoft.Json、验证码、丰富公共类似</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
