@using NewtouchHIS.Lib.Base.Utilities;

<!DOCTYPE html>
<html>
<head>

    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache,no-store, must-revalidate">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="expires" CONTENT="0">
    @*    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
*@    
    <title>@ViewBag.Title</title>
    <link href="@MvcHelper.GetStaticResourceScriptUrl("~/css/framework-font.css")" rel="stylesheet" />
    <link href="~/css/bootstrap-extensions.css" rel="stylesheet" />
    @Html.Partial("_FrontReference")
    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/bootstrap/bootstrap.js")"></script>
    <link href="@MvcHelper.GetStaticResourceScriptUrl("~/js/bootstrap/bootstrap.min.css")" rel="stylesheet" />
    <!--select下拉列表-->
    <link href="@MvcHelper.GetStaticResourceScriptUrl("~/js/select2/select2.min.css")" rel="stylesheet" />
    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/select2/select2.min.js")"></script>

    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/jqgrid/jqgrid.min.js")"></script>
    <link href="@MvcHelper.GetStaticResourceScriptUrl("~/js/jqgrid/jqgrid.css")" rel="stylesheet" />
    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/jqgrid/grid.locale-cn.js")"></script>
    <link href="@MvcHelper.GetStaticResourceScriptUrl("~/css/framework-ui.css")" rel="stylesheet" />
    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/framework-ui.js")"></script>
    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/datepicker/bootstrap-datetimepicker.js")"></script>
    <link href="@MvcHelper.GetStaticResourceScriptUrl("~/css/bootstrap-datetimepicker.css")" rel="stylesheet" />
    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/jquery-ui/jquery-ui.min.js")"></script>
    <link href="@MvcHelper.GetStaticResourceScriptUrl("~/js/jquery-ui/jquery-ui.min.css")" rel="stylesheet" />
    <link href="@MvcHelper.GetStaticResourceScriptUrl("~/css/framework-theme.css")" rel="stylesheet" id="color-skin" />
    <link href="@MvcHelper.GetStaticResourceScriptUrl("~/css/common.css")" rel="stylesheet" />
    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/Newtouch-ui.js")"></script>
    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/datepicker/WdatePicker.js")"></script>
@*    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/Content/js/page.common.js", false)"></script>
*@    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/jQuery.Hz2Py-min.js")" type="text/javascript"></script>

    <!--Bootstrap-table-->

    <link href="@MvcHelper.GetStaticResourceScriptUrl("~/js/bootstrap/bootstrap-table.min.css")" rel="stylesheet" />
    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/bootstrap/bootstrap-table.min.js")"></script>
    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/bootstrap/bootstrap-table-reorder-rows.min.js")"></script>
    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/bootstrap/bootstrap-table-zh-CN.min.js")"></script>
    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/bootstrap/tablednd.js")"></script>
    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/bootstrap/tableExport.js")"></script>
    <!--Bootstrap-table 扩展-->
    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/bootstrap/extensions/treegrid/bootstrap-table-treegrid.js")"></script>
    <script src="@MvcHelper.GetStaticResourceScriptUrl("~/js/bootstrap/extensions/treegrid/jquery.treegrid.min.js")"></script>

    <script src="~/js/bootstrap-extensions.js"></script>
    <link href="~/css/bootstrap-extensions.css" rel="stylesheet" />
    <link href="~/css/bootstrap-reset.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>