<!DOCTYPE html>

<html>
<head>
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache,no-store, must-revalidate">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <title>@ViewBag.Title</title>
    @Html.Partial("_crossDomain")
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/css/framework-font.css")" rel="stylesheet" />
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/jquery/jquery.choose.js")"></script>
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/bootstrap/bootstrap.js")"></script>
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/js/bootstrap/bootstrap.min.css")" rel="stylesheet" />
    <!--select下拉列表-->
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/select2/select2.min.js")"></script>
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/js/select2/select2.min.css")" rel="stylesheet" />
    <!--end-->
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/jqgrid/jqgrid.min.js")"></script>
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/js/jqgrid/jqgrid.css")" rel="stylesheet" />
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/jqgrid/grid.locale-cn.js")"></script>
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/css/framework-ui.css")" rel="stylesheet" />
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/framework-ui.js")"></script>
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/datepicker/bootstrap-datetimepicker.js")"></script>
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/css/bootstrap-datetimepicker.css")" rel="stylesheet" />
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/jquery-ui/jquery-ui.min.js")"></script>
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/js/jquery-ui/jquery-ui.min.css")" rel="stylesheet" />
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/css/framework-theme.css")" rel="stylesheet" id="color-skin" />
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/css/common.css")" rel="stylesheet" />
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/Newtouch-ui.js")"></script>
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/datepicker/WdatePicker.js")"></script>
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/js/datepicker/skin/WdatePicker.css")" rel="stylesheet" />
    <script type="text/javascript">
        if (window.isIElte8()) {
            var cssurl = '@SiteUrl.GetStaticResourceScriptUrl("~/css/framework-ui-ie-lte8.css")';
            var linkHtml = '<link href="' + cssurl + '" rel="stylesheet" />';
            document.write(linkHtml);
        }
    </script>
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>