@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="rows">
    <div class="panel panel-default">
        <table class="form">
            <tr>

                <th class="formTitle">结账日期：</th>
                <td class="formValue" style="width:200px">
                    <input id="jzrq" type="text" class="form-control input-wdatepicker form-an"
                           onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" />
                </td>

                <td class="formValue" style="padding-left:20px;">
                    <input type="button" id="btn_search" onclick="submit();" class="btn btn-primary btn-md" value="查询" style="width:55px" />
                </td>
                <td class="formValue"></td>
            </tr>
        </table>
    </div>
</div>

<div class="ui-layout" id="layout" style="height:100%;width:100%;">
    <iframe class="ui-layout-center" style="width:100%;" id="iframerightiframerightiframerightttt" name="iframerightiframerightiframerightttt"
            scrolling="auto" allowtransparency="true" frameborder="0"></iframe>
</div>

<script type="text/javascript">
    var reportServerHOST = '@(ViewBag.ReportServerHOST)';
    var orgId = '@(ViewBag.OrgId)';
    var isHospAdministrator = '@(ViewBag.IsHospAdministrator)';
    var curUserCode = '@(ViewBag.CurUserCode)';

    var uri = 'ReportServer/Pages/ReportViewer.aspx?%2fHIS.Report.1%2fChongqing%e4%bd%8f%e9%99%a2%e5%8c%bb%e7%96%97%e6%94%b6%e5%85%a5%e4%ba%a4%e6%ac%be%e5%8d%95&rs:Command=Render';

    function submit() {

        if ($('#jzrq').val().length == 0) {
            $.modalAlert("缺少时间", "error");
            return;
        }

        var url = getUrl();
        var usercode = '@ViewBag.CurUserCode';
       
        url += "&jzrq=" + $('#jzrq').val();
        url += "&doctor=" + usercode;

        setTimeout("$.loading(true, '正在请求报表页面...');", 10);

        $("#iframerightiframerightiframerightttt").attr('src', url);


    }
    $("#iframerightiframerightiframerightttt").load(function () {
        $.loading(false);
    });

    $(function () {
        var h = $(window).height() - 55
        $('#layout iframe').css('height', h);


        setTimeout(function () { submit(); }, 100);
    });

    function getUrl() {
        if (uri.StartWith('/')) {
            uri = uri.substr(1);
        }
        var srcUrl = uri;
        srcUrl = reportServerHOST + srcUrl;

        //获取自定义样式
        if (true) {
            if (srcUrl.indexOf('&rc:') == -1) {
                srcUrl += "&rc:Stylesheet=MyStyleSheet";
            }
        }
        if (true) {
            if (srcUrl.indexOf('&rs:') == -1) {
                srcUrl += "&rs:";
            }
            else {
                srcUrl += "&";
            }
            srcUrl += "orgId=";
            srcUrl += orgId;
        }
        return srcUrl;
    }
</script>