
@{
    Layout = "~/Views/Shared/_Index.cshtml";
    var lsyzdURL = SysConfigReader.String("rptlink_lsyzPrint");
}

<div class="panel panel-default">
    <table class="form">
        <tr>
            <td class="formTitle"> 执行日期：</td>
            <td class="formValue" colspan="2">
                <input id="txt_zxrq" type="text" class="form-control input-wdatepicker" style="width:70%;"
                       onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })"
                       onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" value="@DateTime.Now.ToString("yyyy-MM-dd")" />

            </td>
            <th class="formTitle"></th>
            <td class="formValue"></td>
            <td class="formValue" style="padding-left:20px;">
                <input type="button" id="btn_search" onclick="submit();" class="btn btn-primary btn-md" value="查询" style="width:55px" />
            </td>
        </tr>
    </table>
</div>
<div class="ui-layout" id="layout" style="height:100%;width:100%;">
    <iframe class="ui-layout-center" style="width:100%;" id="iframerightiframerightiframerightttt" name="iframerightiframerightiframerightttt"
            scrolling="auto" allowtransparency="true" frameborder="0"></iframe>
</div>

<script>
    var zyh = $.request("zyh");
    var zxdlb = $.request("zxdlb");
    var zxrq = $.request("zxsj");
    $(function () {
        var h = $(window).height() - 55
        $('#layout iframe').css('height', h);
        $("#txt_zxrq").val(zxrq);
        if (!!zyh && !!zxdlb) {
            submit();
        }
    });


    /********************************************************************************/
    function submit() {
        var rpturl = "ReportServer/Pages/ReportViewer.aspx?%2fNewtouch.Report.1%2f%E4%B8%B4%E6%97%B6%E5%8C%BB%E5%98%B1%E6%89%93%E5%8D%B0test&amp;rs:Command=Render&amp;rc:Stylesheet=MyStyleSheetBlankPage";
        @*'@(ViewBag.ReportServerHOST)' + '@lsyzdURL' + "&orgId=" + '@(ViewBag.OrgId)' + "&zyh=" + zyh + "&isSign=" + isSign + "&zxrq=" + zxrq, "_blank", "height=500, width=1195,top=100, left=50, toolbar =no, menubar=no, scrollbars=yes, resizable=yes, location=no, status=no"*@
        var url = '@(ViewBag.ReportServerHOST)' + rpturl + "&orgId=" + '@(ViewBag.OrgId)' + "&zyh=" + zyh + "&isSign=0&zxrq=" + $("#txt_zxrq").val() + "&rs:Command=Render";
        setTimeout("$.loading(true, '正在请求报表页面...');", 10);
        $("#iframerightiframerightiframerightttt").attr('src', url);
    }

    $("#iframerightiframerightiframerightttt").load(function () {
        $.loading(false);
    });

</script>