@using Newtouch.Common.Operator;
@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/jquery-easyui/easyui.css" />
<link rel="stylesheet" type="text/css" href="~/Content/jquery-easyui/icon.css" />
<link rel="stylesheet" type="text/css" href="~/Content/jquery-easyui-ribbon/ribbon.css" />
<link rel="stylesheet" type="text/css" href="~/Content/jquery-easyui-ribbon/ribbon-icon.css" />
<script type="text/javascript" src="~/Content/jquery-easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="~/Content/jquery-easyui-ribbon/jquery.ribbon.js"></script>
<link href="~/Content/jquery-easyui-ribbon/MedicalRecordEdit.css" rel="stylesheet" />

<form method="post">
    <span id="toolDiv">
        <input type="submit" name="saveDocument" id="saveXml" value="保存文档" class="edtBtn" style="background-image: url(/Content/img/tupian/-_保存.ico);background-repeat: no-repeat;background-size: 30%;padding-left: 30px;height: 30px;" />
        @Html.Partial("_DCSW.ToolList")
        @*<a href="#" class="easyui-linkbutton" title="文档校验" data-options="plain:true" onclick="MyValueValidate();">文档校验</a>
        <select id="validateResult" onchange="validateResult_Click();"></select>*@

        <input type="hidden" value="医生签名" class="edtBtn" style="width: 50px;" onclick="Signature()" />
        @Html.Partial("_DCSW.SaveAS")
    </span>
    <a id="toolShow" class="btn btn-primary" style="float:right;margin:5px 5px 5px 0px;"><i></i>工具栏</a>
    @if (!string.IsNullOrWhiteSpace(ViewBag.zyh))
    {
        <input id="upload" name="saveDocument" type="submit" class="btn btn-primary" style="float:left;margin:5px 10px 5px 5px;display:none;" value="上传医保" />
    }
    <div style="clear:both;"></div>
    @Html.Raw(ViewBag.WriterControlHtml)
    <input type="hidden" name="mbbh" id="mbbh" value="@ViewBag.mbbh " />
    <input type="hidden" name="zyh" id="zyh" value="@ViewBag.zyh " />
    <input type="hidden" name="mzh" id="mzh" value="@ViewBag.mzh " />
    <input type="hidden" name="c" id="mzh" value="@ViewBag.mzh " />
</form>
@Html.Partial("_DCSW.JS")
<div id="RecordistDiv">
    @Html.Action("RecordList", "MedicalRecord", new { zyh = ViewBag.zyh, mzh = ViewBag.mzh })
</div>
<div id="treeDiv">
	@*@Html.Action("CTGLList", "Blctgl")*@
	@Html.Action("CTGLList", "Blctgl")

	@Html.Action("YXFHlist", "Blctgl")
</div>
<script>
    $(function () {
        if (!!'@ViewBag.message') {
            $.modalAlert('@ViewBag.message','warning');
        }
    });
</script>
