
@{
    ViewBag.Title = "OutpatientTreatmentInfo";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="rows">
    <div class="panel panel-default">
        <table class="form">
            <tr>
                <th class="formTitle">开始日期：</th>
                <td class="formValue">
                    <input id="kssj" type="text" class="form-control input-wdatepicker form-an"
                           onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" value="@(DateTime.Now.ToString("yyyy-MM-01"))" />
                </td>
                <th class="formTitle">结束日期：</th>
                <td class="formValue">
                    <input id="jssj" type="text" class="form-control input-wdatepicker form-an"
                           onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">病历号：</th>
                <td class="formValue">
                    <input id="blh" name="blh" type="text" class="form-control" placeholder="" />
                </td>
                <th class="formTitle">姓名：</th>
                <td class="formValue">
                    <input id="xm" name="xm" type="text" class="form-control" placeholder="" />
                </td>
                <th class="formTitle">复诊标志：</th>
                <td class="formValue">
                    <select id="xlbrbz" class="form-control">
                        <option value="">全部</option>
                        <option value="false">初诊</option>
                        <option value="true">复诊</option>
                    </select>
                </td>
                <th class="formTitle"></th>
                <td class="formValue" style="padding-left:20px;">
                    <input type="button" id="btn_search" onclick="submit();" class="btn btn-primary btn-md" value="查询" style="width:55px" />
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="ui-layout" id="layout" style="height:100%;width:100%;">
    <iframe class="ui-layout-center" style="width:100%;" id="iframerightiframerightiframerightttt" name="iframerightiframerightiframerightttt"
            scrolling="auto" allowtransparency="true" frameborder="0"></iframe>
</div>

<script type="text/javascript">
    $("#xlbrbz").select2({
        minimumResultsForSearch: -1
    });

    var reportServerHOST = '@(ViewBag.ReportServerHOST)';
    var topOrgId = '@(ViewBag.topOrgId)';
    var isHospAdministrator = '@(ViewBag.IsHospAdministrator)';
    var curUserCode = '@(ViewBag.CurUserCode)';
    var uri = '/ReportServer/Pages/ReportViewer.aspx?%2fHIS.Report.1%2f%e7%97%85%e4%ba%ba%e5%b0%b1%e8%af%8a%e4%bf%a1%e6%81%af.%e9%97%a8%e8%af%8a%e7%97%85%e4%ba%ba&rs:Command=Render';

    function submit() {

        if (!$('#OrganizeId').val()) {
            $.modalAlert("请选择医疗机构", "warning");
            return;
        }
        if ($('#kssj').val().length == 0) {
            $.modalAlert("缺少开始时间", "error");
            return;
        }
        if ($('#jssj').val().length == 0) {
            $.modalAlert("缺少结束时间", "error");
            return;
        }
        if ($('#kssj').val() > $('#jssj').val()) {
            $.modalAlert("开始时间不能大于结束时间", "error");
            return;
        }
        var url = getUrl();

        url += "&kssj=" + $('#kssj').val();
        url += "&jssj=" + $('#jssj').val();
        url += "&blh=" + $('#blh').val();
        url += "&xm=" + $('#xm').val();
        url += "&xlbrbz=" + $('#xlbrbz').val();

        setTimeout("$.loading(true, '正在请求报表页面...');", 10);
        $("#iframerightiframerightiframerightttt").attr('src', url);
    }

    $("#iframerightiframerightiframerightttt").load(function () {
        $.loading(false);
    });

    $(function () {
        var h = $(window).height() - 100;
        $('#layout iframe').css('height', h);
    });

    function getUrl() {
        if (uri.StartWith('/')) {
            uri = uri.substr(1);
        }
        var srcUrl = uri;
        srcUrl = reportServerHOST + srcUrl;

        ////ReportViewerControl 页宽
        //if (true) {
        //    if (srcUrl.indexOf('&rc:') == -1) {
        //        srcUrl += "&rc:Zoom=Page Width";
        //    }
        //}

        //获取自定义样式
        if (true) {
            if (srcUrl.indexOf('&rc:') == -1) {
                srcUrl += "&rc:Stylesheet=MyStyleSheet";
            }
        }

        if (true) {
            if (srcUrl.indexOf('&rs:') == -1) {
                srcUrl += "&rs:";
            }
            else {
                srcUrl += "&";
            }
            srcUrl += "orgId=";
            srcUrl += $('#OrganizeId').val();
            srcUrl += "&topOrgId=";
            srcUrl += topOrgId;
        }

        if (false) {
            if (srcUrl.indexOf('&rs:') == -1) {
                srcUrl += "&rs:";
            }
            else {
                srcUrl += "&";
            }
            srcUrl += "curUserCode=";
            srcUrl += curUserCode;
        }

        if (false) {
            if (srcUrl.indexOf('&rs:') == -1) {
                srcUrl += "&rs:";
            }
            else {
                srcUrl += "&";
            }
            srcUrl += "isHospAdministrator=";
            srcUrl += isHospAdministrator;
        }

        return srcUrl;
    }

</script>

<script type="text/javascript">
    function funcOrganizeIdChange() {
        submit();
    }
</script>
@Html.Partial("_ReportOrganizeIdDDLSearchView")

