
@{
    ViewBag.Title = "RevenueDetailesByTherapistReportCompare";
    Layout = "~/Views/Shared/_Index.cshtml";
}


<div class="rows">
    <div class="panel panel-default">
        <table class="form">
            <tr>
                <th class="formTitle">治疗开始日期：</th>
                <td class="formValue">
                    <input id="kssj" type="text" class="form-control input-wdatepicker form-an"
                           onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" value="@(DateTime.Now.ToString("yyyy-MM-01"))" />
                </td>
                <th class="formTitle">结束日期：</th>
                <td class="formValue">
                    <input id="jssj" type="text" class="form-control input-wdatepicker form-an"
                           onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" />
                </td>
                <th class="formTitle">治疗师：</th>
                <td class="formValue">
                    <select id="Therapist" class="form-control">
                        <option>==请选择==</option>
                    </select>
                </td>
                <td class="formValue" style="padding-left:20px;">
                    <input type="button" id="btn_search" onclick="submit();" class="btn btn-primary btn-md" value="查询" style="width:55px" />
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="ui-layout" id="layout" style="height:100%;width:100%;">
    <iframe class="ui-layout-center" style="width:100%;" id="iframerightiframerightiframerightttt" name="iframerightiframerightiframerightttt"
            scrolling="auto" allowtransparency="true" frameborder="0"></iframe>
</div>

<script type="text/javascript">

    var reportServerHOST = '@(ViewBag.ReportServerHOST)';
    var orgId = '@(ViewBag.OrgId)';
    var isHospAdministrator = '@(ViewBag.IsHospAdministrator)';
    var curUserCode = '@(ViewBag.CurUserCode)';
    var uri = '/ReportServer/Pages/ReportViewer.aspx?%2FHIS.Report.1%2F%E6%9C%8D%E5%8A%A1%E4%BB%A3%E7%A0%81%E7%9B%88%E5%88%A9%E5%AF%B9%E6%AF%94%EF%BC%88%E6%B2%BB%E7%96%97%E5%B8%88%E5%88%86%E7%BB%84%EF%BC%89&rs:Command=Render';
    //var uri = '/ReportServer/Pages/ReportViewer.aspx?%2fHIS.Report.1%2f%e6%9c%8d%e5%8a%a1%e4%bb%a3%e7%a0%81%e7%9b%88%e5%88%a9%ef%bc%88%e6%b2%bb%e7%96%97%e5%b8%88%e5%88%86%e7%bb%84%ef%bc%89&rs:Command=Render';   //预发布

    function submit() {

        if (!$('#OrganizeId').val()) {
            $.modalAlert("请选择医疗机构", "warning");
            return;
        }
        if ($('#kssj').val().length == 0) {
            $.modalAlert("缺少开始时间", "error");
            return;
        }
        if ($('#jssj').val().length == 0) {
            $.modalAlert("缺少结束时间", "error");
            return;
        }
        if ($('#kssj').val() > $('#jssj').val()) {
            $.modalAlert("开始时间不能大于结束时间", "error");
            return;
        }
        var url = getUrl();

        url += "&kssj=" + $('#kssj').val();
        url += "&jssj=" + $('#jssj').val();
        url += "&Therapist=" + $('#Therapist').val();

        setTimeout("$.loading(true, '正在请求报表页面...');", 10);
        $("#iframerightiframerightiframerightttt").attr('src', url);
    }

    $("#iframerightiframerightiframerightttt").load(function () {
        $.loading(false);
    });

    $(function () {
        var h = $(window).height() - 55;
        $('#layout iframe').css('height', h);

    });

    function getUrl() {
        if (uri.StartWith('/')) {
            uri = uri.substr(1);
        }
        var srcUrl = uri;
        srcUrl = reportServerHOST + srcUrl;

        //获取自定义样式
        if (true) {
            if (srcUrl.indexOf('&rc:') == -1) {
                srcUrl += "&rc:Stylesheet=MyStyleSheet";
            }
        }

        if (true) {
            if (srcUrl.indexOf('&rs:') == -1) {
                srcUrl += "&rs:";
            }
            else {
                srcUrl += "&";
            }
            srcUrl += "orgId=";
            srcUrl += $('#OrganizeId').val();
        }

        if (false) {
            if (srcUrl.indexOf('&rs:') == -1) {
                srcUrl += "&rs:";
            }
            else {
                srcUrl += "&";
            }
            srcUrl += "curUserCode=";
            srcUrl += curUserCode;
        }

        if (false) {
            if (srcUrl.indexOf('&rs:') == -1) {
                srcUrl += "&rs:";
            }
            else {
                srcUrl += "&";
            }
            srcUrl += "isHospAdministrator=";
            srcUrl += isHospAdministrator;
        }

        return srcUrl;
    }

</script>

<script type="text/javascript">
    function funcOrganizeIdChange() {
        //治疗师
        $("#Therapist").bindSelect({
            url: "/Report/GetRehabDoctorList?orgId=" + $('#OrganizeId').val(),
            id: "StaffGh",
            text: "StaffName"
        });

        submit();
    }
</script>
@Html.Partial("_ReportOrganizeIdDDLSearchView")