
@{
    ViewBag.Title = "YBSBHZQDQuery";
    Layout = "~/Views/Shared/_Form.cshtml";
    var reportUrl = Newtouch.Core.Common.Utils.ConfigurationHelper.GetAppConfigValue("ReportUrl");
    var ReportSystemCode = Newtouch.Core.Common.Utils.ConfigurationHelper.GetAppConfigValue("ReportSystemCode");
}

<div class="rows">
	<div class="panel panel-default">
		<table class="form">
			<tr>
				<th class="formTitle">开始日期：</th>
				<td class="formValue">
					<input id="ksrq" type="text" class="form-control input-wdatepicker formClearIgnore" style="width:90px"
						   onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })"
						   onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })"
						   value="@DateTime.Now.ToString("yyyy-MM-01")" />
				</td>
				<th class="formTitle">结束日期：</th>
				<td class="formValue">
					<input id="jsrq" type="text" class="form-control input-wdatepicker formClearIgnore" style="width:90px"
						   onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })"
						   onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })"
						   value="@DateTime.Now.ToString("yyyy-MM-dd")" />
				</td>
				<th class="formTitle"></th>
				<td class="formValue" style="padding-left:20px;">
					<input type="button" id="btn_search" onclick="submit();" class="btn btn-primary btn-md" value="查询" style="width:55px" />
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="ui-layout" id="layout" style="height:100%;width:100%;">
	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#newyj" data-toggle="tab" onclick="tabchange('1')">医保汇总报表1号表</a></li>
		<li><a href="#yj" data-toggle="tab" onclick="tabchange('2')">医保汇总报表2号表</a></li>
	</ul>
	<div class="tab-pane fade in active" id="newyj">
		<iframe class="ui-layout-center" style="width:100%;" id="iframerightiframerightiframerightttt" name="iframerightiframerightiframerightttt"
				scrolling="auto" allowtransparency="true" frameborder="0"></iframe>
	</div>
	<div class="tab-pane fade" id="yj">
		<iframe class="ui-layout-center" style="width:100%;" id="iframerightiframerightiframerightttts" name="iframerightiframerightiframerightttts"
				scrolling="auto" allowtransparency="true" frameborder="0"></iframe>
	</div>
</div>

<script>
	var tabaction = "1";//切换卡片 默认门诊
	 var isHospAdministrator = '@(ViewBag.IsHospAdministrator)';
    var curUserCode = '@(ViewBag.CurUserCode)';
    var OrgId = '@(ViewBag.OrgId)';
	var reportServerHOST = '@(ViewBag.ReportServerHOST)';
	$(function () {
		var h = $(window).height() - 100;
		$('#layout iframe').css('height', h);
	});


	function tabchange(action) {
		tabaction = action;
		submit();
	}
	function submit() {
		if ($('#ksrq').val().length == 0 || $('#jsrq').val().length == 0) {
			$.modalAlert("请选择时间范围", "error");
			return;
		}
		
		if (tabaction == "1") {
			$("#yj").hide();
			$("#newyj").show();
			var uri = '@Html.Raw(reportUrl)' + "?tempCode=1228" + "&systemCode=" + '@Html.Raw(ReportSystemCode)' + "&orgId=" + OrgId + "&ksrq=" + $('#ksrq').val() + "&jsrq=" + $('#jsrq').val();
			$("#iframerightiframerightiframerightttt").attr('src', uri);
		} else {
			$("#newyj").hide();
			$("#yj").show();
			var uri = '@Html.Raw(reportUrl)' + "?tempCode=1231" + "&systemCode=" + '@Html.Raw(ReportSystemCode)' + "&orgId=" + OrgId + "&ksrq=" + $('#ksrq').val() + "&jsrq=" + $('#jsrq').val();
			$("#iframerightiframerightiframerightttts").attr('src', uri);
		}
		
	}

	$("#iframerightiframerightiframerightttt").load(function () {
		$.loading(false);
	});

	$("#iframerightiframerightiframerightttts").load(function () {
		$.loading(false);
	});
</script>