
@{
    ViewBag.Title = "YBXXQueryUpload";
    Layout = "~/Views/Shared/_Form.cshtml";
    var reportUrl = Newtouch.Core.Common.Utils.ConfigurationHelper.GetAppConfigValue("ReportUrl");
    var ReportSystemCode = Newtouch.Core.Common.Utils.ConfigurationHelper.GetAppConfigValue("ReportSystemCode");
}
<script src="~/Content/js/reporttotxt.js"></script>
<div class="ui-layout" id="layout" style="height:100%;width:100%;">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#jyjlk" data-toggle="tab" onclick="tabchange('1')">交易记录库</a></li>
        <li><a href="#mjzdbghk" data-toggle="tab" onclick="tabchange('2')">门急诊大病挂号库</a></li>
        <li><a href="#mjzdbjcsfk" data-toggle="tab" onclick="tabchange('3')">门急诊大病家床收费库</a></li>
    </ul>
    <div class="tab-pane fade in active" id="jyjltab">
        @Html.Partial("~/Areas/ReportManage/Views/Report/JYJLQueryUpload.cshtml")
    </div>
    <div class="tab-pane fade in active" id="dbghtab">
        @Html.Partial("~/Areas/ReportManage/Views/Report/DBGHQueryUpload.cshtml")
    </div>
    <div class="tab-pane fade in active" id="dbjctab">
        @Html.Partial("~/Areas/ReportManage/Views/Report/JCSFQueryUpload.cshtml")
    </div>
</div>

<script>
	var tabaction = "1";//切换卡片 默认门诊
	 var isHospAdministrator = '@(ViewBag.IsHospAdministrator)';
    var curUserCode = '@(ViewBag.CurUserCode)';
    var OrgId = '@(ViewBag.OrgId)';
	var reportServerHOST = '@(ViewBag.ReportServerHOST)';
    $(function () {
        $("#dbghtab").hide();
        $("#dbjctab").hide();
		//var h = $(window).height() - 100;
		//$('#layout iframe').css('height', h);
	});


	function tabchange(action) {
		tabaction = action;
		submit();
	}
	function submit() {
		if ($('#ksrq').val().length == 0 || $('#jsrq').val().length == 0) {
			$.modalAlert("请选择时间范围", "error");
			return;
		}
		
        if (tabaction == "1") {

            $("#jyjltab").show();
            $("#dbghtab").hide();
            $("#dbjctab").hide();
			
        } else if (tabaction == "2") {
            $("#dbghtab").show();
            $("#jyjltab").hide();
            $("#dbjctab").hide();
		}
        else if (tabaction == "3") {
            $("#dbjctab").show();
            $("#dbghtab").hide();
            $("#jyjltab").hide();
        }

	}
</script>