@using Newtouch.Common.Operator;
@{
    Layout = null;
    var appList = ViewBag.appList as IList<Newtouch.HIS.Domain.Entity.SysApplicationEntity>;
}

<style>
    .panel-default > .panel-body > a > .dashboard-stats:hover {
        background-color: #f1f4f6;
    }
    .dashboard-stats {
        float: left;
        width: 20%;
    }
    .dashboard-stats-item {
        position: relative;
        overflow: hidden;
        color: #fff;
        cursor: pointer;
        height: 105px;
        margin-right: 25px;
        margin-bottom: 10px;
        padding: 20px 20px;
    }
    .dashboard-stats-item .m-top-none {
        margin-top: 2px;
    }
    .dashboard-stats-item h2 {
        font-size: 35px;
        font-family: inherit;
        line-height: 1.1;
        font-weight: 500;
    }
    .dashboard-stats-item h5 {
        font-size: 14px;
        font-family: inherit;
        margin-top: 3px;
        line-height: 1.1;
    }
    .dashboard-stats-item .stat-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        opacity: .3;
    }
    .dashboard-stats i.fa.stats-icon {
        width: 50px;
        padding: 20px;
        font-size: 50px;
        text-align: center;
        color: #fff;
        height: 50px;
        border-radius: 10px;
    }
    .panel-default {
        border: none;
        border-radius: 0px;
        margin-bottom: 0px;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .panel-default > .panel-heading {
        color: #777;
        background-color: #fff;
        border-color: #e6e6e6;
        padding: 10px 10px;
    }
    .panel-default > .panel-body {
        padding: 10px;
        padding-bottom: 0px;
    }
    .panel-default > .panel-body ul {
        overflow: hidden;
        padding: 0;
        margin: 0px;
        margin-top: -5px;
    }
    .panel-default > .panel-body ul li {
        line-height: 27px;
        list-style-type: none;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .panel-default > .panel-body ul li .time {
        color: #a1a1a1;
        float: right;
        padding-right: 5px;
    }
</style>
<!DOCTYPE html>
<html style="overflow: hidden;">
<head>
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache,no-store, must-revalidate">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <title>新致医疗云系统</title>
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/css/framework-font.css")" rel="stylesheet" />
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/jquery/jquery-2.1.1.min.js")"></script>
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/bootstrap/bootstrap.js")"></script>
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/js/bootstrap/bootstrap.min.css")" rel="stylesheet" />
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/cookie/jquery.cookie.js")"></script>
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/css/framework-theme.css")" rel="stylesheet" id="color-skin" />
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/framework-ui.js")"></script>
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/Content/js/framework-clientdata.js", false)"></script>
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/Content/js/newtouch-clientdata.js", false)"></script>
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/Newtouch-ui.js")"></script>
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/css/skins/_all-skins.css")" rel="stylesheet" />
    <link href="@SiteUrl.GetStaticResourceScriptUrl("~/css/AdminLTE.min.css")" rel="stylesheet" />

    <script type="text/javascript">
        var browserAgent = getBrowserType();
        if (browserAgent.indexOf("IE") == 0 || browserAgent == "UnKnown") {
            var cssurl = '@SiteUrl.GetStaticResourceScriptUrl("~/css/framework-ui-ie.css")';
            var linkHtml = '<link href="' + cssurl + '" rel="stylesheet" />';
            document.write(linkHtml);
        }
    </script>
</head>
<body style="overflow: hidden;" class="hold-transition skin-blue sidebar-mini" onload="Onload()" id="bodyPageHomeIndex"
      data-appid="@(Newtouch.Infrastructure.Constants.AppId)"      
      data-loadnavtree="false">
    <div id="ajax-loader" style="cursor: progress; position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; background: #fff; z-index: 10000; overflow: hidden;">
        <img src="~/Content/img/ajax-loader.gif" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;" />
    </div>
    <div id="theme-wrapper">
        <header class="navbar" id="header-navbar">
            <div class="container" style="padding-right: 0px;">
                <a href="#" id="logo" class="navbar-brand" style="background-image:url(/Content/img/logo1.png); background-size:100%"></a>
                <div class="clearfix">
                    <div class="nav-no-collapse pull-right" id="header-nav">
                        <ul class="nav navbar-nav pull-right">
                            @*<li class="mobile-search">
                                    <a class="btn">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <div class="drowdown-search">
                                        <form role="search">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Search...">
                                                <i class="fa fa-search nav-search-icon"></i>
                                            </div>
                                        </form>
                                    </div>
                                </li>*@
                            @*<li class="dropdown hidden-xs">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-tasks"></i>
                                        <span class="count">5</span>
                                    </a>
                                </li>
                                <li class="dropdown hidden-xs">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-bell"></i>
                                        <span class="count">8</span>
                                    </a>
                                </li>

                                <li class="dropdown hidden-xs">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="count">16</span>
                                    </a>
                                </li>*@
                            <li class="dropdown profile-dropdown">
                                <a href="#" class="dropdown" data-toggle="dropdown">
                                    <i class="fa fa-user" style="float: left; margin-right: 5px; width: 25px; font-size: x-large; padding-top: 5px;"></i>
                                    <span class="hidden-xs">@OperatorProvider.GetCurrent().UserCode</span>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a class="menuItem" data-id="userInfo" href="/User/PersonalInfo"><i class="fa fa-user"></i>个人信息</a></li>
                                    @*<li><a href="javascript:void();"><i class="fa fa-inbox"></i>我的信箱</a></li>*@
                                    <li><a href="javascript:void();" onclick="layer.msg('浏览器缓存清除成功');"><i class="fa fa-trash-o"></i>清空缓存</a></li>
                                    <li>
                                        <a href="javascript:void();"><i class="fa fa-paint-brush"></i>皮肤设置</a>
                                        <div class="tab-pane" id="control-sidebar-home-tab">
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="~/Login/OutLogin"><i class="ace-icon fa fa-power-off"></i>安全退出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="page-wrapper" class="container">
            <div class="row">
                <div id="content-wrapper" style="width: 100%">
                    @*<div class="content-tabs">
                        <button class="roll-nav roll-left tabLeft">
                            <i class="fa fa-backward"></i>
                        </button>
                        <nav class="page-tabs menuTabs">
                            <div class="page-tabs-content" style="margin-left: 0px;">
                                <a href="javascript:;" class="menuTab active" data-id="/Home/Default">首页</a>
                            </div>
                        </nav>
                        <button class="roll-nav roll-right tabRight">
                            <i class="fa fa-forward" style="margin-left: 3px;"></i>
                        </button>
                        <div class="btn-group roll-nav roll-right">
                            <button class="dropdown tabClose" data-toggle="dropdown">
                                页签操作<i class="fa fa-caret-down" style="padding-left: 3px;"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="tabReload" href="javascript:void();">刷新当前</a></li>
                                <li><a class="tabCloseCurrent" href="javascript:void();">关闭当前</a></li>
                                <li><a class="tabCloseAll" href="javascript:void();">全部关闭</a></li>
                                <li><a class="tabCloseOther" href="javascript:void();">除此之外全部关闭</a></li>
                            </ul>
                        </div>
                        <button class="roll-nav roll-right fullscreen"><i class="fa fa-arrows-alt"></i></button>
                    </div>*@
                    <div class="content-iframe" style="background-color: #f9f9f9; overflow: hidden;">
                        <div class="mainContent" id="content-main" style="margin: 10px; margin-bottom: 0px; padding: 0;">

                            <div id="areascontent">
                                <div class="rows" style="margin-bottom: 1%; border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <i class="fa fa-line-chart fa-lg" style="padding-right: 5px;"></i>快捷菜单
                                        </div>
                                        <div class="panel-body" style="width:100%; height:100%;">
                                            @{
                                                if (appList != null)
                                                {
                                                    for (int i = 0; i < appList.Count; i++)
                                                    {
                                                        @Html.Raw("<a class='menuItem' onclick=AppOnclick(" + appList[i].Id + ")>");
                                                        @Html.Raw("<div class='dashboard-stats'>");
                                                        @Html.Raw("<div class='dashboard-stats-item' style='background-color:#fc8675; margin:10px;'>");
                                                        @Html.Raw("<h4>" + appList[i].Name + "</h4>");
                                                        @Html.Raw("<div class='stat-icon'>");
                                                        @Html.Raw("<i class='fa fa-user fa-3x'></i>");
                                                        @Html.Raw("</div>");
                                                        @Html.Raw("</div>");
                                                        @Html.Raw("</div>");
                                                        @Html.Raw("</a>");
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loadingPage" style="display: none;">
        <div class="loading-shade"></div>
        <div class="loading-content" onclick="$.loading(false)">数据加载中，请稍后…</div>
    </div>
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/index.common.js")"></script>
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/Content/js/index.js", false)"></script>
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/indextab.js")"></script>
    <script src="@SiteUrl.GetStaticResourceScriptUrl("~/js/loading/pace.min.js")"></script>
    <script type="text/javascript">
        var my_skins;
        $(document).ready(function () {
            my_skins = [
    "skin-black",
    "skin-red",
    "skin-white",
    "skin-purple",
    "skin-green",
    "skin-black-light",
    "skin-red-light",
    "skin-white-light",
    "skin-purple-light",
    "skin-green-light"
            ];
        });
        function Onload() {
            //Create the new tab
            var tab_pane = $("<div />", {
                "id": "control-sidebar-theme-demo-options-tab",
                "class": "tab-pane active"
            });

            //Create the menu
            var demo_settings = $("<div />");
            var skins_list = $("<ul />", { "class": 'list-unstyled clearfix' });
            //Dark sidebar skins
            var skin_black =
                $("<li />", { style: "float:left; width: 33.33333%; padding: 5px;" })
                    .append("<a href='javascript:void(0);' data-skin='skin-black' style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)' class='clearfix full-opacity-hover'>"
                    + "<div><span style='display:block; width: 20%; float: left; height: 7px; background: #383d41;'></span><span class='bg-light-blue' style='display:block; width: 80%; float: left; height: 7px;'></span></div>"
                    + "<div><span style='display:block; width: 20%; float: left; height: 20px; background: #222d32;'></span><span style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;'></span></div>"
                    + "</a>"
                    + "<p class='text-center no-margin'>Black</p>");
            skins_list.append(skin_black);

            var skin_black_light =
              $("<li />", { style: "float:left; width: 33.33333%; padding: 5px;" })
                  .append("<a href='javascript:void(0);' data-skin='skin-black-light' style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)' class='clearfix full-opacity-hover'>"
                  + "<div><span style='display:block; width: 20%; float: left; height: 7px; background: #383d41;'></span><span class='bg-light-blue' style='display:block; width: 80%; float: left; height: 7px;'></span></div>"
                  + "<div><span style='display:block; width: 20%; float: left; height: 20px; background: #f9fafc;'></span><span style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;'></span></div>"
                  + "</a>"
                  + "<p class='text-center no-margin' style='font-size: 12px'>Black Light</p>");
            skins_list.append(skin_black_light);

            var skin_white_light =
                  $("<li />", { style: "float:left; width: 33.33333%; padding: 5px;" })
                  .append("<a href='javascript:void(0);' data-skin='skin-white-light' style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)' class='clearfix full-opacity-hover'>"
                  + "<div><span style='display:block; width: 20%; float: left; height: 7px;' class='bg-yellow-active'></span><span class='bg-yellow' style='display:block; width: 80%; float: left; height: 7px;'></span></div>"
                  + "<div><span style='display:block; width: 20%; float: left; height: 20px; background: #333743;'></span><span style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;'></span></div>"
                  + "</a>"
                  + "<p class='text-center no-margin' style='font-size: 12px;'>White Light</p>");
            skins_list.append(skin_white_light);

            demo_settings.append(skins_list);

            tab_pane.append(demo_settings);
            $("#control-sidebar-home-tab").after(tab_pane);

            setup();
        };
        function setup() {
            var tmp = get('skin');
            if (tmp && $.inArray(tmp, my_skins))
                change_skin(tmp);

            //Add the change skin listener
            $("[data-skin]").on('click', function (e) {
                if ($(this).hasClass('knob'))
                    return;
                e.preventDefault();
                change_skin($(this).data('skin'));
            });

            //Add the layout manager
            $("[data-layout]").on('click', function () {
                change_layout($(this).data('layout'));
            });

            $("[data-controlsidebar]").on('click', function () {
                change_layout($(this).data('controlsidebar'));
                var slide = !AdminLTE.options.controlSidebarOptions.slide;
                AdminLTE.options.controlSidebarOptions.slide = slide;
                if (!slide)
                    $('.control-sidebar').removeClass('control-sidebar-open');
            });

            $("[data-sidebarskin='toggle']").on('click', function () {
                var sidebar = $(".control-sidebar");
                if (sidebar.hasClass("control-sidebar-dark")) {
                    sidebar.removeClass("control-sidebar-dark")
                    sidebar.addClass("control-sidebar-light")
                } else {
                    sidebar.removeClass("control-sidebar-light")
                    sidebar.addClass("control-sidebar-dark")
                }
            });

            $("[data-enable='expandOnHover']").on('click', function () {
                $(this).attr('disabled', true);
                AdminLTE.pushMenu.expandOnHover();
                if (!$('body').hasClass('sidebar-collapse'))
                    $("[data-layout='sidebar-collapse']").click();
            });
        };
        function change_skin(cls) {
            $.each(my_skins, function (i) {
                $("body").removeClass(my_skins[i]);
            });

            $("body").addClass(cls);
            store('skin', cls);
            var pifu = "#1ABC9C";
            var cssURL = "@SiteUrl.GetStaticResourceScriptUrl("~/css/skins/framework-theme-blue.css")";  //~/Content/css/framework-theme.css
            switch (cls) {
                case "skin-black": pifu = "#383d41"; cssURL = "@SiteUrl.GetStaticResourceScriptUrl("~/css/skins/framework-theme-blue.css")"; break;

                case "skin-red": pifu = "#e98a7e"; cssURL = "@SiteUrl.GetStaticResourceScriptUrl("~/css/skins/framework-theme-red.css")"; break;
                    @*case "skin-white": pifu = "#f39c12"; cssURL = "@SiteUrl.GetStaticResourceScriptUrl("~/css/skins/framework-theme-yellow_tab.css")"; break*@
                case "skin-purple": pifu = "#9895c6"; cssURL = "@SiteUrl.GetStaticResourceScriptUrl("~/css/skins/framework-theme-purple.css")"; break;
                case "skin-green": pifu = "#1ABC9C"; cssURL = "@SiteUrl.GetStaticResourceScriptUrl("~/css/skins/framework-theme-blue.css")"; break;
                case "skin-black-light": pifu = "#383d41"; cssURL = "@SiteUrl.GetStaticResourceScriptUrl("~/css/skins/framework-theme-blue-left.css")"; break;
                case "skin-black-light": pifu = "#fff"; break;
                case "skin-red-light": pifu = "#e98a7e"; cssURL = "@SiteUrl.GetStaticResourceScriptUrl("~/css/skins/framework-theme-red-left.css")"; break;
                case "skin-white-light": pifu = "#fff"; cssURL = "@SiteUrl.GetStaticResourceScriptUrl("~/css/skins/framework-theme-yellow.css")"; break;
                case "skin-purple-light": pifu = "#9895c6"; cssURL = "@SiteUrl.GetStaticResourceScriptUrl("~/css/skins/framework-theme-purple-left.css")"; break;
                case "skin-green-light": pifu = "#1ABC9C"; cssURL = "@SiteUrl.GetStaticResourceScriptUrl("~/css/skins/framework-theme-green-left.css")"; break;
                default: break;
            }
            $("#header-navbar").css("background", pifu);
            $("#color-skin").attr("href", cssURL);
            setlocalStorage("cssPath", cssURL); //localstorage
            return false;
        };
        function change_layout(cls) {
            $("body").toggleClass(cls);
            AdminLTE.layout.fixSidebar();
            //Fix the problem with right sidebar and layout boxed
            if (cls == "layout-boxed")
                AdminLTE.controlSidebar._fix($(".control-sidebar-bg"));
            if ($('body').hasClass('fixed') && cls == 'fixed') {
                AdminLTE.pushMenu.expandOnHover();
                AdminLTE.layout.activate();
            }
            AdminLTE.controlSidebar._fix($(".control-sidebar-bg"));
            AdminLTE.controlSidebar._fix($(".control-sidebar"));
        };
        function store(name, val) {
            if (typeof (Storage) !== "undefined") {
                localStorage.setItem(name, val);
            } else {
                window.alert('Please use a modern browser to properly view this template!');
            }
        };
        function get(name) {
            if (typeof (Storage) !== "undefined") {
                return localStorage.getItem(name);
            } else {
                window.alert('Please use a modern browser to properly view this template!');
            }
        }


        function AppOnclick(appId)
        {
            window.location.href = "/Home/GenerateToken?appId=" + appId;
        }
    </script>
</body>
</html>
