@using Newtouch.Infrastructure;
@using Newtouch.Tools;
@{
	Layout = null;
	Layout = "~/Views/Shared/_Index.cshtml";
}


<form>
	<div class="panel panel-default">
		<div class="panel-heading navb-bg">
			筛选条件
		</div>
		<table class="form">
			<tr>
				<th class="formTitle"></th>
				<td class="formValue" colspan="2">
					<input type="radio" name="radios" class="radios" value="qb" checked="checked">全部
					<input type="radio" name="radios" class="radios" value="yd">已对码
					<input type="radio" name="radios" class="radios" value="wd">未对码
				</td>
				<th class="formTitle">材料名称：</th>
				<td class="formValue" colspan="2">
					<input id="txt_keyword" type="text" style="width:200px;" class="form-control form-an" placeholder="材料名称">
				</td>
				<td class="formValue">
					<input type="button" id="btn_search" class="btn btn-primary" style="width:36%;margin-left: 10%;" value="查询" />
				</td>
				<th class="formTitle"></th>
				<td class="formValue"></td>
				<th class="formTitle"></th>
				<td class="formValue"></td>
			</tr>
		</table>
	</div>
	<div class="gridPanel">
		<table id="gridList"></table>
		<div id="gridPager"></div>
	</div>
	<div class="panel panel-default">
		<div class="toolbar" style="margin-left:2%">
			<div class="btn-group">
				<label>数据源：</label>
			</div>
			<div class="btn-group">
				<select id="DataSource" name="DataSource"  style="width:200px; height:15px;"  class="form-control form-an">
					<option value="1">系统视图</option>
					<option value="2">医保下载目录</option>
				</select>
			</div>
			<div class="btn-group">
				<label>医保耗材名称：</label>
			</div>
			<div class="btn-group">
				<input id="txt_gjybdm" type="text" style="width:200px; height:20px;" class="form-control form-an" placeholder="医保耗材名称">
			</div>
			<div class="btn-group">
				<label>注册备案号：</label>
			</div>
			<div class="btn-group">
				<input id="txt_pzwh" type="text" style="width:200px; height:20px;" class="form-control form-an" placeholder="医保注册备案号">
			</div>
			<div class="btn-group">
				<label>耗材企业：</label>
			</div>
			<div class="btn-group">
				<input id="txt_scqy" type="text" style="width:200px; height:20px;" class="form-control form-an" placeholder="医保耗材企业">
			</div>
			<div class="btn-group">
				<input type="button" id="btn_searchyb" class="btn btn-primary" value="查询"/>
			</div>
			<div class="btn-group">
				<input type="button" id="btn_save" class="btn btn-primary" value="对码"/>
			</div>
		</div>
		@*<table class="form">
			<tr>
				<th class="formTitle">耗材代码：</th>
				<td class="formValue" colspan="3">
					<input id="txt_gjybdm" type="text" style="width:300px;" class="form-control form-an" placeholder="耗材代码">
				</td>

				<td class="formValue" colspan="2">
					<input type="button" id="btn_searchyb" class="btn btn-primary" style="width:36%;margin-left: 10%;" value="查询" />
				</td>
				<td class="formValue" colspan="2">
					<input type="button" id="btn_save" class="btn btn-primary" style="width:36%;margin-left: 10%;" value="对码" />
				</td>
				<th class="formTitle"></th>
				<td class="formValue"></td>
				<th class="formTitle"></th>
				<td class="formValue"></td>
			</tr>
		</table>*@
	</div>
	<div style="background-color: #fff; margin-top:5px;">
		<table id="gridJSMXList"></table>
	</div>
</form>


<script>
	$(function () {
		gridList();
		$("#btn_searchyb").click(function () {
			$('#gridJSMXList').jqGrid("clearGridData");//先清空明细
			btn_selectmx();
		});

		$("#btn_save").click(function () {

			btn_save();
		});
	});
	function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "@Url.Action("Getclxxlist")",
			height: 240,
            postData: getpostData(),
              colModel: [
				  { label: "主键", name: "sfxmId", hidden: true, key: true },
				{ label: '耗材名称', name: 'ypmc', width: 200, align: 'center',  sortable: false, frozen: true},
				{ label: "国家医保代码", name: "gjybdm", width: 180, align: 'center', sortable: false, frozen: true},
				{ label: "国家医保名称", name: "gjybmc", width: 200, align: 'center', sortable: false },
				{ label: '规格', name: 'gg', width: 110, align: 'center', sortable: false},
				  { label: '批准文号', name: 'ypzsm', width: 140, align: 'center', sortable: false },
				//{ label: '剂型', name: 'jxmc', width: 60, align: 'center', sortable: false },
				{ label: '生产厂商', name: 'ycmc', width: 180, align: 'center', sortable: false },
				{
					label: '自负性质', name: 'zfxz', width: 60, align: 'center', sortable: false, formatter: function (cellvalue, a, b) {
						switch (parseInt(b.zfxz)) {
						case @((int)EnumZiFuXingZhi.ZF):
                            return "@EnumZiFuXingZhi.ZF.GetDescription()";
						case @((int)EnumZiFuXingZhi.Jia):
							return "@EnumZiFuXingZhi.Jia.GetDescription()";
						case @((int)EnumZiFuXingZhi.Yi):
							return "@EnumZiFuXingZhi.Yi.GetDescription()";
						case @((int)EnumZiFuXingZhi.Bing):
                            return "@EnumZiFuXingZhi.Bing.GetDescription()";
						default:
                            return "";
                        }
					}
				},
				{ label: "医保代码", name: "ybdm", width: 110, align: 'center', sortable: false },
				{ label: '拼音码', name: 'py', width: 100, align: 'center', sortable: false },
				{ label: "材料编码", name: "sfxmcode", width: 100, align: 'center', sortable: false },
			],
            pager: "#gridPager",
            sortname: ' CreateTime desc',
            viewrecords: true,
            onSelectRow_page: function (rowid) {
                btn_selectrow();
            },
            gridComplete: function (gridJszbList) {
                jszbList = null;
                if (gridJszbList && gridJszbList.rows) {
                    jszbList = gridJszbList.rows;
                }
            }
        });

        $("#btn_search").click(function () {
            $('#gridJSMXList').jqGrid("clearGridData");//先清空明细
            $gridList.jqGrid('setGridParam', {
                postData: getpostData(),
                page: 1,
			}).trigger('reloadGrid');
			$("#txt_gjybdm").val("");
			$("#txt_pzwh").val("");
			$("#txt_scqy").val("");
        });
	}


	//结算明细 jGrid声明
	$('#gridJSMXList').newtouchLocalDataGrid({
		height: $(window).height() - 520,
		caption: "医保耗材信息",
		unwritten: false,
		colModel: [
			{ label: '国家耗材代码', name: 'hcdm', width: 180, align: 'center' },
			//{ label: '医保名称', name: 'zcmc', width: 200, align: 'center' },
			{ label: '医保耗材名称', name: 'djcpmc', width: 80, align: 'center' },
			{ label: '规格型号数', name: 'ggxhs', width: 100, align: 'center' },
			{ label: '耗材企业', name: 'hcqy', width: 180, align: 'center' },
			{ label: '注册备案号', name: 'zcbah', width: 130, align: 'center' },
			{ label: '注册备案人', name: 'zcbar', width: 180, align: 'center' },
			{ label: '医保性质', name: 'ybxz', width: 80, align: 'center'},
			{ label: '医保通用名', name: 'ybtym', width: 120, align: 'center' },
			{ label: '材质', name: 'cz', width: 100, align: 'center' },
			{ label: '特征', name: 'tz', width: 80, align: 'center' },
			{ label: '拼音码', name: 'pym', width: 80, align: 'center' },
			{ label: '一级分类', name: 'yjfl', width: 140, align: 'center' },
			{ label: '二级分类', name: 'ejfl', width: 120, align: 'center' },
			{ label: '三级分类', name: 'sjfl', width: 100, align: 'center' },
			//{ label: '最小包装数量', name: 'zxbzsl', width: 40, align: 'center' },
			//{ label: '最小制剂单位', name: 'zxzjdw', width: 40, align: 'center' },
			//{ label: '最小包装单位', name: 'zxbzdw', width: 80, align: 'center' },
			//{ label: '编号', name: 'bh', width: 80, align: 'center' },


		],
		viewrecords: true,
		//ondblClickRow: function (row) {
		//	btn_clickrow();
		//}
	});

	function btn_selectmx() {

		var ypid = $("#gridList").jqGrid('getGridParam', 'selrow');
		if (!ypid) {
			$.modalMsg("请选择需要对码的材料信息", "warning", 1000);
			return false;
		}
		console.log($("#txt_gjybdm").val());
		var pzwh = $("#txt_pzwh").val();
		var scqy = $("#txt_scqy").val();
		$('#gridJSMXList').jqGrid("clearGridData");
		$.najax({
			type: "POST",
			url: "@Url.Action("GetYbclxxlist")",
			data: { gjybdm: $("#txt_gjybdm").val(), ypmc: scqy, py: '', pzwh: pzwh,dataSource: $("#DataSource").val() },
			dataType: "json",
			success: function (ajaxresp) {

				$('#gridJSMXList').newtouchLocalDataGrid(null, ajaxresp);
			}
		});
	}
	function btn_selectrow() {
		var gjybdm = $("#gridList").jqGridRowValue().gjybdm;
		var ypmc = $("#gridList").jqGridRowValue().sfxmmc;
		var yppy = $("#gridList").jqGridRowValue().py;
		var pzwh = "";//$("#gridList").jqGridRowValue().pzwh;
		if (gjybdm != null && gjybdm != "") {
			$("#txt_gjybdm").val(gjybdm)
		} else {
			$("#txt_gjybdm").val(ypmc);
		}
		$("#txt_pzwh").val("");
		$("#txt_scqy").val("");
		console.log(gjybdm);
		//每次单击，先清空上一条明细 和合计
		$('#gridJSMXList').jqGrid("clearGridData");
		$.najax({
			type: "POST",
			url: "@Url.Action("GetYbclxxlist")",
			data: { gjybdm: $("#txt_gjybdm").val(), ypmc: '', py: '', pzwh: '' ,dataSource: $("#DataSource").val()},
			dataType: "json",
			success: function (ajaxresp) {
				$('#gridJSMXList').newtouchLocalDataGrid(null, ajaxresp);
			}
		});
	}


	//保存对码
	function btn_save() {

		var ypids = $("#gridList").jqGrid('getGridParam', 'selrow');
		if (!ypids) {
			$.modalMsg("请选择需要对码的材料信息", "warning", 1000);
			return false;
		}
		var ybid = $("#gridJSMXList").jqGrid('getGridParam', 'selrow');
		if (!ybid ){
			$.modalMsg("请选择医保材料信息", "warning", 1000);
			return false;
		}
		var ybxx = {
			hcdm: $("#gridJSMXList").jqGridRowValue().hcdm,
			djcpmc: $("#gridJSMXList").jqGridRowValue().djcpmc,
			zcbah: $("#gridJSMXList").jqGridRowValue().zcbah,
			ybxz: $("#gridJSMXList").jqGridRowValue().ybxz,
		};
		var ypId = $("#gridList").jqGridRowValue().sfxmId;
		var ybxz = ybxx.ybxz == "甲" ? "4" : ybxx.ybxz == "乙" ? "5" : ybxx.ybxz == "丙" ? "6" : "1";
		console.log(ypId);
		$.najax({
			type: "POST",
			url: "@Url.Action("SaveYpcl")",
			data: { ybxx: ybxx, ypId: ypId},
			dataType: "json",
			success: function (data) {

				if (data != null && data !== "") {
					//gridList();
					$.modalAlert("该材料对码成功", 'success');
					//$("#txt_gjybdm").val("");
					//$('#btn_search').trigger('click');
					$("#txt_pzwh").val("");
					$("#txt_scqy").val("");
					var datarow = {
						gjybdm: $("#gridJSMXList").jqGridRowValue().hcdm,
						gjybmc: $("#gridJSMXList").jqGridRowValue().djcpmc,
						pzwh: $("#gridJSMXList").jqGridRowValue().zcbah,
					};
					$("#gridList").jqGrid('setRowData', ypids, datarow);
				}
			}
		});
	}


	function getpostData() {
		return {
			keyword: $("#txt_keyword").val(), type: $('input:radio:checked').val() ,dataSource: $("#DataSource").val()
		};
	}

</script>