<!DOCTYPE html>

<html>
<head>
    <title>瓶贴</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        table {
            font-size: 12px;
            margin: 0 auto;
        }

        th {
            text-align: right;
            padding: 0;
            margin: 0;
        }

        #imgqr {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        #tb_pat td {
            text-align: left;
            padding: 0;
            margin: 0;
        }

        #tb_yp th, td {
            text-align: center;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <table id="tb_pat">
        <tr>
            <th style="width:37px;">姓名：</th>
            <td style="width:50px;">@ViewBag.patInfo.patientName</td>
            <th style="width:55px;">床/座号：</th>
            <td style="width:75px;">@ViewBag.patInfo.seatNum</td>
            <th rowspan="3" style="width: 50px; height: 49px;">
                <img id="imgqr" src="@ViewBag.src" />
            </th>
        </tr>
        <tr>
            <th>年龄：</th>
            <td></td>
            <th>配药：</th>
            <td>@ViewBag.patInfo.dispenserName</td>
        </tr>
        <tr>
            <th>执行：</th>
            <td>@ViewBag.patInfo.executorName</td>
            <th>时间：</th>
            <td></td>
        </tr>
        <tr><td style="border-bottom:1px solid #000000;border-top:1px solid #000000; padding:1px 0;" colspan="5"></td></tr>
    </table>
    <table id="tb_yp">
        <tr>
            <th style="width:100px;">药品</th>
            <th style="width:52px;">规格</th>
            <th style="width:40px;">用量</th>
            <th style="width:40px;">数量</th>
            <th style="width:40px;">剂量</th>
        </tr>
        <tr><td style="border-bottom:1px solid #000000; padding:1px 0;" colspan="5"></td></tr>
@foreach (var item in ViewBag.drugs)
{
    if (item != null)
    {
        <tr>
            <td>@item.ypmc</td>
            <td>@item.ypgg</td>
            <td>@item.ylStr</td>
            <td>@item.slStr</td>
            <td>@item.jlStr</td>
        </tr>
    }
}        
    </table>
</body>
</html>